













<ul>



	<li><a href="/za/en/manageMyTrip/Visas/visa_and_passport_info.html">Visa and Passport Information</a></li>



	<li><a href="/za/en/planmytrip/travelAdvisory/sa-immigration-under-18.html">NEW: SA immigration changes for children</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/SAA-and-Mango-codeshare.html">South African Airways & Mango codeshare</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/checkinInfo.html">Essential check-in information</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/closureTimes.html">Flight & boarding gate closure times</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/delayedDamagedBaggage.html">Baggage tracking</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/YellowFever.html">Yellow fever advisory</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/SAA-Environment.html">SAA and the environment</a></li>



	<li><a href="/za/en/flyingSAA/News/SAA_launches_new_mobile_applications.html">SAA launches newly developed mobile applications</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/PolioVaccination.html">Polio Vaccination</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/brazil_cuurrency_restricions.html">Brazil Currency Restrictions</a></li>



	<li><a href="/za/en/essentialInfo/essentialinfo/Ebola.html">Ebola Virus Disease</a></li>


</ul>
	 
	
