html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,#voyager .out,#voyager .out,.ui-helper-clearfix{display:block}
.block .blueBox a,.ie6 .essInfo a,.ie6 a.button.silver,.essInfo li a:hover{color:#444}
#savedID,#id_etkt,.ie6 .ntfArea span,.ie6 .ntfMore span,.specialsWrap .heading,.linkselectContainer .title,.block .ui-tabs-hide,.block .iconInfo span,#voyager .in,#ui-datepicker-div,.ui-helper-hidden,#savedID,#display_language,#user_location,#long_location,.modal,.infoPopup,#id_ffsa,.block #NoFlight,#msgAlertDiv{display:none}

.ie6 .ieNotice{display:block}

table{border-collapse:collapse;border-spacing:0}
input,select{vertical-align:middle}
body{font:12px/1.231 sans-serif;*font-size:small}
select,input,textarea,button{font:99% sans-serif}
pre,code,kbd,samp{font-family:monospace,sans-serif}
html.flysaa{overflow-y:scroll}
a:hover,a:active{cursor:pointer;outline:none}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{margin:0;list-style:none;list-style-image:none}
strong,th{font-weight:700}
td{vertical-align:top}
input[type="radio"]{vertical-align:text-bottom;background:#5c8cbb;border:none}
input[type="checkbox"]{vertical-align:bottom;background:#5d81a6;border:none}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}
button,input,select,textarea{margin:0}
::-moz-selection{background:#3aaaeb;color:#fff;text-shadow:none}
::selection{background:#3aaaeb;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#3aaaeb}
button{width:auto;overflow:visible}
body,select,input,textarea{font-family:Arial,sans-serif;color:#444}
h1,h2,h3,h4,h5,h6{font-weight:700}
a,a:active,a:visited{color:#444;outline:none}
a:hover,#siteHeader nav a:hover,#midMenu a:hover,.flexibility label:hover,#LoL .forgetLoc a:hover,.block a.morePaxLink.highlight:hover,.block .mobi strong,.block .ui-tabs-selected a,#voyager .col a:hover
{color:#fff}
input[type="radio"]{cursor:pointer}

#siteHeader,#siteHeader .navSelected a,.logo,.siteFooter,.socialLinks a,.dropLoc,.dropLoc span,a.vButton,a.vButton span,.ntfMore span,.vIcon span,.ntfIcon,.ntfArea span,#specials header,#specials header a,#specials header a span,.map,.headerSearch .searchInput,.headerSearch .searchButton,#voyager form,#voyager .vLogo,#LoL article li a.active,#LoL article li a:hover,#checkInWrap span,#schedWrap span,.block .calendar .title,.ui-datepicker .ui-datepicker-header,.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-current-day a,.regionLang .linkselectLink,.ieNotice span.browsers,a.button.greenUgly,a.button.greenUgly span,a.button.brownUgly,a.button.brownUgly span,.essInfo .head,.pin,.ui-datepicker .ui-datepicker-calendar a.ui-state-hover,#voyForgotPassword article,#voyForgotPassword .close,#voyager .ui-dialog-titlebar-close
{background-image:url(../images/splashhome/sprite-home.png)}

a.button,a.button span,#bb .tabs li,#mb .tabs li,.linkselectLink,.linkselectDisabled,.checkStyle,.calWrap,.ui-button-icon,.chkContainer label span,.block .tabGradient,.block .iconInfo,.block ul li.sep
{background-image:url(../images/splashhome/sprite-bb.png)}

html,body,.siteWrap{height:100%;min-width:800px}
.wrap{min-height:100%}
body.home{background:#4676a7}
.container{padding-bottom:70px;position:relative}
.siteFooter{position:relative;border-top:1px solid #608cba;margin:-52px 0 0 0;background-color:#3a5f85;font-size:11px}
#snoopy{position:absolute;display:block;left:5px;bottom:5px;height:12px;line-height:12px;color:#3a5f85;cursor:help}
input{background:#fff;width:auto;border:1px solid #c7d2e1;height:15px;padding:2px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;outline:0}

.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.siteWidth{width:974px;min-width:946px;margin:0 auto}
.clr{clear:both;font-size:0;height:0;line-height:0}
.floatLeft{float:left}
.floatRight{float:right}




body.home{background-color:#4575a5;background-repeat:repeat-x;background-image:url(../images/splashhome/fade.png);background-image:-webkit-gradient(linear,left top,left bottom,from(#a3c7f8),to(#4575a5));background-image:-moz-linear-gradient(top,#a3c7f8,#4575a5);background-image:-o-linear-gradient(top,#a3c7f8,#4575a5)}


#pageTop{height:100px}
#pageTop .logoContainer{float:left;margin:20px 0 0 15px;z-index:1}
#sitefx{position:absolute;top:34px;left:50%;margin:0 0 0 -473px;z-index:-1}
#sitefx .glow{position:absolute;width:334px;height:226px;background:url(../images/splashhome/glow.png);top:-37px;left:-95px}
#sitefx .map{position:absolute;top:0;right:-50px;width:268px;height:150px;background-position:0 -209px}
#warnings{position:absolute;left:50%;top:34px;height:104px;width:560px;display:table;margin:0 0 0 -280px}
#warnings .wrap{display:table-cell;vertical-align:middle;text-align:center}
.checkStyle{display:inline-block;width:13px;height:13px;background-position:-60px -680px}
.checkStyle.checked{background-position:-40px -680px}
#blocks{position:relative;margin:-200px auto 20px auto}
#blocks #bb,
#blocks #mb{float:left;width:281px;height:336px;margin-right:10px}
#blocks #mb{margin:0}
#blocks #midSpace{float:left;width:356px;height:340px;margin-right:10px}
#blocks #adSpaceImage{width:352px;height:200px;margin-bottom:10px;border:2px solid #fff;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;-webkit-box-shadow:0 0 4px #265584;background:#699CCE}
#adSpaceImage a{display:block;height:100%;width:100%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}


.loadingIndicator,
#banners .chip{background:#699cce url(../images/splashhome/loading.gif) 50% 50% no-repeat}
#banners .chip{position:relative;width:216px;height:102px;border:2px solid #fff;float:left;margin-right:22px;box-shadow:0 0 4px #265584;-webkit-box-shadow:0 0 4px #265584;-moz-box-shadow:0 0 4px #265584;border-radius:12px;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px}
#banners .chip.last{margin-right:0px}
.amountPax div{float:left;width:87px}
.amountPax .adults,.amountPax .children{margin:0 4px 0 0}
.amountPax .infants{width:88px}
#bb,#mb{overflow:hidden;position:relative}
.loadingIndicator{position:absolute;width:100%;height:100%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;z-index:1}
.hidePassenger{display:none!important}
input:-moz-placeholder,isindex:-moz-placeholder,textarea:-moz-placeholder{color:darkGrey}
.chkContainer{position:relative;height:25px;cursor:pointer;overflow:hidden;width:71px;display:block;background-color:#32445a;background-image:-moz-linear-gradient(100% 0% 270deg,#172536,#536880);background-image:-webkit-gradient(linear,left top,left bottom,from(#172536),to(#536880));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-bottom:1px solid #a7caed}
.chkContainer input{position:absolute;top:5px;left:30px;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
.chkContainer label{cursor:pointer;display:block;text-indent:-999em;height:25px;position:absolute;width:auto;top:0;width:30px;overflow:hidden;box-shadow:0 1px 2px #a7caed;-webkit-box-shadow:0 1px 2px #a7caed;-moz-box-shadow:0 1px 2px #a7caed}
.chkContainer,.chkContainer label{user-select:none;-moz-user-select:none;-khtml-user-select:none}
label.chkLabelYes{left:0}
label.chkLabelNo{right:0}
.chkContainer label span{position:absolute;top:8px;display:block;height:13px;width:14px}
label.chkLabelYes span{left:13px;background-position:-100px -700px}
label.chkLabelNo span{right:12px;background-position:-80px -700px}
.chkHandle{display:block;height:22px;cursor:pointer;position:absolute;top:1px;left:0;width:0;margin:0 1px;border-top:1px solid #fff;box-shadow:inset 0 1px 2px #fff,0 1px 5px #143058;-webkit-box-shadow:inset 0 1px 2px #fff,0 1px 5px #143058;-moz-box-shadow:inset 0 1px 2px #fff,0 1px 5px #143058;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#f2f7fe;background-image:-moz-linear-gradient(100% 0% 270deg,#f2f7fe,#bdc4cd);background-image:-webkit-gradient(linear,left top,left bottom,from(#f2f7fe),to(#bdc4cd))}
.chkHandle:hover{background-color:#eee;box-shadow:inset 0 0 2px #fff,0 1px 5px #143058;-webkit-box-shadow:inset 0 0 2px #fff,0 1px 5px #143058;-moz-box-shadow:inset 0 0 2px #fff,0 1px 5px #143058;background-image:-moz-linear-gradient(100% 0% 270deg,#ddd,#f2f7fe);background-image:-webkit-gradient(linear,left top,left bottom,from(#ddd),to(#f2f7fe))}
.chkHandleRight,
.chkHandleCenter{height:100%;width:100%}

#specials .loadingIndicator{background:#fff url(../images/splashhome/processing.gif) 50% 50% no-repeat}

.toggleButton{position:relative;height:25px;cursor:pointer;overflow:hidden;width:40px;display:block;background-color:#32445a;background-image:-moz-linear-gradient(100% 0% 270deg,#172536,#536880);background-image:-webkit-gradient(linear,left top,left bottom,from(#172536),to(#536880));border-bottom:1px solid #a7caed;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}

.toggleButton,.toggleButton span{user-select:none;-moz-user-select:none;-khtml-user-select:none}
.toggleButton span{position:absolute;left:13px;top:8px;display:block;height:13px;width:14px;padding:0}

.toggleButton span{background-position:-80px -700px}
.toggleButton.ui-state-active span{background-position:-100px -700px}

.infoPop{width:17em;float:left;margin-left:5px;position:absolute;padding:3px 3px;color:#444;text-shadow:0 1px 0 #fff;border:solid 1px #f90;max-width:400px;border-radius:3px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;background-color:#fff;box-shadow:-1px 1px 2px #3a6999}
.infoPop p:nth-child(even){font-weight:normal;border-bottom:1px solid #eee;line-height:18px}
.infoPop p:nth-child(odd){font-weight:700;border-bottom:1px solid #eee;line-height:22px;padding:1px 5px}
.infoPop p:nth-child(1){padding:0 0 3px 15px;margin:0 0 0 -11px;border:none}
.infoPop p:nth-child(2){border-top:solid 1px #eee}
#siteHeader{position:relative;z-index:1;width:100%;height:36px;background-position:0 -86px}
#siteHeader nav,#siteHeader nav li,#siteHeader nav li a,.logoContainer,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-multi .ui-datepicker-group,.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
#siteHeader nav li{height:30px;padding:6px 0 0 0}
#siteHeader nav li a{height:20px;padding:6px 15px 4px 15px;text-decoration:none;color:#e6effd;text-shadow:0 1px 2px #1a3457;font-weight:700}

#siteHeader .navSelected{height:28px;padding:8px 0 0 0}
#siteHeader .navSelected a{background-position:0 -135px;height:19px;padding:7px 15px 1px 15px;color:#335e97;text-shadow:0 1px 1px #fff;border:1px solid #e6effd;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px}
#siteHeader .navSelected a:hover{color:#335e97}
.headerSearch{float:right;width:200px}
.headerSearch .searchInput{margin:5px 0;border:none;width:150px;height:24px;background-color:transparent;background-position:-1px -166px;padding:0 10px 0 23px;outline:none;*line-height:23px;*margin-top:5px}
.headerSearch .searchButton{width:15px;height:15px;border:none;background-color:transparent;background-position:-1px -192px;margin:9px 0 0 0}
.headerSearch .searchButton:hover{background-position:-17px -192px}
.headerSearch .searchButton:active{background-position:-32px -192px}
.logo{width:149px;height:77px}
.siteFooter{width:100%;background-color:#3a5f85;text-align:center;background-position:0 -496px;background-repeat:repeat-x;font-family:Arial,Helvetica,sans-serif}
#copyright{float:left;clear:both;line-height:51px;color:#76abe2;width:160px}
.siteFooter nav{float:left;height:51px;width:700px}
.siteFooter nav ul{text-align:center;display:table-cell;vertical-align:middle;height:51px;width:700px}
.siteFooter nav ul li{float:left}
.siteFooter nav a{text-decoration:none;display:block;padding:3px 10px;white-space:nowrap;break-inside:avoid;color:#76abe2}
.siteFooter nav a:hover{color:#a4d2ff}
.socialLinks{width:110px;float:right}
.socialLinks .windowstore{margin:5px 5px 0;float:left;width:16px;height:16px;background-position:-473px -4px}
.socialLinks .googleplus{margin:10px 5px 0;float:left;width:16px;height:16px;background-position:-456px -4px}
.socialLinks .pinterest{margin:5px 5px 0;float:left;width:16px;height:16px;background-position:-437px -4px}
.socialLinks .googleplay{margin:5px 5px 0;float:left;width:16px;height:16px;background-position:-399px -4px}
.socialLinks .applestore{margin:5px 5px 0;float:left;width:16px;height:16px;background-position:-419px -4px}
.socialLinks .facebook{margin:10px 5px 0;float:left;width:16px;height:16px;background-position:-168px 0px}
.socialLinks .facebook:hover{float:left;width:16px;height:16px;background-position:-150px 0px;cursor:pointer}
.socialLinks .twitter{margin:10px 5px 0;float:left;width:16px;height:16px;background-position:-359px -4px}
.socialLinks .twitter:hover{float:left;width:16px;height:16px;background-position:-379px -4px;cursor:pointer}
.socialLinks .rss{margin:10px 5px 0;float:left;width:16px;height:16px;background-position:-150px -34px}
.socialLinks .rss:hover{float:left;width:16px;height:16px;background-position:-168px -34px;cursor:pointer}
#midMenu .last a.button{padding:0 20px 0 0;margin:4px 3px 0 0;color:#fff;cursor:pointer}
#midMenu .essentialInfo{background-position:100% -217px;text-shadow:0 -1px 0 #af6b00}
#midMenu .essentialInfo:hover{background-position:100% -240px}
#midMenu .essentialInfo:active{background-position:100% -262px}
#midMenu .essentialInfo span{background-position:0 -217px;padding:3px 5px 7px 8px}
#midMenu .essentialInfo:hover span{background-position:0 -240px}
#midMenu .essentialInfo:active span{background-position:0 -262px;padding:4px 5px 6px 8px}
#midMenu{position:relative;height:231px;background:url(../images/splashhome/midMenuFade.png) 50% 30px no-repeat}
#midMenu nav{float:left;width:100%;overflow:hidden}
#midMenu ul{float:left;position:relative;left:50%}
#midMenu li{position:relative;right:50%;float:left;background:#4e80bf;height:31px;border-top:1px #b8cce5 solid}
#midMenu .first{width:5px;border-top-left-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px}
#midMenu .last{border-top-right-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px}
#midMenu li a{float:left;text-decoration:none;color:#e4efff;text-shadow:0 1px 1px #163c6c;padding:8px 10px}

.ntfWrap{height:26px;position:relative;margin:2px auto;display:inline-block;cursor:pointer;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;box-shadow:0 1px 2px #4879b3}
.ntfIcon{position:absolute;left:-13px;top:1px;width:22px;height:23px;background-position:0 -560px;z-index:2}
.ntfArea{float:left;position:relative;min-width:170px;padding:0 10px 0 12px;height:24px;line-height:24px;color:#444;text-shadow:0 1px 0 #fff;border:solid 1px #fff;border-right:0;white-space:nowrap;overflow:hidden;max-width:400px;font-weight:700;border-top-left-radius:3px;border-bottom-left-radius:3px;-webkit-border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-bottomleft:4px;-o-border-top-left-radius:4px;-o-border-bottom-left-radius:4px;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e6e6e6));background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(#fff,#e6e6e6);*width:350px;*overflow:hidden}
.ntfArea span{position:absolute;top:0;right:0;height:24px;width:30px;background-position:100% 0}
.ntfMore{height:24px;float:left;text-align:left;max-width:160px;text-decoration:none;padding:0 5px;line-height:24px;color:#000;text-shadow:0 1px 0 #ffd269;border:solid 1px #fff;border-left:0;border-top-right-radius:3px;border-bottom-right-radius:3px;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px;-o-border-top-right-radius:4px;-o-border-bottom-right-radius:4px;background-color:#f1a80d;background-image:-webkit-gradient(linear,left top,left bottom,from(#fdb519),to(#d99400));background-image:-moz-linear-gradient(top,#fdb519,#d99400);background-image:-o-linear-gradient(#fdb519,#d99400);*width:120px;*overflow:hidden}
.ntfMore span{float:right;height:8px;width:5px;background-position:-3px -640px;margin:8px 5px 0 10px}
.ntfWrap:hover .ntfMore,.ntfWrap:hover .ntfArea{background-image:none}

.essInfoWrap{display:none;position:absolute}
.essInfo{list-style:none;background:#eee;width:220px;min-height:50px;margin:0;float:left;padding:3px 0;border:solid 1px #f90;font-weight:700;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0 1px 3px #183e64;-o-border-radius:4px}
.essInfo .head{background-position:0 -655px;height:7px;width:11px;margin:-10px auto 3px auto;border:0}
.essInfo li{display:block;padding:0 10px;border-top:1px solid #fff;border-bottom:1px solid #ddd;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#e3e3e3));background-image:-moz-linear-gradient(top,#eee,#e3e3e3);background-image:-o-linear-gradient(#eee,#e3e3e3);-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in}
.essInfo li:nth-child(2){border-top:1px solid #eee}
.essInfo li:last{border-bottom:1px solid #eee}
.essInfo li a{width:100%;text-decoration:none;padding:5px 0;display:block;color:#444}
.essInfo li:not(.head):hover{background:#fff;border-bottom:1px solid #fff;box-shadow:0 0 3px #999;-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999;position:relative;z-index:2}

.essInfoWrap{position:absolute;top:30px;z-index:13;width:220px}

.linkselectLink,.linkselectDisabled{display:block;color:#444!important;text-decoration:noned;background-color:#fff;width:auto;border:1px solid #c7d2e1;height:15px;padding:2px;text-decoration:none;border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;background-position:100% -467px;padding-right:14px;-khtml-user-select:none;-o-user-select:none;-moz-user-select:none;-moz-user-focus:ignore;-moz-user-input:disable}
.linkselectLink:hover,a.linkselectLinkFocus,a.linkselectLinkOpen{outline:0;color:#444}
.linkselectLinkFocus,.linkselectLinkOpen{box-shadow:0 0 2px #274978;-webkit-box-shadow:0 0 2px #274978;-moz-box-shadow:0 0 2px #274978}
.linkselectContainer{position:absolute;left:0;top:0;display:none;margin-top:19px;max-width:500px;z-index:9}
.linkselectContainer .scrollable{width:auto;background-color:#fff;border:1px solid #c7d2e1;border-top:none;margin:0;padding:0px;font-size:11px;text-align:left;overflow:auto;max-height:216px;clear:both;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-o-border-bottom-left-radius:3px;-o-border-bottom-right-radius:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;box-shadow:0 1px 2px #274978;-webkit-box-shadow:0 1px 2px #274978;-moz-box-shadow:0 1px 2px #274978}

.linkselectContainer ul{margin:0}
.linkselectContainer ul li.current{background-color:#94c1ff;color:#fff}
.linkselectContainer ul li{display:block;margin:0;padding:2px;font-size:12px;cursor:pointer;-khtml-user-select:none;-o-user-select:none;-moz-user-select:none;-moz-user-focus:ignore;-moz-user-input:disabled;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
.linkselectContainer ul li span,
a.linkselectLink{zoom:1}

.linkselectContainer.destCity{width:271px!important}
.linkselectContainer.departDay,
.linkselectContainer.returnDay{width:40px!important}
.linkselectContainer.departMonthYear,
.linkselectContainer.returnMonthYear,
.linkselectContainer.pickMonthYear,
.linkselectContainer.dropoffMonthYear,
.linkselectContainer.checkinMonthYear,
.linkselectContainer.checkoutMonthYear{width:81px!important}
.linkselectContainer.statusDestCity,
.linkselectContainer.statusDepartCity{width:150px!important}
.linkselectContainer.statusDestCity .scrollable,
.linkselectContainer.statusDepartCity .scrollable{max-height:150px!important}
.linkselectContainer.IBoardPoint{width:270px!important}
.linkselectContainer.IBoardPoint .scrollable,
.linkselectContainer.departMonthYear .scrollable,
.linkselectContainer.returnMonthYear .scrollable,
.linkselectContainer.departDay .scrollable,
.linkselectContainer.returnDay .scrollable{max-height:100px!important}
.linkselectContainer.adultPop,
.linkselectContainer.childPop,
.linkselectContainer.hotelAdults,
.linkselectContainer.hotelChildren{width:87px!important}
.linkselectContainer.hotelInfants,
.linkselectContainer.infantPop{width:88px!important}
.linkselectContainer.pickUpTime,
.linkselectContainer.dropOffTime{width:55px!important}
.linkselectContainer.pickUpTime .scrollable,
.linkselectContainer.dropOffTime .scrollable{max-height:66px!important}
.linkselectContainer.pickDay,
.linkselectContainer.dropoffDay,
.linkselectContainer.checkinDay,
.linkselectContainer.checkoutDay{width:40px!important}
.linkselectContainer.pickMonthYear .scrollable,
.linkselectContainer.dropoffMonthYear .scrollable,
.linkselectContainer.checkinMonthYear .scrollable,
.linkselectContainer.checkoutMonthYear .scrollable,
.linkselectContainer.pickDay .scrollable,
.linkselectContainer.dropoffDay .scrollable,
.linkselectContainer.checkinDay .scrollable,
.linkselectContainer.checkoutDay .scrollable,
.linkselectContainer.hotelInfants .scrollable,
.linkselectContainer.infantPop .scrollable,
.linkselectContainer.adultPop .scrollable,
.linkselectContainer.childPop .scrollable,
.linkselectContainer.hotelAdults .scrollable,
.linkselectContainer.hotelChildren .scrollable{max-height:90px!important}

#dropLang{z-index:11;background-image:none}
.pin{float:right;height:32px;width:23px;background-position:-192px -176px;margin-top:-10px}
.dropLoc.selected span,
.dropLoc.selected:hover span{background-position:0 -188px}
.dropLoc.selected,
.dropLoc.selected:hover{background-position:100% -188px}
.regionCountry{position:relative;float:right;padding:35px 0 10px 0;z-index:3}
a.dropLoc{position:relative;z-index:2;height:26px;background-position:100% -741px;padding-right:25px;text-decoration:none;color:#fff;font-size:14px;text-shadow:0 1px 1px #183f70;cursor:pointer;white-space:nowrap}
a.dropLoc:hover{background-position:100% -767px}
a.dropLoc:active{background-position:100% -741px}
a.dropLoc span{float:left;height:16px;padding:4px 7px 6px 8px;background-position:0 -741px}
a.dropLoc:hover span{background-position:0 -767px}
a.dropLoc:active span{background-position:0 -741px}
.dropLoc.selected,
.dropLoc.selected:hover{background-position:100% -793px}
.dropLoc.selected span,
.dropLoc.selected:hover span{background-position:0 -793px}
/*dropLang*/
.regionLang{width:102px;cursor:pointer;position:relative;float:right;clear:right;z-index:2}
.regionLang p{height:19px;width:67px;padding:5px 25px 0 10px;font-size:11px;background:url(../images/splashhome/sprite-home.png) -190px 0 no-repeat;color:#444;border:none;text-shadow:0 1px 0 #fff;background-color:transparent;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.regionLang:hover p{padding-top:4px;border-top:1px solid #fff;width:66px;margin:0 0 0 1px;padding-left:9px;background-color:#e0e8f3;background-position:-191px -50px;box-shadow:0 1px 2px #274978;-webkit-box-shadow:0 1px 2px #274978;-moz-box-shadow:0 1px 2px #274978;border-bottom-left-radius:0;border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-bottomleft:0;-moz-border-bottomright:0}

#dropLang{display:none;position:absolute;z-index:11;margin:0 0 0 1px;width:100px;background-color:#e0e8f3;border-top:1px solid #eee;border-bottom-left-radius:4px;border-bottom-right-radius:4px;-webkit-border-bottom-radius:4px;-webkit-border-bottom-radius:4px;-moz-border-bottomright:4px;-moz-border-bottomleft:4px;box-shadow:0 1px 2px #274978;-webkit-box-shadow:0 1px 2px #274978;-moz-box-shadow:0 1px 2px #274978}
#dropLang li{background:none;border:1px solid #e0e8f3;font-size:11px;text-shadow:1px 0 0 #fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
#dropLang li:hover{text-shadow:none;background:#639be1}
#dropLang li a{display:block;padding:4px;text-decoration:none}
#dropLang li:hover a{color:#fff}
#dropLang .selected{display:none}

.regionLang:hover #dropLang{display:block}
article.about{width:860px;font-size:12px;line-height:16px;margin:0 auto 50px;color:#a4d2ff}
article.about h1{color:#fff}
article.about div{padding:10px 0 0 0;-moz-column-count:2;-moz-column-gap:30px;-webkit-column-count:2;-webkit-column-gap:30px;column-count:2;column-gap:30px}
article.about p{margin:0 0 10px 0}
.ie7 article.about p,.ie8 article.about p{float:left;width:415px;padding:0 10px 0 0}
#specials{position:relative;float:left;width:352px;background:#699cce;border:2px solid #fff;box-shadow:0 0 4px #265584;-moz-box-shadow:0 0 4px #265584;-webkit-box-shadow:0 0 4px #265584;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px}
#specials header{background-position:0 -94px;height:28px;-moz-border-radius-topleft:11px;-moz-border-radius-topright:11px;-webkit-border-top-left-radius:11px;-webkit-border-top-right-radius:11px;border-top-left-radius:11px;border-top-right-radius:11px}
#specials header h1{color:#fff;font-size:12px;line-height:28px;margin:0 0 0 10px;float:left}
#specials{height:122px;overflow:hidden}
#specials header a{float:right;color:#fff;font-weight:700;text-decoration:none;width:auto;height:auto;text-shadow:0 -1px 0 #285989;height:21px;background-position:100% -586px;padding:0 22px 0 0;margin:4px 3px 0 0}
#specials header a span{float:left;height:21px;line-height:20px;background-position:0 -586px;padding:0 10px}
#specials header a:hover{color:#fff;background-position:100% -607px}
#specials header a:hover span{background-position:0 -607px}
#specials header a:active{background-position:100% -586px}
#specials header a:active span{background-position:0 -586px}
#specials.viewAll{background:#ebebeb;background:-moz-linear-gradient(100% 0% 270deg,#fff,#ebebeb);background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ebebeb))}
#specials.viewAll header{background:none;padding:30px 0 0 0;text-align:center}
#specials.viewAll h1{margin:0;float:none;padding:0 0 7px 0;color:#5776a3;font-weight:normal;font-size:14px;text-shadow:0 1px 0 #fff}
#specials.viewAll span{color:#f90;font-weight:700}
#specials.viewAll a{float:none;display:inline-block}
#specials.viewAll a span{color:#fff}
.specialsWrap a{float:left;width:175px;height:46px;text-decoration:none}

.specialsWrap .specialRoute{color:#444;float:right;width:100px;height:36px;padding:10px 0 0 5px;background-color:#c1d7f3;background:-moz-linear-gradient(100% 0% 270deg,#c8def9,#bbd1ec);background:-webkit-gradient(linear,left top,left bottom,from(#c8def9),to(#bbd1ec))}
.specialsWrap .priceWrap{float:left;width:70px;height:38px;padding:8px 0 0 0;color:#aa8001;font-weight:700;font-size:13px;text-shadow:0 1px 0 #fff;text-align:center;background-color:#b8d1ef;background:-moz-linear-gradient(100% 0% 270deg,#bed7f5,#b3cce9);background:-webkit-gradient(linear,left top,left bottom,from(#bed7f5),to(#b3cce9));transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in}
.specialsWrap .specialDate{position:absolute;width:70px;text-align:center;font-size:11px;color:#8597a9;bottom:8px;left:0}
.specialsWrap .specialRoute .to{color:#8ea6be}
.specialsWrap a:hover .specialRoute{background-color:#c6ddf9;background:-moz-linear-gradient(100% 0% 270deg,#b3d1f7,#d6e6fb);background:-webkit-gradient(linear,left top,left bottom,from(#b3d1f7),to(#d6e6fb))}
.specialsWrap a:hover .priceWrap{color:#fff;text-shadow:0 1px 1px #3e5f8b;background-color:#abc9ec;background:-moz-linear-gradient(100% 0% 270deg,#9dc1eb,#b5d0ed);background:-webkit-gradient(linear,left top,left bottom,from(#9dc1eb),to(#b5d0ed))}
.specialsWrap a:nth-child(2){border-right:1px solid #a4b4ca;border-bottom:1px solid #a4b4ca}
.specialsWrap a:nth-child(3){border-left:1px solid #fff;border-bottom:1px solid #a4b4ca}
.specialsWrap a:nth-child(4){border-right:1px solid #a4b4ca;border-top:1px solid #fff}
.specialsWrap a:nth-child(5){border-left:1px solid #fff;border-top:1px solid #fff}
.specialsWrap a:nth-child(4) .priceWrap{-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px}
.specialsWrap a:nth-child(5) .specialRoute{-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px}
#bb,#mb{background:#699cce}
#banners{height:106px}
#bb input.invalid,#mb input.invalid,#voyager input.invalid{border-color:#f30;box-shadow:0 0 3px #f30;-webkit-box-shadow:0 0 3px #f30;-moz-box-shadow:0 0 3px #f30}
#status .fixedHeight{position:relative;height:211px;border-bottom:1px solid #225b7f}
#status .slider{float:right;margin:13px;width:45px}
#checkInWrap{display:none;margin:0 auto 20px auto;background:#fff;border:2px solid #fff;-moz-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;box-shadow:0 0 4px #265584;-webkit-box-shadow:0 0 4px #265584;-moz-box-shadow:0 0 4px #265584}
#checkInWrap iframe{width:946px;height:655px;margin:12px 0}
#checkInWrap span{cursor:pointer;display:none;float:right;width:25px;height:25px;margin:-12px -12px 0 0;background-position:-300px 0}
#checkInWrap span:hover{background-position:-330px 0}
#schedWrap{position:relative;width:996px;overflow:hidden;left:50%;display:none;margin:0 0 20px -498px;background:#fff;border:2px solid #fff;-moz-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;box-shadow:0 0 4px #265584;-webkit-box-shadow:0 0 4px #265584;-moz-box-shadow:0 0 4px #265584}
#schedWrap iframe{width:1056px;height:690px;margin:12px 0}
#schedWrap span{cursor:pointer;display:none;float:right;width:25px;height:25px;margin:0;background-position:-300px 0}
#schedWrap span:hover{background-position:-330px 0}
.flexibility{height:30px;background-color:#5c8cbb;width:100%;margin:0 0 5px 0}
.flexibility .exact,.flexibility .flex{float:left;width:50%;height:100%;*width:48%}
.flexibility .flex{display:none}
.flexibility label{float:left;height:100%;width:100%;line-height:30px;color:#e6effd}
.flexibility input{margin:0 5px 0 15px}

#bb .infoPopup{position:absolute;z-index:20;width:200px;left:50%;margin:50px 0 0 -100px;background:#eee;border:1px solid #f90;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0 3px #183E64;-webkit-box-shadow:0 0 3px #183E64;-moz-box-shadow:0 0 3px #183E64}
#bb .infoPopup header{color:#444;padding:5px;text-shadow:0 1px 0 #fff;border-bottom:1px solid #e7e7e7}
#bb .infoPopup div{color:#575757;padding:5px 10px;border-top:1px solid #fff}
#checkin .row label{display:block;padding-bottom:3px}
#checkin .checkInAddPax label{float:left;padding:0 1px}
#checkin .checkInAddPaxM label {
	float:left;
	padding:0 1px
}
#checkin .row input{float:left;width:264px}
#checkin .formOfID{float:left;width:232px}
#checkin #IIdentification{float:left;width:226px;margin:-25px 0 0 5px}
#status .actions{top:205px;padding-bottom:1px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
.flightSchedule h1{width:100%;height:25px;margin:5px 0 9px 0;background:url(../images/splashhome/flightschedule.png) no-repeat}
.en .flightSchedule h1{background-position:50% 0}
.zh .flightSchedule h1{background-position:50% -25px}
.fr .flightSchedule h1{background-position:50% -50px}
.de .flightSchedule h1{background-position:50% -75px}
.it .flightSchedule h1{background-position:50% -100px}
.pt .flightSchedule h1{background-position:50% -125px}
.es .flightSchedule h1{background-position:50% -150px}
.zh_cn .flightSchedule h1{background-position:50% -175px}
#hotels .row{margin:10px auto}
#hotels .row.topMost{margin:6px auto 10px auto}
#hotels .row label{float:left;padding:3px 0 0 5px}
#hotels .blueBox{margin-bottom:0}
#hotels .numberoffrooms{float:right;width:88px}
#hotels .actions{top:206px;padding-bottom:1px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
#cars .row{margin:10px auto}
#cars .row.topMost{margin:6px auto 10px auto}
#cars .blueBox label{float:left;padding:8px 0 0 5px}
#cars .blueBox .time{float:right;margin:4px 0 0 5px;width:55px}
#cars .actions{top:239px;padding-bottom:1px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
a.button.greenUgly{padding-right:25px;background-position:100% -828px;height:28px;text-transform:uppercase;font-weight:normal;text-shadow:0 1px 1px #346a32;font-size:11px}
a.button.greenUgly:hover{background-position:100% -859px}
a.button.greenUgly span{background-position:0px -828px;padding-top:7px;height:16px;padding-left:12px;padding-right:7px}
a.button.greenUgly:hover span{background-position:0px -859px}
a.button.greenUgly:active{background-position:100% -890px}
a.button.greenUgly:active span{background-position:0px -890px}
a.button.brownUgly{font-size:11px;padding-right:13px;background-position:100% -925px;height:28px;text-transform:uppercase;font-weight:normal;text-shadow:0 1px 1px #875d2e}
a.button.brownUgly:hover{background-position:100% -957px}
a.button.brownUgly span{background-position:0px -925px;padding-top:7px;height:15px;padding-left:16px}
a.button.brownUgly:hover span{background-position:0px -957px}
a.button.brownUgly:active{background-position:100% -989px}
a.button.brownUgly:active span{background-position:0px -989px}

a.button{height:23px;text-decoration:none;color:#fff;font-weight:700}
a.button span{float:left;height:13px;padding:4px 5px 6px 8px}
a.button.blue{padding-right:20px;text-shadow:0 -1px 0 #14577d;background-position:100% -90px}
a.button.orange{padding-right:7px;text-shadow:0 -1px 0 #af6b00;background-position:100% -672px}
a.button.orange.download{padding-right:20px;background-position:100% -286px}
a.button.green{padding-right:20px;text-shadow:0 -1px 0 #228d12;background-position:100% -720px}
a.button.blue:hover{background-position:100% -113px}
a.button.orange:hover{background-position:100% -695px}
a.button.orange.download:hover{background-position:100% -309px}
a.button.green:hover{background-position:100% -743px}
a.button.blue:active{background-position:100% -90px}
a.button.orange:active{background-position:100% -672px}
a.button.orange.download:active{background-position:100% -286px}
a.button.green:active{background-position:100% -720px}
a.button.blue span{background-position:0 -90px}
a.button.orange span{background-position:0 -286px}
a.button.green span{background-position:0 -720px}
a.button.blue:hover span{background-position:0 -113px}
a.button.orange:hover span{background-position:0 -309px}
a.button.green:hover span{background-position:0 -743px}
a.button.blue:active span{background-position:0 -90px}
a.button.orange:active span{background-position:0 -286px}
a.button.green:active span{background-position:0 -720px}
a.button.silver{height:25px;background-position:100% -500px;text-shadow:0 1px 0 #fff;padding-right:25px;color:#444;font-weight:normal;white-space:nowrap}
a.button.silver:hover{background-position:100% -525px}
a.button.silver:active{background-position:100% -550px}
a.button.silver span{height:15px;background-position:0 -500px;padding:5px 5px 5px 8px}
a.button.silver:hover span{background-position:0 -525px}
a.button.silver:active span{background-position:0 -550px}
a.dropLang{height:24px;background-position:100% -598px;padding-right:25px;text-decoration:none;color:#444;text-shadow:0 1px 0 #fff;cursor:pointer}
a.dropLang:hover{background-position:100% -622px}
a.dropLang:active{background-position:100% -646px}
a.dropLang span{float:left;height:13px;padding:4px 5px 7px 8px;background-position:0 -598px}
a.dropLang:hover span{background-position:0 -622px}
a.dropLang:active span{background-position:0 -646px}
a.vButton{background-position:100% -371px;padding-right:12px;height:27px;color:#fff;text-decoration:none}
a.vButton:hover{background-position:100% -400px}
a.vButton:active{background-position:100% -429px}
a.vButton span{background-position:0 -371px;float:left;height:17px;padding:6px 5px 4px 15px;text-shadow:0 1px 1px #163f7b}
a.vButton:hover span{background-position:0 -400px}
a.vButton:active span{background-position:0 -429px}
.block .tabGradient{background-position:0 -408px;height:57px;width:100%;margin-bottom:5px;display:table}
.vIcon span{background-position:-139px -193px;height:14px;width:15px;float:left}
.vIcon.next span{background-position:-139px -193px}
.vIcon.back span{background-position:-220px -193px}
a.vIcon.next:hover span{background-position:-250px -192px}
a.vIcon.back:hover span{background-position:-235px -192px}
.vIcon.orange span{background-position:-154px -193px}
.vIcon.blue span{background-position:-50px -193px}
.vIcon.silver span{background-position:-68px -193px}
.vIcon.gold span{background-position:-85px -193px}
.vIcon.platinum span{background-position:-103px -193px}
.vIcon.lifetime.platinum span{background-position:-121px -193px}

#LoL{display:none;position:absolute;right:0;top:58px;background:#4676a7;width:600px;font-size:11px;border-top:1px solid #b7d4f2;border-right:1px solid #6481a1;box-shadow:-1px 1px 2px #183F70;-webkit-box-shadow:-1px 1px 2px #183F70;-moz-box-shadow:-1px 1px 2px #183F70;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-top-right-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0}
#LoL .tabs,#LoL article ul{width:520px;margin:0 auto}
#LoL .articleWrap{background:#3f6a96;height:auto;padding:10px 0}
#LoL article li{list-style:none;float:left;width:130px;line-height:20px}
#LoL article li a{float:left;width:120px;padding:3px 0 3px 10px;text-decoration:none;white-space:nowrap}
#LoL article li a.active,
#LoL article li a:hover{color:#fff;background-position:0 -662px}
#LoL .tabs a{float:left;padding:8px 0 8px 10px;width:120px;text-align:left;text-decoration:none;background:#4676a7;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out}
#LoL .ui-tabs-selected a{color:#d0e8ff;background:#3f6a96;outline:none}
#LoL .tabs li{float:left;list-style:none}
#LoL .user_prefs{width:100%;display:block;height:29px}
#LoL .user_prefs p{float:left;color:#a8cbee;margin:0 0 0 10px;line-height:30px}
#LoL .user_prefs p span{color:#def;margin:7px 5px 1px 0px;font-weight:700}
#LoL .forgetLoc a{color:#ffc052;font-weight:700;text-shadow:0 1px 1px #2d537b;float:right;line-height:28px;text-decoration:none;padding:0 10px 0 0}
#LoL .remember input{display:none;background-position:100% -0px}
#LoL .remember label{background:url(../images/splashhome/sprite-home.png);position:relative;float:left;height:23px;margin:5px;background-position:100% -688px;color:#bcdbfa;cursor:pointer}
#LoL .remember .bg{background:url(../images/splashhome/sprite-home.png);float:left;height:22px;line-height:22px;background-position:-60px -688px;padding:0 2px 0 30px}
#LoL .remember .bg{margin-right:3px;padding-right:10px}
#LoL .remember label:hover{background-position:100% -718px}
#LoL .remember label:hover .bg{background-position:-60px -718px}
#LoL .remember .check{background:url(../images/splashhome/sprite-home.png);position:absolute;left:0;top:0;height:22px;width:23px;background-position:0 -689px;z-index:10}
#LoL .remember label:hover .check{background-position:-30px -689px}
#LoL .remember .check.un{background-position:0 -719px}
#LoL .remember label:hover .check.un{background-position:-30px -719px}
#LoL article li a,#LoL .tabs li a{color:#A4D2FF}

.regionCountry.nojs:hover #LoL{display:block}
#LoL .tabs{display:none}
#LoL .tabs.js{display:block}

.block .row.amountPax p{font-size:11px;color:#A4D2FF}
.block .row.topMost{margin-top:6px}
.block .boxTitle{height:19px}
.block .boxTitle .checkStyle{float:left;padding-right:5px}
.block .blueBox{background:#5d81a6;border:1px solid #7aa2ca;width:125px;float:left;padding:4px;margin:0 1px 4px 3px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px}
.block{width:281px;height:336px;border:2px solid #fff;color:#fff;font-size:12px;position:relative;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;-o-border-radius:12px;box-shadow:0 0 5px #265584;-webkit-box-shadow:0 0 5px #265584;-moz-box-shadow:0 0 5px #265584;-o-box-shadow:0 0 5px #265584}
.block .row.topMost{margin-top:6px}
.block .boxTitle{height:19px}
.block .boxTitle .checkStyle{float:left;padding-right:5px}
.block .blueBox{background:#5d81a6;border:1px solid #7aa2ca;width:125px;float:left;padding:4px;margin:0 1px 4px 3px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px}
.block .inputDay{width:40px;float:left;margin-right:4px}
.block .inputMonthYear{width:81px;float:left}
.block a.linkselectLink:hover,.block a.linkselectLink:focus{outline:0px}
#leaveDate label{padding-left:2px}

.block .promoCodeInput{margin:0}
.block .promoCodeInput input{width:122px}
.block .row{margin:0 auto 5px auto;width:270px}
.block a.morePaxLink{color:#395571;text-decoration:none;transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in}
.block a.morePaxLink:hover{color:#203c58}
.block a.morePaxLink.highlight{color:#fdbc3d;font-weight:700;text-shadow:0 1px 2px #395571}

.block .morePax{padding-left:9px;margin-bottom:8px}
.block .actions{height:30px;width:269px;padding:4px 6px 0px 6px;background:#fff;position:absolute;bottom:0;border-bottom-left-radius:9px;border-bottom-right-radius:9px;-webkit-border-bottom-right-radius:9px;-webkit-border-bottom-left-radius:9px;-moz-border-radius-bottomleft:9px;-moz-border-radius-bottomright:9px}
.block .desCity{width:271px}
.block .depCity{float:left;margin:1px 0 0 0;*float:none}
.block .cabinClassSelect{width:128px;float:right}
.block .row label{padding:0 0 0 5px}
.block .promoCodeInput,.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}
.block .mobi{color:#ffd850;display:table-cell;width:100%;height:100%;vertical-align:middle;text-shadow:0 1px 1px #20304e;text-align:center}
.block .statusButtons a.button.orange.download{margin-right:5px}
.block .adSpace{position:absolute;bottom:0;width:281px;border-bottom-left-radius:9px;border-bottom-right-radius:9px;-webkit-border-bottom-left-radius:9px;-webkit-border-bottom-right-radius:9px;-moz-border-radius-bottomleft:9px;-moz-border-radius-bottomright:9px}
.block .hotels.adSpace{height:95px;background:#fff url(../images/splashhome/hotels_bottom_banner.png) no-repeat}
.block .cars.adSpace{height:62px;background:#fff url(../images/splashhome/11646_INSURANCE_300x62.jpg) no-repeat}
.block .carCountry{width:132px}
.block .col input,.block .carDriverAge input{width:126px}
.block .carCountry.combobox input{width:110px;padding-right:18px}
.block .cars .time{margin-top:3px;margin-left:3px;padding-top:4px}

.block .statusButtons{display:block;padding:7px 0 0 0}
.block .statusButtons a{display:inline-block}
#status label.q{float:left;color:#fff;padding:20px 0 0 20px;text-shadow:0 1px 2px #325586}
.block #FlightNo,
.block #NoFlight{height:62px}
#NoFlight .row div{float:right;width:150px}
.block .col{float:left;width:133px;margin:5px 0 0 5px}
.block .col label,#status .depDate label{display:block;padding:0 0 3px 5px}
.block .tabs{list-style-type:none;clear:both;height:29px;margin:0;padding:0}
.block .tabs li{height:29px;float:left;background-position:0px -40px;width:93px;text-align:center;text-decoration:none}
.block .tabs li.ui-tabs-selected{background-position:0 -5px}

.block .tabs li a{display:table-cell;vertical-align:middle;font-size:10px;text-transform:uppercase;text-shadow:0 1px 2px #123a71;height:28px;width:93px;text-decoration:none;font-weight:700;color:#fff}
.block .tab-left{border-top-left-radius:12px;-webkit-border-top-left-radius:12px;-o-border-top-left-radius:12px;-moz-border-radius-topleft:12px}
.block .tab-right{border-top-right-radius:12px;-webkit-border-top-right-radius:12px;-o-border-top-right-radius:12px;-moz-border-radius-topright:12px}
.block li.sep{width:1px;background-position:0px -471px}
.block .calWrap{float:right;background-position:-5px -470px;width:12px;height:13px;margin:1px 0 0 0;border:0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;cursor:pointer;*margin:-13px 0 0 0}
.block .calWrap:hover{background-position:-5px -484px}
.block .calWrap:active{background-position:-5px -470px}
.block .calendar{display:none;position:absolute;cursor:default;z-index:10;top:0;left:0;padding-left:-8.5em;width:100%;height:100%;background:rgba(0,0,0,0.4);border-radius:11px;-webkit-border-radius:11px;-moz-border-radius:11px;box-shadow:inset 0 0 20px rgba(0,0,0,0.6);-webkit-box-shadow:inset 0 0 20px rgba(0,0,0,0.6);-moz-box-shadow:inset 0 0 20px rgba(0,0,0,0.6)}
.block .combobox,.specialsWrap a{position:relative}
.block .combobox input{width:264px}
.block .combobox button{position:absolute;right:2px;top:1px;width:37px;height:19px;outline:0;border:0;background-color:transparent;background-position:-80px -680px}
.block .flightSchedule{position:absolute;bottom:0;height:94px;border-top:1px solid #377491;width:281px;text-align:center;background-color:#28709d;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b859e',endColorstr='#205c8e');background-image:-webkit-gradient(linear,left top,left bottom,from(#3b859e),to(#205c8e));background-image:-moz-linear-gradient(top,#3b859e,#205c8e);background-image:-o-linear-gradient(#3b859e,#205c8e);border-bottom-left-radius:11px;border-bottom-right-radius:11px;-webkit-border-bottom-left-radius:11px;-webkit-border-bottom-right-radius:11px;-moz-border-radius-bottomleft:11px;-moz-border-radius-bottomright:11px}
.block .flightSchedule p{width:100%;height:16px;overflow:hidden}
.block .iconInfo{height:17px;width:17px;background-position:-1px -576px;display:block;float:right;margin-top:4px;margin-right:8px}
.block .iconInfo:hover{background-position:-21px -576px;cursor:pointer}
.block .infoPopup .iconInfo{margin:0}

.fr #bb li,
.fr #bb li a{width:109px}
.fr #bb li.tab-left,
.fr #bb li.tab-left a{width:80px}
.fr #bb li.tab-right,
.fr #bb li.tab-right a{width:90px}
.fr #bb li.sep{width:1px}

.it #bb li.tab-left,
.it #bb li.tab-left a{width:80px}
.it #bb li.tab-right,
.it #bb li.tab-right a{width:106px}

.it #mb li,
.it #mb li a{width:103px}
.it #mb li.tab-left,
.it #mb li.tab-left a{width:73px}
.it #mb li.sep{width:1px}

#voyagerWrap{background:#fff;-moz-border-radius-bottomleft:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px}
#voyagerWrap iframe{overflow:hidden;background:transparent}

#voyagerTab body,
#voyagerTab form{height:307px;width:281px;min-width:281px;overflow:hidden;background-repeat:no-repeat;position:relative;-moz-border-radius-bottomleft:15px;-moz-border-radius-bottomright:15px;-webkit-border-bottom-left-radius:15px;-webkit-border-bottom-right-radius:15px;border-bottom-left-radius:15px;border-bottom-right-radius:15px}

#voyager form{background-color:#547da5;background-position:-319px -127px}
#voyager .top{height:160px;padding:10px 0 0 0}
#voyager .vLogo{display:block;margin:0 auto;width:178px;height:47px;background-position:100% -30px}
#voyager .welcome{padding:0 0 0 12px;font-size:14px;text-shadow:0 1px 2px #3e5c88}
#voyager .right,
#voyager .left{float:left;padding:0 0 0 12px;width:120px}
#voyager label{color:#fff}
#voyager.loggedin .right{width:135px}
#voyager.loggedin .right ul{padding:10px 0 0 5px}
#voyager input{float:left;width:122px;border-color:#72b2d7;margin:5px 0;transition:all ease-in 0.3s;-moz-transition:all ease-in 0.3s;-webkit-transition:all ease-in 0.3s}
#voyager input:focus{box-shadow:0 0 10px #fff}
#voyager.loggedin .left{padding-top:10px}
#voyager .left span,
#voyager .left a{display:block;line-height:20px;color:#3e5c88;text-shadow:0 1px 2px #c2e6ff}
#voyager .left a:hover{color:#1a3153;text-shadow:0 1px 2px #edf8ff}
#voyager .right ul{float:left;color:#3e5c88;text-shadow:0 1px 2px #c2e6ff;padding:10px 0 0 20px;margin:0;list-style:none}
#voyager .right li{line-height:20px}
#voyager .right li span{margin:2px 5px 0 0}
#voyager a:not(.vButton){display:block;line-height:20px;text-decoration:none;white-space:nowrap;text-decoration:none}
#voyager a:not(.vButton) span{margin:2px 3px 0 0;text-decoration:none}
#voyager .col a{color:#a4d2ff;display:block;line-height:20px;text-decoration:none;white-space:nowrap;font-size:11px}
#voyager .col a span{margin:2px 3px 0 0}
#voyager .meta{height:105px;background:#547da5;text-align:center;display:table-cell;vertical-align:middle;width:281px}
#voyager .meta .col{float:left;padding:0 0 0 5px;text-align:left;margin:0;width:135px}
#voyager .meta h1{font-size:14px;color:#fff;font-weight:700;text-shadow:0 1px 2px #2f4d82}
#voyager .meta p{font-size:12px;color:#b3d9ff;display:block;padding:10px;max-height:60px;overflow:hidden}
#voyager .actions{position:absolute;bottom:0;width:271px;height:28px;padding:5px 5px 2px 5px;background:#fff;-moz-border-radius-bottomleft:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-left-radius:9px;-webkit-border-bottom-right-radius:9px;border-bottom-left-radius:9px;border-bottom-right-radius:9px}

#voyForgotPassword{display:none;position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);-webkit-border-bottom-left-radius:11px;-webkit-border-bottom-right-radius:11px;-moz-border-radius-bottomleft:11px;-moz-border-radius-bottomright:11px;border-bottom-left-radius:11px;border-bottom-right-radius:11px;-webkit-box-shadow:inset 0 0 20px rgba(0,0,0,0.6);-moz-box-shadow:inset 0 0 20px rgba(0,0,0,0.6);box-shadow:inset 0 0 20px rgba(0,0,0,0.6)}
#voyForgotPassword article{background-position:-319px -157px;position:absolute;left:50%;top:60px;margin:0 0 0 -120px;background-color:#547da5;border:2px solid #fff;width:240px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-box-shadow:0 0 20px rgba(0,0,0,0.6);-webkit-box-shadow:0 0 20px rgba(0,0,0,0.6);box-shadow:0 0 20px rgba(0,0,0,0.6);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

#voyForgotPassword h1{background:#fff;padding:8px 5px;text-transform:uppercase;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px}

#voyForgotPassword .left,
#voyForgotPassword .right{width:104px;padding:10px 0 0 8px}
#voyager #voyagerNumber,
#voyager #email{width:100px}

#voyForgotPassword .button{float:left;background:#fff;width:100%;margin:10px 0 0 0;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
#voyForgotPassword .button a{margin:4px 5px 2px 0}

#voyForgotPassword .close,
#voyager .ui-dialog-titlebar-close{position:absolute;padding:0;right:-11px;top:-10px;cursor:pointer;width:25px;height:25px;margin:0;background-position:-300px 0;display:block;text-indent:-999em;overflow:hidden;text-align:left;direction:ltr}
#voyForgotPassword .close:hover,
#voyager .ui-dialog-titlebar-close:hover{background-position:-330px 0}

.ui-dialog .ui-dialog-titlebar{padding:0;position:relative;z-index:2}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;font-size:10px}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:8px 10px 10px;background:none;overflow:auto;zoom:1}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5)}
#voyager .ui-widget-overlay{position:absolute;top:0;left:0;width:281px!important;height:100%;background:rgba(0,0,0,0.5);-moz-border-bottom-left-radius:10px;-moz-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;-moz-box-shadow:inset 0 0 20px rgba(0,0,0,0.6);-webkit-box-shadow:inset 0 0 20px rgba(0,0,0,0.6);box-shadow:inset 0 0 20px rgba(0,0,0,0.6)}

#voyager .ui-dialog-content{min-height:16px!important}

.ui-tabs{position:relative;padding:0;zoom:1}
.ui-tabs .ui-tabs-nav li{list-style:none;display:table}
.ui-tabs-nav .ui-tabs-selected a,.ui-tabs-nav .ui-state-disabled a,.ui-tabs-nav .ui-state-processing a{cursor:default;outline:none}
.ui-tabs-nav a,.ui-tabs-collapsible .ui-tabs-nav .ui-tabs-selected a{cursor:pointer}
.ui-tabs-hide{display:none!important}

.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-helper-clearfix{display:inline-block -moz-box}

.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-dialog{position:absolute;width:260px;-moz-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:9px;display:block;padding:0;border:1px solid #f90;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));background-image:-moz-linear-gradient(top,#fff,#ccc);background-image:-o-linear-gradient(#fff,#ccc);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.6);box-shadow:0px 0px 20px rgba(0,0,0,0.6)}
.ui-datepicker{width:17em;padding:0;margin:0 0 0 -8.5em;position:absolute;left:50%;top:80px;z-index:11;background:#eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-box-shadow:0 1px 3px #183e64;-webkit-box-shadow:0 1px 3px #183e64;box-shadow:0 1px 3px #183e64}
.block .calendar .title,
.ui-datepicker .ui-datepicker-header{border-top:1px solid #bcd0e9;position:relative;padding:.2em 0;background-position:0px -94px;height:23px;border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px}
.block .calendar .title{display: block;text-align:center;text-shadow:0 1px 1px #183E64;width:204px;margin:50px auto;font-weight:700;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:18px;line-height:18px;background-position:-20px -794px;-moz-box-shadow:0 1px 3px #183e64;-webkit-box-shadow:0 1px 3px #183e64;box-shadow:0 1px 3px #183e64}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:2px}
.ui-datepicker .ui-datepicker-prev{left:2px}
.ui-datepicker .ui-datepicker-next{right:2px}
.ui-datepicker .ui-datepicker-prev-hover{left:2px}
.ui-datepicker .ui-datepicker-next-hover{right:2px}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;text-indent:-999em;overflow:hidden;text-align:left;direction:ltr}
.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev{height:17px;width:13px;margin:4px 10px;cursor:pointer}
.ui-datepicker .ui-datepicker-next{background-position:-139px -193px}
.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover{background-position:-250px -192px}
.ui-datepicker .ui-datepicker-prev{background-position:-220px -192px}
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover{background-position:-235px -192px}
.ui-datepicker .ui-datepicker-title{margin:1px 2.3em 0 2.3em;line-height:1.8em;text-align:center;color:#fff;font-size:12px;font-weight:700;text-shadow:0px 1px 1px #183e64}
.ui-datepicker .ui-datepicker-current-day{color:#fff;text-shadow:#123A71 0px 1px 1px}
.ui-datepicker .ui-datepicker-current-day a{background-position:0px -94px;color:#fff;text-shadow:none}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover{color:#fff;background-position:-10px -434px}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year{width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}
.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;background:-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f1f1f1));color:#3E5C88}
ui-datepicker-calendar{background:-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f1f1f1))}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:700;border:0;text-transform:uppercase}
.ui-datepicker td{border:0;padding:1px;text-align:center;border-collapse:collapse;box-shadow:1px 1px 0 #fff;-webkit-box-shadow:1px 1px 0 #fff inset;-moz-box-shadow:1px 1px 0 #fff inset;background-image:-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f1f1f1));background-image:-moz-linear-gradient(top,#f7f7f7,#f1f1f1);background-image:-o-linear-gradient(#f7f7f7,#f1f1f1)}
.ui-datepicker .ui-datepicker-other-month a{color:#999}
.ui-datepicker .ui-datepicker-unselectable span{background:#ccc;text-shadow:none;color:#777}
.ui-datepicker .ui-datepicker-week-end{border-right:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#e7e7e7));background-image:-moz-linear-gradient(top,#eee,#e7e7e7);background-image:-o-linear-gradient(#eee,#e7e7e7)}
.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;text-align:center;color:#3E5C88;text-shadow:#ccc 0px 1px 1px}
.ui-datepicker td span,.ui-datepicker td a:hover{color:#fff;text-shadow:0 1px 1px #183e64;background:#5C8CBB}
.ui-datepicker .ui-datepicker td hover{background:#ccc}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}
ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled{color:#ccc}
.ui-datepicker.ui-datepicker-multi{width:auto}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.ui-datepicker-row-break{clear:both;width:100%}
.ui-datepicker-rtl{direction:rtl}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}
.ui-autocomplete{position:absolute;border:1px solid #c7d2e1;border-top:0;background:#fff;max-height:40px;overflow-y:scroll;list-style:none;box-shadow:0 1px 2px #274978;-webkit-box-shadow:0 1px 2px #274978;-moz-box-shadow:0 1px 2px #274978;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px}
.ui-autocomplete .ui-menu-item{zoom:1;float:left;clear:left;width:100%}
.ui-autocomplete .ui-menu-item a{color:#444;text-decoration:none;display:block;padding:2px;zoom:1;cursor:pointer}
.ui-autocomplete .ui-menu-item a.ui-state-hover{font-weight:normal;background-color:#94c1ff;color:#fff}
.ui-autocomplete-input:focus,
.block input:focus{box-shadow:0 0 2px #274978}
.ui-autocomplete{max-height:200px;width:268px;overflow-y:auto;overflow-x:hidden}

.ui-autocomplete .ui-menu-item a span{display:none}
.ui-autocomplete .ui-menu-item a strong span{display:inline}
.ui-autocomplete .ui-menu-item a span strong{display:inline;padding:0 0 0 5px}

.ieNotice{display:none;width:100%;padding-top:9px;color:#5477a7;padding-bottom:9px;text-align:center;background:#fff;font-size:14px}
.ieNotice span.gray{color:#999;font-size:14px;font-weight:normal}
.ieNotice span.browsers{height:15px;padding-left:16px;background-repeat:none;padding-right:13px;no-repeat}
.ieNotice span.browsers.chrome{background-position:-400px -300px}
.ieNotice span.browsers.ie{background-position:-400px -316px}
.ieNotice span.browsers.firefox{background-position:-400px -332px}
.ieNotice span.browsers.safari{background-position:-400px -349px}
.ieNotice a{color:#5477a7;text-decoration:none}
.ieNotice a:hover{color:#A4D2FF;cursor:pointer}

.ie6 input{vertical-align:text-bottom}
.ie6 .ui-autocomplete-input{color:#111}

.ie6 #midMenu a.essentialInfo{background-position:100% -216px}
.ie6 #midMenu a.essentialInfo span{background-position:0 -216px}
.ie6 #midMenu a.essentialInfo:hover{background-position:100% -239px}
.ie6 #midMenu a.essentialInfo:hover span{background-position:0 -238px}
.ie6 #LoL .remember input{display:block;background:transparent;border:none;margin-top:2px}
.ie6 a.dropLoc span,.ie6 a.dropLoc:hover span{background-position:0px -740px}
.ie6 a.dropLoc,.ie6 a.dropLoc:hover{background-position:100% -740px}
.ie6 #LoL article li a,.ie6 #LoL .tabs li a{color:#A4D2FF}
.ie6 .siteFooter nav ul li a{color:#A4D2FF}
.ie6 a.button.blue{background-position:100% -87px}
.ie6 a.button.blue span{background-position:0 -87px}
.ie6 a.button.orange{background-position:100% -671px}
.ie6 a.button.orange span{background-position:0 -285px}
.ie6 a.button.orange.download{background-position:100% -284px}
.ie6 a.button.orange.download span{background-position:0 -284px}
.ie6 .topMost{margin-top:5px}
.ie6 #voyager .top .left a.vIcon.orange,.ie7 #voyager .top .left a.vIcon.orange,.ie8 #voyager .top .left a.vIcon.orange{width:120px;margin:2px 0 0 -5px;float:left;text-decoration:none}
.ie6 #voyager .top .right a.vButton.login,.ie7 #voyager .top .right a.vButton.login,.ie8 #voyager .top .right a.vButton.login{margin:2px 0 0;float:right;text-decoration:none;color:#fff}
.ie6 #voyager a.vButton,.ie8 #voyager a.vButton,.ie8 #voyager a.vButton{float:right;text-decoration:none;color:#fff}
.ie6 .block .mobi,.ie7 .block .mobi{margin:20px 0 -20px 0}
.ie6 .block ul .tabs li a{margin:20px 0 0 0}
.ie6 .calWrap{display:none!important}
.ie6 .exact,.ie6 .flex{margin:10px 0 -5px 0}
.ie6 .flexibility input,.ie6 #returnDate checkbox,.ie6 #checkin #checkInAddPax,.ie6 #checkin #checkInAddPaxM,.ie6 #flights #chkReturn,.ie7 .flexibility input,.ie7 #returnDate checkbox,.ie7 #checkin #checkInAddPax,.ie7 #checkin #checkInAddPaxM,.ie7 #flights #chkReturn{background-color:transparent;border:none}
.ie6 #voyager .top .left{margin-left:-3px}
.ie6 #voyager .actions{margin:-10px 0 0 0;position:relative}
.ie6 .col{width:100px;margin:0 2px}
.ie6 #ISurname{width:264px!important;float:left}
.ie6 #etktnumberM {
	width:264px!important;
	float:left
}
.ie6 #ISurnameM {
	width:264px!important;
	float:left
}

.ie6 a.greenUgly{background-position:100% -828px}
.ie6 a.greenUgly span{background-position:0px -828px}
.ie6 a.brownUgly{background-position:100% -925px;height:16px}
.ie6 a.brownUgly span{background-position:0px -925px}
.ie6 a.greenUgly:hover{background-position:100% -828px}
.ie6 a.greenUgly:hover span{background-position:0px -828px}
.ie6 a.brownUgly:hover{background-position:100% -957px;height:16px}
.ie6 a.brownUgly:hover span{background-position:0px -957px}
.ie6 .chkHandle{background:#f90}
.ie6 a.button,
.ie6 a.dropLoc{color:#fff}
.ie6 .essInfo a,
.ie6 a.button.silver{color:#444}
.ie6 #warnings{padding:40px 0 0 0;z-index:999;position:relative;float:left;display:block;left:300px;top:-8px}
.ie6 #warnings .noticeFix{position:relative;top:-50%}
.ie6 .ui-autocomplete{height:200px}
.ie6 .block .depCity{float:none}
.ie6 .socialLinks .facebook,
.ie6 .socialLinks .twitter{margin:17px 2px}
.ie6 .ntfArea{width:380px}
.ie6 .ntfMore{width:100px}
.ie6 #checkin .row input{float:left;width:auto}
.ie6 .ui-helper-clearfix{height:1%}

.ie7 #warnings{padding:40px 0 0 0}
.ie7 #warnings .wrap,.ie6 #warnings .wrap{position:absolute;top:50%}
.ie7 #warnings .noticeFix{position:relative;top:-50%}
.ie7 img{-ms-interpolation-mode:bicubic}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie7 .essInfo .head{margin:-19px auto 3px}
.ie7 .ntfMore,.ie7 .ntfArea{width:auto}
.ie7 img{-ms-interpolation-mode:bicubic}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie7 .ntfArea span,
.ie7 .ntfMore span{display:none}
.ie7 .block .tabGradient{display:block}
.ie7 .cabinClass label,.ie7 .promoCode label{float:left}

.ie7 .forgetLoc,
.ie7 .forgetLoc a{width:200px;height:28px;padding:0 30px 0 0;text-align:right}
.ie7 .forgetLoc .pin{margin:-36px -30px 0 0}

.ie7 #checkin .checkInAddPax input,
.ie8 #checkin .checkInAddPax input{width:auto;border:0;background:transparent}

.ie7 #checkin .checkInAddPaxM input, .ie8 #checkin .checkInAddPaxM input {
	width:auto;
	border:0;
	background:transparent
}
.ie7 #LoL .remember input,
.ie8 #LoL .remember input{display:block;background:transparent;border:none;margin-top:3px}
.ie8 .headerSearch .searchInput{line-height:23px!important}

#disabler {
	background:url(../images/voyager/modal/bg-disabler.png) repeat scroll 0 0 transparent;
	height:0;
	position:absolute;
	width:0;
	z-index:14999;
}
.modal {
	display:none;
	position:absolute;
	width:359px;
	z-index:15000;
}
.modal .close {
	background:url(../images/voyager/modal/icon-close.gif) no-repeat scroll 0 0 transparent;
	height:19px;
	margin:15px 0 0 325px;
	overflow:hidden;
	padding:0 0 0 19px;
	position:absolute;
	width:0;
}
.modal h4 {
	background:url(../images/voyager/modal/bg-top.png) no-repeat scroll 0 0 transparent;
	color:#203A5D;
	font-size:13px;
	font-weight:normal;
	line-height:15px;
	padding:27px 0 24px 24px;
	text-transform:uppercase;
	width:335px;
}
.modal .inner {
	background:url(../images/voyager/modal/bg-inner.png) repeat-y scroll 0 0 transparent;
	color:#313335;
	font-size:12px;
	line-height:16px;
	padding:10px 23px;
}
.modal .buttons {
	height:10px;
	padding:10px 0;
}
.modal .bottom {
	background:url(../images/voyager/modal/bg-bottom.png) no-repeat scroll 0 0 transparent;
	height:21px;
	width:359px;
}
.modal .field {
	padding:0 0 0 5px;
}
.modal .label, .modal .field {
	clear:both;
	float:left;
	width:100%;
}
.modal .label {
	margin:0 0 -4px 2px;
}
.modal .field .txt {
	width:300px;
}
/*Added for the 'alerts modals' across the Journeys Application*/

.alertmodal 							{ z-index:60000;display:none;position:absolute;width:359px }
.alertmodal h4							{ color:#203a5d;font-size:13px;font-weight:normal;line-height:15px;width:335px;padding:27px 0 24px 24px;
									 text-transform:uppercase;background:url(../images/modal/bg-top.png) 0 0 no-repeat }
.alertmodal .close						{ position:absolute;height:19px;overflow:hidden;margin:15px 0 0 325px;padding:0 0 0 19px;width:0;
									 background:url(../images/modal/icon-close.gif) 0 0 no-repeat }
.alertmodal .inner						{ color:#313335;font-size:12px;line-height:16px;padding:10px 23px;
									 background:url(../images/modal/bg-inner.png) 0 0 repeat-y }
.alertmodal .bottom 						{ height:21px;width:359px;background:url(../images/modal/bg-bottom.png) 0 0 no-repeat }
.alertmodal .buttons						{ height:10px;padding:10px 0 }
a.arrowBlue			{ color:#294770;font-size:11px;line-height:11px;padding:1px 19px 1px 0;text-transform:uppercase }
a.right.arrowBlue	{ background:url(/images/arrow-blue.png) 100% 50% no-repeat;float:right }


/* added for session timeout styling and image inclusion*/
#sessionTimerMsg .inner{text-align:center;}#sessionTimerMsg .clock{margin-top:-10px;display:block;height:200px;background:url(../images/sessiontimeout_clock.jpg) top center no-repeat;}#sessionExpiredMessage .inner{text-align:center;}#sessionExpiredMessage .clock{margin-top:-10px;display:block;height:200px;background:url(../images/sessiontimeout_clock.jpg) top center no-repeat;}


/*added for session timeout button styling*/

button{font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:15px;}

button{position:relative;border:0;padding:0;cursor:pointer;overflow:visible;}button::-moz-focus-inner{border:none;padding:0;}button span{position:relative;display:block;white-space:nowrap;}button.round{font-size:11px;text-align:center;color:#fff;text-transform:uppercase;}button.round.green{padding:0 26px 0 0;float:right;background:transparent url(../images/button-green.png) no-repeat right top;}button.round.green span{padding:9px 5px 0 15px;height:23px;text-shadow:0 1px 2px #226e1f;background:transparent url(../images/button-green.png) no-repeat left top;}button.round.brown{padding:0 14px 0 0;float:right;background:transparent url(../images/button-brown.png) no-repeat right top;}button.round.brown span{padding:9px 2px 0 15px;height:23px;text-shadow:0 1px 2px #7a5b18;background:transparent url(../images/button-brown.png) no-repeat left top;}


#processing{display:none;position:absolute;z-index:2;left:50%;width:520px;margin:100px 0 0 -270px;border:2px solid #fff;background-color:#cde0f8;-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);box-shadow:0 0 5px rgba(0,0,0,0.5);background-image:-webkit-gradient(linear,left top,left bottom,from(#cde0f8),to(#f1f1f1));background-image:-moz-linear-gradient(top,#cde0f8,#f1f1f1);background-image:-o-linear-gradient(top,#cde0f8,#f1f1f1);-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
#processing .spinner{display:block;width:32px;margin:20px auto 0}
#processing h1{padding:20px 0;color:#35A0F2;text-align:center;font:bold 14px/14px Arial, Helvetica, sans-serif;text-shadow:0 1px 0 #fff}

#processing aside{padding:10px;color:#fff;text-align:center;background-color:#6183B2;background-image:-webkit-gradient(linear,left top,left bottom,from(#5074a1),to(#6183b2));background-image:-moz-linear-gradient(top,#5074a1,#6183b2);background-image:-o-linear-gradient(top,#5074a1,#6183b2);-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;text-shadow:0 1px 2px #039;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);box-shadow:inset 0 1px 3px rgba(0,0,0,0.2)}
#processing em{font-weight:bold}

.ui-button{display:inline-block;position:relative;padding:0;text-decoration:none!important;cursor:pointer;text-align:center;zoom:1;overflow:visible}
.ui-button-icon-only{width:2.2em}
button.ui-button-icon-only{width:2.4em}
.ui-button-icons-only{width:3.4em}
button.ui-button-icons-only{width:3.7em}

.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}
input.ui-button{padding:.4em 1em}
.ui-buttonset{margin-right:7px}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}
button.ui-button::-moz-focus-inner{border:0;padding:0}

#allianceLogo{margin:30px auto 0}
#allianceLogo a{float:right;height:35px;margin:0 15px;background:url(../images/splashhome/alliance-logos.png);opacity:0.8;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in}
#allianceLogo .staralliance{width:105px}
#allianceLogo .staralliance.fifteenyears{width:59px;background-position:-247px 0}
#allianceLogo .satourism{width:61px;background-position:-121px 0}
#allianceLogo .proudlysa{width:36px;background-position:-203px 0}

#allianceLogo .saa {
	width:62px;
	background-position:-315px 0
}
#allianceLogo .anniYear {
	width:55px;
	background-position:-385px 0
}
#allianceLogo .twentyYear {
	width:45px;
	background-position:-455px 0
}

#allianceLogo a:hover{opacity:1}

@media screen and (max-device-width:480px){html,body{min-width:auto}}