@import "settings";


#bb {
  position: relative;
  display: block;
  width: $content-left-width;
  height: $bb-height;

  h2 {
    margin-top: 0;
  }

  > ul {
    width: $bb-tabs-width;
    position: absolute;
    top: $bb-tabs-offset-top;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 0 1px 0;
      padding: 0;
      position: relative;
      line-height: 1;
    }
    a {
      background: $bb-tabs-link-bg;
      color: $white;
      display: table-cell;

      font-size: 9px;
      font-weight: normal;

      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;

      height: $bb-tabs-height;
      width: $bb-tabs-width;

      cursor: pointer;
      span.text {
        display: block;
        margin-top: 2px;
      }
      span[class*="icon"] {
        float: none;
        margin: 0;
      }
    }
    li.ui-tabs-selected a,
    li a:hover {
      background: $bb-tabs-link-bg-active;
    }
    li.ui-tabs-selected a {
      &:after {
        content: "";
        position: absolute;
        //z-index: ($bb-overlay-z-index + 1);
        right: -($bb-tabs-arrow-border-width - 4);
        top: 50%;
        margin-top: -($bb-tabs-arrow-border-width);
        width: 0px;
        height: 0px;
        border-top: $bb-tabs-arrow-border-width solid transparent;
        border-bottom: $bb-tabs-arrow-border-width solid transparent;
        border-left: $bb-tabs-arrow-border-width solid $bb-tabs-link-bg-active;
        z-index: $bb-overlay-z-index - 1;
      }
    }

    li {
      &.flights a:hover, &.ui-tabs-selected a {span.icon-bb-flight {@extend .icon-bb-flight:hover;}}
      &.check-in a:hover, &.ui-tabs-selected a {span.icon-bb-checkin {@extend .icon-bb-checkin:hover;}}
      &.log-in a:hover, &.ui-tabs-selected a {span.icon-bb-user {@extend .icon-bb-user:hover;}}
      &.flight-status a:hover, &.ui-tabs-selected a {span.icon-bb-timer {@extend .icon-bb-timer:hover;}}
      &.car-rental a:hover, &.ui-tabs-selected a {span.icon-bb-car {@extend .icon-bb-car:hover;}}
      &.hotels a:hover, &.ui-tabs-selected a {span.icon-bb-hotel {@extend .icon-bb-hotel:hover;}}
    }
    li:first-child a {
      border-radius: $bb-border-radius 0 0 0;
    }
    li:last-child a {
      border-radius: 0 0 0 $bb-border-radius;
    }


  }

  .blocks, .overlay {
    position: absolute;
    top: 0px;
    left: $bb-tabs-width;

    width: $content-left-width - $bb-tabs-width;
    height: $bb-height + ($bb-padding * 2);
    padding: $bb-padding;
    overflow: hidden;

    background: $white;
    border-radius: $bb-border-radius;
    box-shadow: $box-shadow;

    @include transition($ease-in-out);

    @include box-resizing();
  }

  .overlay {
    display: block;
    background: $color_san_juan_approx;
    box-shadow: none;
    z-index: $bb-overlay-z-index;
    opacity: 0.5;

    &.loading {
      background-color: $white;
      opacity: 1;
    }
  }

  .blocks footer {
    position: absolute;
    bottom: 0;

    background: $color_alto_approx;

    width: 100%;
    padding: $bb-padding;
    margin: $bb-padding -($bb-padding) 0 -($bb-padding);

    border-radius: 0 0 $bb-border-radius $bb-border-radius;

    @include box-resizing();

    .button {
      margin: 0;
    }
  }

}
.horizontal {
  #bb {
    width: 100%;
    //height: $bb-tabs-height-horizontal + $bb-height + ($bb-padding*2);
    height: auto;
    border-radius: $bb-border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;

    > ul {
      position: relative;
      top: 0;
      left: 0;
      height: $bb-tabs-height-horizontal;
      width: $content-left-with-sidebar-width;

      li {
        display: block;
        float: left;
        width: $content-left-with-sidebar-width/3;
        margin: 0;

        a {
          display: block;
          width: 100%;
          height: $bb-tabs-height-horizontal;
          padding-top: 6px;

          @include box-resizing();
        }
      }

      li:first-child a {
        border-radius: 0;
      }
      li:last-child a {
        border-radius: 0;
      }

      li.ui-tabs-selected a {
        &:after {
          bottom: -($bb-tabs-arrow-border-width - 4);
          left: 50%;
          top: auto;
          margin-left: -($bb-tabs-arrow-border-width);
          border: 0;
          border-right: $bb-tabs-arrow-border-width solid transparent;
          border-top: $bb-tabs-arrow-border-width solid $bb-tabs-link-bg-active;
          border-left: $bb-tabs-arrow-border-width solid transparent;
        }
      }

    }

    .blocks, .overlay {
      position: relative;
      left: 0;
      //top: $bb-tabs-height-horizontal;
      width: 100%;
      height: auto;
      border-radius: 0;
      box-shadow: none;
    }
    .overlay {
      position: absolute;
      height: 100%;
      margin-top: $bb-tabs-height-horizontal;
    }
    .blocks {
      width: 2000px;
      overflow: hidden;
      > div {
        width: $content-left-with-sidebar-width - ($bb-padding*2);
        float: left;
      }
    }

  }

}


#bb {
  .input.datepicker,
  .input.datetimepicker {
    padding: $form-input-padding;
    background: $color_steel_blue_approx;
    label {
      color: $white;
    }
    .input.month,
    .input.month-year {
      width: 115px;
    }
  }
  .flexibility {
    padding: $form-input-padding;
    margin-bottom: $form-input-margin;
    background: $color_alto_approx;
    label {
      margin: 0;
    }
    .input {
      margin: 0;
    }
  }
  a.multi-city {
    overflow: hidden !important;
    height: 31px;
  }
}


#bb-flights {

  .radios {
    text-align: center;
  }




  .note {
    margin-bottom: 4px;
  }



}

#bb-check-in {
  header {
    margin: (-($global-padding)) (-($global-padding)) 0;
    padding: $global-padding;
    padding-bottom: 0;
  }
  p.notice {
    margin: 0 0 $global-padding;
    padding: $global-padding 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center !important;
  }
  .check-in-method {
    display: none;
    &.pnr {
      display: block;
    }
  }

}

#bb-log-in {
  form[name="voyagerForgot"] {
    display: none;
  }
}


$info-popup-width: $content-left-width - $bb-tabs-width - ($bb-padding * 4);

#bb .info-popup {
  display: none;

  position: absolute;
  //left: 50%;
  z-index: 20;

  width: $info-popup-width;

  margin: 30px 0 0 0;
  margin-left: $bb-tabs-width + (($content-left-width - $info-popup-width)/5);

  background: #eee;
  border: 1px solid #f90;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  box-shadow: 0 3px #183E64;
  -webkit-box-shadow: 0 0 3px #183E64;
  -moz-box-shadow: 0 0 3px #183E64;

  header {
    color: #444;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e7e7e7;
    .icon-info {
      float: right;
    }
  }

  div {
    color: #575757;
    padding: 10px;
    border-top: 1px solid #fff;
  }
}


.voyager-status-N {
  .in {
    display: none;
  }
  .out {
    display: block;
  }
}
.voyager-status-Y {
  .in {
    display: block;
  }
  .out {
    display: none;
  }
}









/*

.loadingIndicator {
  background: url("../images/splashhome/loading.gif") no-repeat scroll 50% 50% $color_danube_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}




.linkselectLink,
.linkselectDisabled {
  //vendor-prefix found
  //-moz-user-focus: ignore
  //vendor-prefix found
  //-moz-user-select: none
  background-color: $white;
  background-position: -820px -4px;
  border: 1px solid $color_periwinkle_gray_approx;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 4px 10px 4px 6px;
  text-decoration: none;
}
.linkselectLink {
  background-image: url(../images/sprite-home.png);
  &:hover {
    color: $color_tundora_approx;
    outline: 0 none;
  }
}
.linkselectDisabled {
  background-image: url(../images/sprite-home.png);
}
//these are part of the booking forms
.formOfID {
  .linkselectLink {
    background-position: -717px -4px;
  }
  .linkselectDisabled {
    background-position: -717px -4px;
  }
}
#dropoffDay_link {
  &.linkselectLink {
    background-position: -836px -4px;
  }
  &.linkselectDisabled {
    background-position: -836px -4px;
  }
}
#pickDay_link {
  &.linkselectLink {
    background-position: -836px -4px;
  }
  &.linkselectDisabled {
    background-position: -836px -4px;
  }
}
#status {
  .linkselectLink {
    background-position: -689px -4px;
  }
  .linkselectDisabled {
    background-position: -689px -4px;
  }
  .fixedHeight {
    border-bottom: 1px solid $color_blumine_approx;
    height: 211px;
    position: relative;
  }
  .slider {
    float: right;
    margin: 13px;
    width: 45px;
  }
  .actions {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    padding-bottom: 1px;
    top: 205px;
  }
  a.button {
    &.green {
      height: 30px;
      background-position: -3098px -572px;
      padding-right: 26px;
      &:hover {
        background-position: -3098px -603px;
      }
    }
    span {
      height: 20px;
      line-height: 18px;
    }
  }
  label.q {
    color: $white;
    float: left;
    padding: 20px 0 0 20px;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 2px $color_chambray_approx;
  }
  .depDate label {
    display: block;
    padding: 0 0 8px;
  }
}
#departDay_link {
  &.linkselectLink {
    background-position: -838px -4px;
  }
  &.linkselectDisabled {
    background-position: -838px -4px;
  }
}
#destDay_link {
  &.linkselectLink {
    background-position: -838px -4px;
  }
  &.linkselectDisabled {
    background-position: -838px -4px;
  }
}
.linkselectLinkFocus {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 2px $color_astronaut_approx;
}
.linkselectLinkOpen {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 2px $color_astronaut_approx;
}
.calWrap {
  background-image: url(../images/sprite-home.png);
}

//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.chkContainer {
  background-color: $color_pickled_bluewood_approx;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(100% 0 270deg, #172536, #536880)
  border-bottom: 1px solid $color_perano_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 71px;
  //vendor-prefix found
  //-moz-user-select: none
  input {
    left: 30px;
    opacity: 0;
    position: absolute;
    top: 5px;
  }
  label span {
    background-image: url(../images/sprite-home.png);
    display: block;
    height: 13px;
    position: absolute;
    top: 8px;
    width: 14px;
  }
}



.amountPax {
  div {
    float: left;
    width: 75px;
  }
  .adults {
    margin: 0 5px 0 0;
  }
  .children {
    margin: 0 5px 0 0;
  }
  .infants {
  }
}

#bb {
  position: relative;
  background: none repeat scroll 0 0;
  .infoPopup {
    background: none repeat scroll 0 0 $color_gallery_approx;
    border: 1px solid $color_california_approx;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 4px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px $color_cello_approx;
    left: 50%;
    margin: 50px 0 0 -100px;
    position: absolute;
    width: 200px;
    z-index: 20;
    header {
      border-bottom: 1px solid $color_mercury_approx;
      color: $color_tundora_approx;
      padding: 5px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 0 $white;
    }
    div {
      border-top: 1px solid $white;
      color: $color_chicago_approx;
      padding: 5px 10px;
    }
  }
  input.invalid {
    border-color: $color_scarlet_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 3px $color_scarlet_approx;
  }
}



//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
#mb {
  position: relative;
  background: none repeat scroll 0 0;
  input.invalid {
    border-color: $color_scarlet_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 3px $color_scarlet_approx;
  }
}




.hidePassenger {
  display: none !important;
}


.chkHandle {
  background-color: $color_alice_blue_approx;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(100% 0 270deg, #f2f7fe, #bdc4cd)
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  border-top: 1px solid $white;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 2px $white inset, 0 1px 5px $color_nile_blue_approx;
  cursor: pointer;
  display: block;
  height: 22px;
  left: 0;
  margin: 0 1px;
  position: absolute;
  top: 1px;
  width: 0;
  &:hover {
    background-color: $color_gallery_approx;
    //vendor-prefix found
    //background-image: -moz-linear-gradient(100% 0 270deg, #dddddd, #f2f7fe)
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 2px $white inset, 0 1px 5px $color_nile_blue_approx;
  }
}


.chkHandleRight {
  height: 100%;
  width: 100%;
}


.chkHandleCenter {
  height: 100%;
  width: 100%;
}


.toggleButton {
  background-color: $color_pickled_bluewood_approx;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(100% 0 270deg, #172536, #536880)
  border-bottom: 1px solid $color_perano_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 40px;
  //vendor-prefix found
  //-moz-user-select: none
  span {
    //vendor-prefix found
    //-moz-user-select: none
    display: block;
    height: 13px;
    left: 13px;
    padding: 0;
    position: absolute;
    top: 8px;
    width: 14px;
    background-position: -80px -700px;
  }
  &.ui-state-active span {
    background-position: -100px -700px;
  }
}


.infoPop {
  background-color: $white;
  border: 1px solid $color_california_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: -1px 1px 2px $color_calypso_approx;
  color: $color_tundora_approx;
  float: left;
  margin-left: 5px;
  max-width: 400px;
  padding: 3px;
  position: absolute;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white;
  width: 17em;
  p {
    &:nth-child(2n) {
      border-bottom: 1px solid $color_gallery_approx;
      font-weight: normal;
      line-height: 18px;
    }
    &:nth-child(2n+1) {
      border-bottom: 1px solid $color_gallery_approx;
      font-weight: 700;
      line-height: 22px;
      padding: 1px 5px;
    }
    &:nth-child(1) {
      border: medium none;
      margin: 0 0 0 -11px;
      padding: 0 0 3px 15px;
    }
    &:nth-child(2) {
      border-top: 1px solid $color_gallery_approx;
    }
  }
}




#checkin {
  .row {
    label {
      display: block;
      padding: 8px 0;
      margin: 8px 0;
    }
    input {
      float: left;
      width: 93%;
    }
  }
  .checkInAddPax {
    margin: 14px 0;
    label {
      float: left;
      padding: 0;
      margin: 0;
    }
  }
  .formOfID {
    float: left;
    width: 90%;
  }
  #IIdentification {
    float: left;
    margin: 0;
    width: 83%;
  }
  .checkInAddPaxM label {
    float: left;
    padding: 0 1px;
  }
  a.button.greenUgly {
    background-position: -3099px -572px;
    &:hover {
      background-position: -3099px -603px;
    }
  }
}


#hotels {
  .row {
    margin: 10px auto;
    &.topMost {
      margin: 6px auto 10px;
    }
    label {
      float: left;
      padding: 3px 0 0 5px;
    }
  }
  .blueBox {
    margin-bottom: 0;
  }
  .numberoffrooms {
    float: right;
    width: 88px;
  }
  .actions {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    padding-bottom: 1px;
    top: 206px;
  }
}


#cars {
  .row {
    margin: 10px auto;
    &.topMost {
      margin: 6px auto 10px;
    }
  }
  .blueBox {
    label {
      float: left;
      padding: 11px 0 10px 4px;
      text-align: right;
      width: 37%;
    }
    .time {
      float: left;
      margin: 4px 0 0 5px;
      width: 55px;
    }
  }
  .actions {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    padding-bottom: 1px;
    top: 239px;
    a.floatLeft {
      margin: 30px 0 8px;
      clear: none;
      background-position: -1524px -700px;
      padding-right: 26px;
      &:hover {
        background-position: -1524px -732px;
      }
    }
  }
  a.button {
    &.greenUgly {
      background-position: -3094px -572px;
      margin: 30px 0 8px;
      &:hover {
        background-position: -3094px -603px;
      }
    }
    &.brownUgly {
      span {
        background-position: -999px -700px;
        color: $white;
      }
      &:hover span {
        background-position: -999px -732px;
      }
    }
  }
}

#login {
  h1 {
    @extend %extend_5;
  }
  div {
    &.left {
      margin: 0 auto 8px;
      width: 100%;
    }
    &.right {
      margin: 0 auto 8px;
      width: 100%;
    }
    &.row label {
      display: block;
      padding: 8px 0;
      margin: 8px 0;
    }
  }
  .row {
    input {
      float: left;
      width: 93%;
    }
    a.vIcon {
      @extend %extend_8;
      span {
        display: none;
      }
    }
  }
  a.vButton.login {
    background-position: -3125px -572px;
    padding-right: 25px;
    &:hover {
      background-position: -3125px -603px;
    }
  }
}




.essInfoWrap {
  display: none;
  position: absolute;
  top: 30px;
  width: 220px;
  z-index: 13;
}

*/