@import "settings";

input[type="submit"],
input[type="button"],
[class*="button"] {
  cursor: pointer;
  display: inline-block;
  margin-bottom: $button-margin-bottom;
  background: $site-sprite no-repeat 100% -1220px;
  color: $white;
  span {
    background: $site-sprite no-repeat 0 -1220px;
    display: block;
    margin-right: $button-margin-right;
    padding: 0 $button-padding;
    text-shadow: $text-shadow;
    height: $button-height+5;
    line-height: $button-height;
    text-transform: uppercase;
  }
  &:hover {
    text-decoration: none;
    background-position: 100% -1255px;
    color: $white;
    span {
      background-position: 0 -1255px;
    }
  }
  &:active {
    text-decoration: none;
    background-position: 100% -1290px;
    color: $white;
    span {
      background-position: 0 -1290px;
    }
  }
  &.green {
    background-position: 100% -1330px;
    span {
      background-position: 0 -1330px;
    }
    &:hover {
      background-position: 100% -1365px;
      span {
        background-position: 0 -1365px;
      }
    }
    &:active {
      background-position: 100% -1400px;
      span {
        background-position: 0 -1400px;
      }
    }
  }
  &.orange {
    background-position: 100% -1110px;
    span {
      background-position: 0 -1110px;
    }
    &:hover {
      background-position: 100% -1145px;
      span {
        background-position: 0 -1145px;
      }
    }
    &:active {
      background-position: 100% -1180px;
      span {
        background-position: 0 -1180px;
      }
    }
  }
  &.small {
    background-position: 100% -1000px;
    span {
      padding: 0 0 0 $button-padding/2;
      font-size: 10px;
      height: $button-height + 1;
      line-height: $button-height - 3;
      background-position: 0 -1000px;
      margin-right: $button-padding/2;
    }
    &:hover {
      background-position: 100% -1035px;
      span {
        background-position: 0 -1035px;
      }
    }
    &:active {
      background-position: 100% -1070px;
      span {
        background-position: 0 -1070px;
      }
    }
  }

  &.drop-down {
    background-position: 100% -892px;
    span {
      background-position: 0 -1220px;
    }

    &:hover {
      background-position: 100% -927px;
      span {
        background-position: 0 -1255px;
      }
    }
    &:active {
      background-position: 100% -962px;
      span {
        background-position: 0 -1290px;
      }
    }
  }

  &.small.drop-down {
    background-position: 100% -795px;
    span {
      padding: 0 $button-padding/2;
      margin-right: $button-margin-right;
      background-position: 0 -1000px;
    }

    &:hover {
      background-position: 100% -828px;
      span {
        background-position: 0 -1035px;
      }
    }
    &:active {
      background-position: 100% -861px;
      span {
        background-position: 0 -1070px;
      }
    }
  }

}

ul.drop-down {
  list-style: none;
  margin: 0 0 $button-margin-bottom 0;
  padding: 0;
  display: inline-block;
  > li {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 11;
    > a {
      margin-bottom: 0;
      position: relative;
      z-index: 11;
    }

    /*ul {
      margin: 0;
      padding: 0;
      display: none;
      position: absolute;
      border-radius: $global-radius;
      min-width: 100%;
      max-width: 250px;
      list-style: none;
      background: $color_light_grey;
      border: 1px solid $color_shady_lady_approx;

      box-shadow: $box-shadow;

      li {
        a {
          display: block;
          padding: 8px;
          background: $color_celeste_approx;
        }
      }
    }*/

    ul {
      margin: 0;
      padding: 36px 24px 12px;
      list-style: none;
      text-indent: -10px;

      background: $menu-bg-color-active;
      text-align: left;

      display: none;
      position: absolute;
      top: 0;
      border-radius: 7px;
      z-index: 10;

      min-width: 100%;
      max-width: 250px;

      box-shadow: $box-shadow;

      @include box-resizing();

      li {
        margin: 5px 0;
        line-height: 1.2em;
        &:before {
          color: $white;
          content: "\00BB \020";
        }
        a {
          color: $submenu-link-color;
          text-shadow: 0px 1px 1px $black;
          font-family: $submenu-font-family;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }
}


