@import "settings";

#content {
  background: $white;
  border-radius: $slider-border-radius;
  box-shadow: $box-shadow;
  min-height: 400px;
  overflow: hidden;

  > .inner {
    padding: $column-outer-gutter $column-outer-gutter 0 $column-outer-gutter;
  }
  > .breadcrumbs {
    padding: $column-outer-gutter/2 $column-outer-gutter;
  }
}

.breadcrumbs {
  background: $color_light_grey;
  @include clear-fix();

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
  }
  li {
    float: left;
    font-size: $breadcrumbs-font-size;
    font-weight: bold;
    color: $breadcrumbs-font-color;

    &:after {
      content: "›";
      margin: 0 $column-outer-gutter/4;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  &.responsive {
    width: 100%;
  }
  &.border {
    border: 1px solid $feature-img-border-color;
    @include box-resizing();
  }
}

article.feature {
  h2 {
    font-size: 24px;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
    border: 1px solid $feature-img-border-color;
    @include box-resizing();
  }
  p:last-child {
    margin-bottom: 0.5em;
  }
}

.featured {
  article {
    background: $white;
    border-radius: $global-radius;
    box-shadow: $box-shadow;
    padding: $global-padding;
    margin-bottom: $global-margin;
  }
}
#featuredArticles {
  min-height: 300px;
}
#flightDeals {
  min-height: 300px;
}
#specialOffers {
  min-height: 300px;
}


.offers {
  margin-left: $global-padding;
  color: $white;
  article {
    margin-bottom: $global-margin;
  }
  h2 {
    text-shadow: $feature-text-shadow;
    color: $white;
    font-size: $feature-heading-font-size;
  }
  p {
    color: $white;
  }
  a {
    color: $color_link_on_blue;
    &:hover {
      color: $color_link_on_blue_active;
    }
  }
}
.deals {
  margin-left: $global-padding;
  color: $white;
  h2 {
    text-shadow: $feature-text-shadow;
  }
  p {
    color: $white;
  }
  a {
    color: $color_link_on_blue;
  }
}

.shadow {
  position: relative;
  margin-bottom: 11px;
  img {
    display: block;
    border: 1px solid $feature-img-border-color;
    @include box-resizing();
  }
  &:before,
  &:after {
    content: "";
    display: block;
    height: 11px;
    width: 140px;
    position: absolute;
    bottom: -11px;
  }
  &:after {
    background: $site-sprite no-repeat 0 -600px;
    left: 0px;
  }
  &:before {
    background: $site-sprite no-repeat 100% -600px;
    right: 0px;
  }
}


.flight-deals {
  margin-left: 10px;
  margin-bottom: $global-margin;
  color: $white;

  h2 {
    text-shadow: $feature-text-shadow;
    color: $white;
    font-size: $feature-heading-font-size;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden;

    li {
      margin: 14px 0 14px 0;
      padding: 0 0 10px 13px;

      text-shadow: $feature-text-shadow;
      color: $white;

      border-bottom: 1px solid $color_perano_approx;
      position: relative;

      h3 {
        color: $color_equator_approx;
        font-weight: 400;
        font-size: 16px;
        width: 55%;
        float: left;
        margin: 0 0 4px;
      }
      .class {
        font-size: 14px;
        display: block;
        width: 55%;
        float: left;
        font-weight: 300;
      }
      .price {
        display: block;
        width: 35%;
        float: right;
        text-align: right;
      }
      .figure {
        color: $color_equator_approx;
        font-size: 26px;
        font-weight: 400;
        display: block;
        margin: 6px 0 0;
      }
      .period {
        clear: both;
        font-size: 11px;
        font-weight: 300;
      }
    }
  }

  a.more-specials {
    color: $color_equator_approx;
    text-transform: uppercase;
    text-shadow: $feature-text-shadow;
    line-height: 18px;
    display: inline-block;
    span {
      margin-top: 0;
    }
  }
  .terms {
    font-size: 10px;
    text-shadow: $feature-text-shadow;
  }

}


ul.links {
  margin-left: 0;
  list-style: none;
  li {
    list-style: none;
  }
}