
//@extend-elements

//original selectors

//original selectors
//#login h1, .flightSchedule h1
%extend_5 {
  font-size: 18px;
  font-weight: 100;
  color: $color_horizon_approx;
  margin: 4px 0 14px;
  text-indent: 0;
}


//original selectors
//#login .row a.vIcon, #voyagerInfo a
%extend_8 {
  clear: left;
  float: left;
  display: block;
  margin: 0 0 10px;
  color: $color_steel_blue_approx;
  text-decoration: none;
  padding: 0 2% 0 8%;
  background: url(../images/sprite-home.png) no-repeat scroll -902px -84px rgba(0, 0, 0, 0);
}

//original selectors
//#voyForgotPassword .close, #voyager .ui-dialog-titlebar-close
%extend_11 {
  background-position: -300px 0;
  cursor: pointer;
  direction: ltr;
  display: block;
  height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -11px;
  text-align: left;
  text-indent: -999em;
  top: -10px;
  width: 25px;
}




//original selectors
//.ie6 #voyager .top .left a.vIcon.orange, .ie7 #voyager .top .left a.vIcon.orange, .ie8 #voyager .top .left a.vIcon.orange
%extend_17 {
  float: left;
  margin: 2px 0 0 -5px;
  text-decoration: none;
  width: 120px;
}

//original selectors
//.ie6 #voyager .top .right a.vButton.login, .ie7 #voyager .top .right a.vButton.login, .ie8 #voyager .top .right a.vButton.login
%extend_18 {
  color: $white;
  float: right;
  margin: 2px 0 0;
  text-decoration: none;
}

//original selectors
//.ie7 .forgetLoc, .ie7 .forgetLoc a
%extend_19 {
  height: 28px;
  padding: 0 30px 0 0;
  text-align: right;
  width: 200px;
}

//original selectors
//.ie7 #LoL .remember input, .ie8 #LoL .remember input
%extend_20 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  display: block;
  margin-top: 3px;
}


