@import "settings";


/** Footer **/
#footer {
  display: block;
  position: relative;
  width: 100%;

  background: $color_chambray_approx $site-sprite repeat-x 0 -1508px;

  width: 100%;
  margin: 20px 0 0;
  overflow: hidden;

  font-size: 11px;

  .wrap {
    height: 52px;
    width: $site-width;
    margin: 0 auto;
    @include clearfix();
  }

  .copyright {
    clear: both;
    color: $color_portage_approx;
    float: left;
    line-height: 52px;
    width: 160px;
  }

  nav {
    float: left;
    width: 580px;
    margin-top: 6px;
    ul {
      text-align: center;
      li {
        float: left;
        font-size: 11px;
        font-weight: normal;
        padding: 3px 10px;
      }
    }
    a {
      color: $color_portage_approx;
      white-space: nowrap;
      &:hover {
        color: $color_anakiwa_approx;
      }
    }
  }

  .social {
    float: right;
    width: 84px;
    margin-top: 5px;
    a {
      display: block;
      background: url(../images/sprite.png) no-repeat;
      float: left;
      height: 16px;
      width: 16px;
      margin: 5px 0 0 5px;
      text-indent: -5000px;
    }
    .windowstore {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 11);
    }
    .googleplus {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 10);
    }
    .pinterest {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 9);
    }
    .googleplay {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 10);
    }
    .applestore {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 9);
    }
    .facebook {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 5);
      &:hover {
        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 5);
      }
    }
    .twitter {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 6);
      &:hover {
        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 6);
      }
    }
    .rss {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 7);
      &:hover {
        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 13, 7);
      }
    }
  }


  #snoopy {
    display: none;
  }

}

#allianceLogo {
  a {
    display: block;
    background: url(../images/sprite.png) no-repeat;
    float: left;
    height: 38px;
    margin: 10px 0 0;
    text-indent: -5000px;
  }
  .staralliance {
    background-position: 0px -880px;
    width: 105px;
    &.fifteenyears {
      width: 59px;
    }
  }
  .satourism {
    background-position: 0px -880px;
    width: 73px;
  }
  .proudlysa {
    background-position: 0px -880px;
    width: 36px;
  }
  .saa {
    background-position: 0px -880px;
    width: 62px;
  }
  .anniYear {
    background-position: 0px -880px;
    width: 74px;
    margin-left: 105px;
  }
  .twentyYear {
    background-position: 0px -880px;
    width: 45px;
  }
}
