@import "settings";





form {

  .input {
    margin-bottom: $form-input-margin;
    position: relative;
    .input {
      margin-bottom: 0;
    }
  }

  input, select, textarea, button, .selectric, .linkselect-link, .linkselect-disabled {
    font-family: $font-sans-serif;
    font-size: $form-input-font-size;
    line-height: $form-input-line-height;
    color: $color_tundora_approx;

    width: 100%;
    padding: ($form-input-padding - 2) $form-input-padding;
    @include box-resizing();
    background: $white;
    border: 1px solid $color_celeste_approx;

    &:-moz-placeholder {
      color: $color_shady_lady_approx;
    }

    .invalid {
      //TODO Add this!!!
    }
  }

  input[type="radio"] {
    //background: $color_hippie_blue_approx;
    border: none;
    cursor: pointer;
    width: auto;
  }
  input[type="checkbox"] {
    border: none;
    cursor: pointer;
  }
  input[type="button"] {
    cursor: pointer;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  input[type="image"] {
    cursor: pointer;
  }


  select {
    padding: ($form-input-padding - 2) $form-input-padding/2;
  }
  textarea {
    &:-moz-placeholder {
      color: $color_shady_lady_approx;
    }
  }
  button {
    position: relative;
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0 none;
    line-height: 15px;

    &::-moz-focus-inner {
      border: medium none;
      padding: 0;
    }
    span {
      display: block;
      position: relative;
      white-space: nowrap;
    }
    &.round {
      color: $white;
      font-size: 11px;
      text-align: center;
      text-transform: uppercase;
      &.green {
        background: url("../images/button-green.png") no-repeat scroll right top rgba(0, 0, 0, 0);
        float: right;
        padding: 0 26px 0 0;
        span {
          background: url("../images/button-green.png") no-repeat scroll left top rgba(0, 0, 0, 0);
          height: 23px;
          padding: 9px 5px 0 15px;
          //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: 0 1px 2px $color_bilbao_approx;
        }
      }
      &.brown {
        background: url("../images/button-brown.png") no-repeat scroll right top rgba(0, 0, 0, 0);
        float: right;
        padding: 0 14px 0 0;
        span {
          background: url("../images/button-brown.png") no-repeat scroll left top rgba(0, 0, 0, 0);
          height: 23px;
          padding: 9px 2px 0 15px;
          //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: 0 1px 2px $color_spicy_mustard_approx;
        }
      }
    }
    &.ui-button-icon-only {
      width: 2.4em;
    }
    &.ui-button-icons-only {
      width: 3.7em;
    }
    &.ui-button::-moz-focus-inner {
      border: 0 none;
      padding: 0;
    }
  }


  label {
    input {
      display: inline-block;
      width: auto;
    }
  }


  label {
    cursor: pointer;
    &.chkLabelYes {
      left: 0;
      span {
        background-position: -100px -700px;
        left: 13px;
      }
    }
    &.chkLabelNo {
      right: 0;
      span {
        background-position: -80px -700px;
        right: 12px;
      }
    }
  }


  .input {
    label {
      display: block;
      margin: 0 0 6px 0;
      &.inline {
        margin: 0;
        line-height: 28px;
        height: 28px;
        a[class*="icon"],
        span[class*="icon"]{
          margin-top: 6px;
          float: right;
        }
      }
    }
  }

  .input.radios {
    label {
      display: inline-block;
      margin: 0;
    }
  }

  .input.datepicker,
  .input.datetimepicker{
    @include clearfix();
    label {
      input {
        display: inline-block;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .input {
      float: left;
    }
    .input.time {
      width: 75px;
      margin-left: $form-input-margin/2;
      margin-top: $form-input-margin;
    }
    .input.day {
      width: 75px;
    }
    .input.month,
    .input.month-year {
      margin-left: $form-input-margin/2;
      width: 110px;
    }
    .icon-calendar {
      margin: 0 0 0 $form-input-margin/2;
      cursor: pointer;
    }
    label.time {
      width: 75px;
      display: inline-block;
      float: left;
      line-height: 28px;
      height: 28px;
      text-align: right;
      margin-top: $form-input-margin;
    }
  }
  .input.datepicker,
  .input.datetimepicker{
    > .disabled {
      .icon-calendar {
        cursor: default;
      }
    }
  }

  .input.row {
    margin: 0 (-($form-input-margin))/4;
    margin-bottom: $form-input-margin;
    .column {
      position: relative;
      padding: 0 $form-input-margin/4;
    }
  }

  .input.submit {
    margin: 0;
    button {
      margin: 0;
    }
  }

  p.tip {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 11px;
    color: $color_steel_blue_approx;
  }

  input.invalid,
  .linkselect-link.invalid {
    border-color: #f30;
    box-shadow: 0 0 3px #f30;
    -webkit-box-shadow: 0 0 3px #f30;
    -moz-box-shadow: 0 0 3px #f30;
  }

}



.linkselect-link {
  display: block;




  &:hover {
    text-decoration: none;

    .linkselect-link-icon {
      @extend .icon-arrow-down:hover;
    }
  }


}

@import "linkselect";


/*

&.linkselectLinkFocus {
  color: $color_tundora_approx;
  outline: 0 none;
}
&.linkselectLinkOpen {
  color: $color_tundora_approx;
  outline: 0 none;
}
&.linkselectLink {
}



.linkselectContainer {
  display: none;

  left: 0;
  margin-top: 24px;
  max-width: 500px;
  position: absolute;
  top: 0;
  z-index: 2000;

  .title {
    display: none;
  }
  .scrollable {
    background-color: $white;

    border-radius: 0 0 $global-radius $global-radius;

    border: 1px solid $color_periwinkle_gray_approx;
    border-top: none;

    box-shadow: $box-shadow;

    font-size: 11px;
    margin: 0;
    max-height: 216px;
    overflow: auto;
    padding: 0;
    text-align: left;
    width: auto;
  }
  ul {
    margin: 0;
    li {
      cursor: pointer;
      display: block;
      font-size: 12px;
      margin: 0;
      padding: 2px;
      &.current {
        background-color: $color_jordy_blue_approx;
        color: $white;
      }
      span {
      }
    }
  }


  &.destCity {
    width: 271px !important;
  }
  &.departDay {
    width: 40px !important;
    .scrollable {
      max-height: 100px !important;
    }
  }
  &.returnDay {
    width: 40px !important;
    .scrollable {
      max-height: 100px !important;
    }
  }
  &.departMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 100px !important;
    }
  }
  &.returnMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 100px !important;
    }
  }
  &.pickMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.dropoffMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.checkinMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.checkoutMonthYear {
    width: 81px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.statusDestCity {
    width: 150px !important;
    .scrollable {
      max-height: 150px !important;
    }
  }
  &.statusDepartCity {
    width: 150px !important;
    .scrollable {
      max-height: 150px !important;
    }
  }
  &.IBoardPoint {
    width: 270px !important;
    .scrollable {
      max-height: 100px !important;
    }
  }
  &.adultPop {
    width: 87px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.childPop {
    width: 87px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.hotelAdults {
    width: 87px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.hotelChildren {
    width: 87px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.hotelInfants {
    width: 88px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.infantPop {
    width: 88px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.pickUpTime {
    width: 55px !important;
    .scrollable {
      max-height: 66px !important;
    }
  }
  &.dropOffTime {
    width: 55px !important;
    .scrollable {
      max-height: 66px !important;
    }
  }
  &.pickDay {
    width: 40px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.dropoffDay {
    width: 40px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.checkinDay {
    width: 40px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
  &.checkoutDay {
    width: 40px !important;
    .scrollable {
      max-height: 90px !important;
    }
  }
}

*/


.select {
  .ui-autocomplete {
    width: 100%;
  }
  position: relative;
}


/*======================================================================
  Selectric
======================================================================*/

.selectricWrapper {
  position: relative;
  margin: 0;
  cursor: pointer;
}

.selectricResponsive {
  width: 100%;
}

.selectric {

/*
  border: 1px solid #DDD;
  background: #F8F8F8;
  position: relative;
  border-radius: 2px;
  @include box-resizing();
*/

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;

    font-family: $font-sans-serif;
    font-size: $form-input-font-size;
    line-height: $form-input-line-height;

  }
  .button {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    text-indent: -5000px;

    display: block;
    overflow: hidden;

    top: 4px;
    right: 4px;

    @extend .icon-arrow-down;

  }
}

.selectricHover .selectric {
  border-color: #CCC;
  .button {
    color: #888;
    &:after {
      border-top-color: #888;
    }
  }
}

.selectricOpen {
  z-index: 9999;
  .selectric {
    border-color: #CCC;
    background: #F0F0F0;
  }
  .selectricItems {
    display: block;
  }
}

.selectricDisabled {
  //filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
  select {
    position: absolute;
    left: -100%;
    display: none;
  }
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

//Items box
.selectricItems {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F9F9F9;
  border: 1px solid #CCC;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
  .selectricScroll {
    height: 100%;
    overflow: auto;
  }
}

.selectricAbove .selectricItems {
  top: auto;
  bottom: 100%;
}

.selectricItems {
  ul {
    @extend .ui-autocomplete;
    margin: 0 !important;
  }
}
.selectricItems li,
.ui-autocomplete a {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: $form-input-font-size;
  line-height: $form-input-line-height;
  min-height: $form-input-line-height;
  display: block;
  padding: 5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;
  font-weight: normal;
  &.selected {
    background: #EFEFEF;
    color: #444;
    border-top-color: #E0E0E0;
  }
  &:hover {
    background: #F0F0F0;
    color: #444;
    text-decoration: none;
  }
  &.disabled {
    background: #F5F5F5;
    color: #BBB;
    border-top-color: #FAFAFA;
    cursor: default;
  }
  span {
    font-weight: bold;
  }
}
.ui-autocomplete {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}



