@import "settings";
@import "mixins";
@import "bower_components/bourbon/dist/bourbon";

//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Normalise */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: $font-sans-serif;
}
* {
  &::-moz-selection {
    background: none repeat scroll 0 0 $color_picton_blue_approx;
    color: $color_mine_shaft_approx;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
  }
}
html {
  height: 100%;
  min-width: 800px;
  &.flysaa {
    overflow-y: scroll;
  }
}
body {
  font: 12px/1.231 sans-serif;
  color: $color_tundora_approx;
  font-family: $font-sans-serif;
  height: 100%;
  min-width: 800px;
  background: url(../images/bg.jpg) repeat-x $color_blue_background left -36px;
  color: $color_body_text;
}

strong, .bold, .strong {
  font-weight: bold;
}

aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
section {
  display: block;
}
nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.hidden, .hide {
  display: none;
}
.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
.invisible {
  visibility: hidden;
}
.clearfix {
  @include clear-fix();
}
.clr {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.floatLeft,
.left {
  float: left;
}
.floatRight,
.right {
  float: right;
}
a {
  color: $color_link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $color_link_active;
  }
  > span[class*="icon"] {
    float: left;
    margin: 2px 6px 0 0;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}


#ieNotice {
  display: none;
  width: 100%;
  padding: 9px 0;
  background: #fff;
  color: $color_blue_background;
  text-align: center;
  font-size: 14px;
  p {
    margin: 0.5em 0;
  }
}

/** Coloured Formatting **/
.red {
  color: $color_scarlet_approx;
}
.gold {
  color: $color_tussock_approx;
}
.grey {
  color: $grey;
}
.blue {
  color: $color_steel_blue_approx;
}

$site-iframe-overlay-width: 1004px;


#checkInWrap {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3000;
  
  height: 90%;
  width: $site-iframe-overlay-width;
  margin-left: -($site-iframe-overlay-width/2);
  padding: $global-padding;

  background: #fff;
  overflow: hidden;

  border-radius: $global-radius;
  box-shadow: $box-shadow;

  iframe {
    width: 100%;
    height: 100%;
  }
}
#schedWrap {
  display: none;
  position: relative;

  width: $site-width;
  margin: 0 auto 20px;
  overflow: hidden;

  background: #fff;

  border-radius: $global-radius;
  box-shadow: $box-shadow;
}

#iframePopup {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: $modal-index;

  height: 80%;
  width: $site-iframe-overlay-width;
  margin-left: -($site-iframe-overlay-width/2);
  padding: $global-padding*3 $global-padding/2 $global-padding/2;

  background: #fff;
  overflow: hidden;

  border-radius: $global-radius;
  box-shadow: $box-shadow;

  box-sizing: border-box;

  > div {
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .close {
    background: url("../images/modal/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    padding: 0 0 0 19px;
    position: absolute;
    width: 0;
    top: 3px;
    right: 3px;
  }
}

.loading {
  background: $white url('../images/loader.gif') center center no-repeat !important;
}