@import "settings";

/*
Title Header
Description Provides all the header styling for the top portion of the SAA website
*/





/** Header **/
#header {
  position: relative;
  z-index: $header-z-index;

  @include clear-fix();

  .top {
    background: $site-sprite repeat-x 0 -1560px;
    .wrap {
      margin: 0 auto;
      width: $site-width;
      height: $topbar-height;
      > .left {
        float: left;
      }
      > .right {
        float: right;
        position: relative;
        > div,
        > nav {
          float: left;
        }
      }
    }
  }


  nav {
    &.siteLinks,
    &.contextLinks {
      li {
        float: left;
        line-height: 26px;
        padding: 0;
        margin: 5px 0 0;
        a {
          color: $white;
          height: 23px;
          line-height: 20px;
          padding: 4px 12px;
          text-shadow: 0 1px 2px $topbar-sitelinks-text-color;
          &:hover {
            color: $white;
          }
        }
      }
    }
    &.siteLinks {
      .selected {
        height: 31px;
        margin: 5px 0 0;
        a {
          display: block;
          color: $topbar-sitelinks-text-color-active;
          font-weight: bold;
          background: $site-sprite no-repeat -460px -40px;
          border-style: solid solid none;
          border-radius: 3px 3px 0 0;
          border-width: 1px 1px 0;
          height: 29px;
          line-height: 26px;
          padding: 0 15px;
          text-shadow: 0 1px 1px $white;
          &:hover {
            color: $topbar-sitelinks-text-color-hover;
          }
        }
      }
    }
    &.contextLinks {
      height: 26px;
      li {
        border-right: $context-links-border;
        &:last-child {
          border: none;
          a {
            padding-right: 0;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .search {
    position: relative;
    width: 154px;
    margin: 4px 0;
    background: $site-sprite no-repeat -300px 0;
    .input {
      background: none;
      border: none;
      padding: 0 8px 0 8px;
      margin: 0;
      height: 26px;
      line-height: 26px;
      width: 114px;
      color: $white;
    }
    .button {
      position: absolute;
      top: 2px;
      right: 0;
      background: $site-sprite no-repeat -280px 0px;
      border: none;
      height: 15px;
      width: 16px;
      margin: 5px;
      text-indent: -5000px;
    }
  }

  .region {
    float: right;
    padding: 0;
    border-left: $region-border;
    margin: 4px 12px;
    height: 26px;
    #currentLoc {
      display: block;
      cursor: pointer;
      background: $site-sprite no-repeat 0 -280px;
      width: 24px;
      height: 20px;
      margin: 2px 0 2px 12px;
      text-indent: -5000px;
    }
    &:hover {
      #regionNav {
        display: block;
      }
    }
  }

  #regionNav {
    display: none;
    position: absolute;
    right: 0;
    width: $region-width;
    padding-top: 7px;
    @include transition($ease-in-out);
  }
  #regionNav > div {
    background: $color_san_marino_approx;
    box-shadow: -1px 1px 2px $color_astronaut_approx;
    border: 1px solid $color_gallery_approx;
    border-top: none;
    border-radius: 0 0 4px 4px;
    font-size: 11px;

    .tabs > ul {
      background: $color_san_marino_approx;
      margin: 0 auto;
      padding: 0 40px;
      list-style: none;
      height: 29px;
      li {
        float: left;
        padding: 0;
        margin: 0;
        width: (100% / $region-columns);
        font-weight: normal;
        font-size: inherit;
        line-height: 1;
        a {
          display: block;
          background: $color_san_marino_approx;
          color: $color_anakiwa_approx;
          padding: 10px 0 8px 10px;
          @include transition($ease-in-out);
        }
      }
      &.js {
        display: block;
      }
      li.ui-tabs-selected {
        a {
          background: $color_kashmir_blue_approx;
          color: $color_hawkes_blue_approx;
        }
      }
    }
    .tabs > div {
      background: $color_kashmir_blue_approx;
      padding: 10px 40px;
      @include transition($ease-in-out);
      @include clear-fix();
      ul {
        list-style: none;
        background: none;
        padding: 0;
      }
      li {
        width: (100% / $region-columns);
        float: left;
        font-weight: normal;
        font-size: inherit;
        a {
          display: block;
          background: none;
          padding: 3px 0 3px 10px;
          white-space: nowrap;
          color: $color_anakiwa_approx;
          &.active,
          &:hover {
            color: $white;
          }
        }
      }
    }
    .remember {
      display: none;
      height: 36px;
      input {
        background-position: 100% 0;
        margin: 0px;
      }
      label {
        position: relative;
        background: $site-sprite no-repeat 100% -1440px;
        cursor: pointer;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        margin: 8px 10px 4px;
        color: $color_pattens_blue_approx;
        input {
          display: none;
        }
        .bg {
          background: $site-sprite no-repeat -60px -1440px;
          float: left;
          height: 22px;
          line-height: 22px;
          padding: 0 10px 0 30px;
          margin-right: 3px;
        }
        .check {
          background: $site-sprite no-repeat 0 -1440px;
          position: absolute;
          height: 22px;
          width: 23px;
          z-index: 10;
          &.un {
            background-position: -30px -1440px;
          }
        }
        &:hover {
          background-position: 100% -1462px;
          .bg {
            background-position: -60px -1462px;
          }
          .check {
            background-position: 0 -1462px;
            &.un {
              background-position: -30px -1462px;
            }
          }
        }
      }
    }
    .saved {
      @include clear-fix();
      line-height: 36px;
      position: relative;
      z-index: $header-z-index + 1;

      p {
        font-size: inherit;
        line-height: inherit;
        margin: 0;
      }

      .pref {
        color: $color_perano_approx;
        float: left;
        margin: 0 0 0 10px;
        span {
          color: $color_pattens_blue_approx;
          font-weight: 700;
        }
      }

      .forget {
        float: right;
        height: auto;
        margin-top: -6px;
        a {
          color: $color_saffron_mango_approx;
          font-weight: bold;
          text-shadow: 0 1px 1px #2d537b;
          padding: 0 10px 0 0;
          &:hover {
            color: $white;
          }
          .icon-pin {
            margin-bottom: -4px;
            float: none;
          }
        }
      }
    }

  }





  .language {
    cursor: pointer;
    position: relative;
    border-right: 1px solid $color_polo_blue_approx;
    margin: 4px 0 0;
    padding: 0 10px 0 0;
    height: 26px;

    //TODO Need to check this still exists
    .linkselectLink {
      background-image: $site-sprite;
      background-position: -10px 0;
    }
    span.code {
      display: inline-block;
      color: $white;
      font-size: 11px;
      line-height: 16px;
      margin: 4px 0 6px;
      span.icon-downarrow {
        float: right;
        margin-left: 2px;
      }
    }
    &:hover {
      span.icon-downarrow {
        @extend .icon-downarrow:hover;
      }
    }


    ul {
      display: none;
      position: absolute;
      right: 0;
      z-index: 11;

      background-image: none;
      border-radius: 0 0 4px 4px;
      border-bottom: 1px solid $color_gallery_approx;

      margin: 0 0 0 0;
      padding: 5px 0 0;

      width: 100px;
      overflow: hidden;

      li {
        background: none repeat scroll 0 0 $color_kashmir_blue_approx;
        border: 1px solid $color_gallery_approx;
        border-top: none;
        border-bottom: none;
        margin: 0;
        padding: 0;
        a {
          display: block;
          color: $white;
          padding: 6px 8px;
          font-size: 11px;
          text-shadow: 1px 0 0 $black;
          font-weight: normal;
          &:hover {
            background: $color_cornflower_blue_approx;
            text-shadow: none;
          }
        }
      }
      .selected {
        display: none;
      }
    }
    &:hover ul {
      display: block;
    }
  }
  .bottom {
    background: url(../images/clouds.jpg) top center no-repeat;
  }
  .masthead {
    width: $site-width;
    margin: 0 auto;
    padding: 24px 0;
    @include clear-fix();
    .logo {
      float: left;
      a {
        display: inline-block;
        background: $site-sprite 0 0;
        width: 149px;
        height: 83px;
        text-indent: -5000px;
      }
    }
    .leaderboard {
      float: right;
      img {
        display: block;
      }
    }
  }
}















