@import "settings";

%icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $site-sprite no-repeat;
}


[class*="icon-"] {
  @extend %icon;
}

.icon-downarrow {
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 1);
}
.icon-downarrow:hover {
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 2);
}
//Used for the forget my location link
.icon-pin {
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 5, 1);
  width: 17px;
  height: 30px;
}

/**
 * Menu Icons for the #menu
 */
[class*="icon-menu"] {
  width: 20px;
  height: 20px;
}
.icon-menu-speaker {      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 7);}
.icon-menu-plane {        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 2, 7);}
.icon-menu-pin {          @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 3, 7);}
.icon-menu-case {         @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 4, 7);}
.icon-menu-tail {         @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 5, 7);}
.icon-menu-car {          @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 6, 7);}
.icon-menu-hotel {        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 7, 7);}


/**
 * Icons for the Booking Block
 */
.icon-bb-flight {     @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 4);}
.icon-bb-checkin {    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 2, 4);}
.icon-bb-user {       @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 3, 4);}
.icon-bb-timer {      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 5, 4);}
.icon-bb-hotel {      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 6, 4);}
.icon-bb-car {        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 4, 4);}

.icon-bb-flight:hover {     @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 5);}
.icon-bb-checkin:hover {    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 2, 5);}
.icon-bb-user:hover {       @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 3, 5);}
.icon-bb-timer:hover {      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 5, 5);}
.icon-bb-hotel:hover {      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 6, 5);}
.icon-bb-car:hover {        @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 4, 5);}

/**
 * General Icons
 */

%icon-arrow-right {
  width: 12px;
  height: 12px;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 6, 1);
  &.gold {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 7, 1);
  }
  &:hover {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 6, 2);
    &.gold {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 7, 2);
    }
  }
}

.icon-arrow-right {
  @extend %icon-arrow-right;
}
.icon-arrow-down {
  width: 18px;
  height: 18px;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 1);
  &:hover {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 1, 2);
  }
}
.icon-arrow-right-large {
  width: 19px;
  height: 19px;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 8, 1);
}
.icon-calendar {
  width: 20px;
  height: 24px;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 4, 1);
}
.icon-info {
  width: 18px;
  height: 18px;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 3, 1);
  span {
    display: none;
  }
}
.icon-info:hover {
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 3, 2);
}
/*
.icon-info {
  position: relative;
  color: $color_body_text;
  &:hover {
    color: $color_body_text;
    > span {
      display: block;
      opacity: 1;
      @include transition($ease-in-out);
    }
  }
  > span {
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 25px;
    margin-left: -83px;
    width: 200px;

    font-size: 12px;
    line-height: 1.2em;
    z-index: $info-z-index;

    background: #CCCCCC;
    border-radius: $global-radius;
    border: 2px solid $color_buttercup_approx;
    box-shadow: 0 0 1px $black_50;

    @include transition($ease-in-out);

    &:after {
      content: "";
      position: absolute;
      z-index: 100;
      right: 50%;
      bottom: -20px;
      margin-left: -10px;
      width: 0px;
      height: 0px;
      border-top: 10px solid $color_buttercup_approx;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .head {
      display: block;
      padding: $global-padding;
      background: $color_buttercup_approx;
      color: $white;
      font-weight: bold;
    }
    .inner {
      display: block;
      padding: $global-padding;
    }
  }
}
*/

/**
 * Browser Icons
 */
.browsers {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: $site-sprite no-repeat;
  text-indent: -5000px;
  &.firefox {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 1);
  }
  &.safari {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 2);
  }
  &.chrome {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 3);
  }
  &.ie {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 14, 4);
  }
}


/**
 * Link icons like arrows
 */
.link-arrow {
  background: url("../images/icons/arrow-right-blue.png") no-repeat left center;
  padding-left: 18px;
  &:hover {
    background-image: url("../images/icons/arrow-right-blue-hover.png");
  }
  &.gold {
    background: url("../images/icons/arrow-right-gold.png") no-repeat left center;
    padding-left: 18px;
    color: $color_link_on_blue;
    &:hover {
      background-image: url("../images/icons/arrow-right-gold-hover.png");
      color: $color_link_on_blue_active;
    }
  }
}





