@import "settings";

.ie6 {
  a {
    &.button {
      color: $white;
      &.silver {
        color: $color_tundora_approx;
        color: $color_tundora_approx;
      }
      &.blue {
        background-position: 100% -87px;
        span {
          background-position: 0 -87px;
        }
      }
      &.orange {
        background-position: 100% -671px;
        span {
          background-position: 0 -285px;
        }
        &.download {
          background-position: 100% -284px;
          span {
            background-position: 0 -284px;
          }
        }
      }
    }
    &.dropLoc {
      background-position: 100% -740px;
      color: $white;
      span {
        background-position: 0 -740px;
      }
      &:hover span {
        background-position: 0 -740px;
      }
    }
    &.greenUgly {
      background-position: 100% -828px;
      span {
        background-position: 0 -828px;
      }
      &:hover {
        background-position: 100% -828px;
        span {
          background-position: 0 -828px;
        }
      }
    }
    &.brownUgly {
      background-position: 100% -925px;
      height: 16px;
      span {
        background-position: 0 -925px;
      }
      &:hover {
        background-position: 100% -957px;
        height: 16px;
        span {
          background-position: 0 -957px;
        }
      }
    }
  }
  .ieNotice {
    display: block;
  }
  input {
    vertical-align: text-bottom;
  }
  .ui-autocomplete-input {
    color: $color_woodsmoke_approx;
  }
  #LoL {
    .remember input {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      display: block;
      margin-top: 2px;
    }
    article li a {
      color: $color_anakiwa_approx;
    }
    .tabs li a {
      color: $color_anakiwa_approx;
    }
  }
  .topMost {
    margin-top: 5px;
  }
  #voyager {
    .top {
      .left {
        margin-left: -4px;
        a.vIcon.orange {
          @extend %extend_17;
        }
      }
      .right a.vButton.login {
        @extend %extend_18;
      }
    }
    .actions {
      margin: -10px 0 0;
      position: relative;
    }
    a.vButton {
      color: $white;
      float: right;
      text-decoration: none;
    }
  }
  .block {
    .mobi {
      margin: 20px 0 -20px;
    }
    .depCity {
      float: none;
    }
    ul .tabs li a {
      margin: 20px 0 0;
    }
  }
  .calWrap {
    display: none !important;
  }
  .exact {
    margin: 10px 0 -5px;
  }
  .flex {
    margin: 10px 0 -5px;
  }
  #checkin {
    #checkInAddPax {
      background-color: rgba(0, 0, 0, 0);
      border: medium none;
    }
    #checkInAddPaxM {
      background-color: rgba(0, 0, 0, 0);
      border: medium none;
    }
    .row input {
      float: left;
      width: auto;
    }
  }
  .col {
    margin: 0 2px;
    width: 100px;
  }
  #ISurname {
    float: left;
    width: 264px !important;
  }
  #etktnumberM {
    float: left;
    width: 264px !important;
  }
  #ISurnameM {
    float: left;
    width: 264px !important;
  }
  .chkHandle {
    background: none repeat scroll 0 0 $color_california_approx;
  }
  #warnings {
    display: block;
    float: left;
    left: 300px;
    padding: 40px 0 0;
    position: relative;
    top: -8px;
    z-index: 999;
    .noticeFix {
      position: relative;
      top: -50%;
    }
    .wrap {
      position: absolute;
      top: 50%;
    }
  }
  .ui-autocomplete {
    height: 200px;
  }
  .socialLinks {
    .facebook {
      margin: 17px 2px;
    }
    .twitter {
      margin: 17px 2px;
    }
  }
  .ui-helper-clearfix {
    height: 1%;
  }
  .essInfo a {
    color: $color_tundora_approx;
    color: $color_tundora_approx;
  }
  .ntfArea span {
    display: none;
  }
  .ntfMore span {
    display: none;
  }
  #midMenu a.essentialInfo {
    background-position: 100% -216px;
    span {
      background-position: 0 -216px;
    }
    &:hover {
      background-position: 100% -239px;
      span {
        background-position: 0 -238px;
      }
    }
  }
  .siteFooter nav ul li a {
    color: $color_anakiwa_approx;
  }
  .flexibility input {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
  #returnDate checkbox {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
  #flights #chkReturn {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
}