@import "settings";

.ie7 {
  .block {
    .mobi {
      margin: 20px 0 -20px;
    }
    .tabGradient {
      display: block;
    }
  }
  #checkin {
    #checkInAddPax {
      background-color: rgba(0, 0, 0, 0);
      border: medium none;
    }
    #checkInAddPaxM {
      background-color: rgba(0, 0, 0, 0);
      border: medium none;
    }
    .checkInAddPax input {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      width: auto;
    }
    .checkInAddPaxM input {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      width: auto;
    }
  }
  #warnings {
    padding: 40px 0 0;
    .wrap {
      position: absolute;
      top: 50%;
    }
    .noticeFix {
      position: relative;
      top: -50%;
    }
  }
  img {
  }
  input[type="checkbox"] {
    vertical-align: baseline;
  }
  .ntfMore {
    width: auto;
    span {
      display: none;
    }
  }
  .ntfArea {
    width: auto;
    span {
      display: none;
    }
  }
  .forgetLoc {
    @extend %extend_19;
    a {
      @extend %extend_19;
    }
    .pin {
      margin: -36px -30px 0 0;
    }
  }
  article.about p {
    float: left;
    padding: 0 10px 0 0;
    width: 415px;
  }
  #voyager .top {
    .left a.vIcon.orange {
      @extend %extend_17;
    }
    .right a.vButton.login {
      @extend %extend_18;
    }
  }
  .flexibility input {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
  #returnDate checkbox {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
  #flights #chkReturn {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
  }
  .essInfo .head {
    margin: -19px auto 3px;
  }
  .cabinClass label {
    float: left;
  }
  .promoCode label {
    float: left;
  }
  #LoL .remember input {
    @extend %extend_20;
  }
}
