@import "settings";

.ie8 {
  #voyager {
    .top {
      .left a.vIcon.orange {
        @extend %extend_17;
      }
      .right a.vButton.login {
        @extend %extend_18;
      }
    }
    a.vButton {
      color: $white;
      float: right;
      text-decoration: none;
      color: $white;
      float: right;
      text-decoration: none;
    }
  }
  #checkin {
    .checkInAddPax input {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      width: auto;
    }
    .checkInAddPaxM input {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      width: auto;
    }
  }
  article.about p {
    float: left;
    padding: 0 10px 0 0;
    width: 415px;
  }
  #LoL .remember input {
    @extend %extend_20;
  }
  .headerSearch .searchInput {
    line-height: 23px !important;
  }
}