@import "settings";

/** content **/
section.content {
  .wrap {
    width: $site-width;
    margin: $content-outer-margin auto 0 auto;
    @include clear-fix();

    &:first-child {
      margin-top: 0;
      background: url(../images/sprite.png) no-repeat center -1596px;
    }

    > .left {
      width: $content-left-width;
      padding-right: $content-outer-padding;
      float: left;
    }
    > .right {
      float: left;
      width: $content-right-width;
    }
  }
  &.horizontal {
    .wrap {
      width: $site-width;
      > .left {
        width: $content-left-with-sidebar-width;
      }
      > .right {
        width: $content-right-with-sidebar-width;
      }
    }
  }
}

.row {
  @include clearfix();
  margin: 0 (-($global-margin/2));
  .column {
    float: left;
    @include box-resizing();
    padding: 0 $global-margin/2;
  }
  .small-3 {
    @include row-column(3);
  }
  .small-4 {
    @include row-column(4);
  }
  .small-5 {
    @include row-column(5);
  }
  .small-6 {
    @include row-column(6);
  }
  .small-7 {
    @include row-column(7);
  }
  .small-8 {
    @include row-column(8);
  }
  .small-9 {
    @include row-column(9);
  }
  .small-12 {
    @include row-column(12);
  }
}
