/*
 * define styles for linkselect plug-in
 */

a.linkselect-link, span.linkselect-disabled {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -moz-user-focus: ignore;
  -moz-user-input: disabled;
}




.linkselect-link,
.linkselect-disabled {
  display: inline-block;
  position: relative;

  &:hover, &.linkselect-link-focus {

  }

  &.linkselect-link-open {

  }

  .linkselect-link-icon {

	@extend %icon;

	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	text-indent: -5000px;

	display: block;
	overflow: hidden;

	top: 4px;
	right: 4px;

	@extend .icon-arrow-down;
  }

  .linkselect-link-text {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: left;

	font-family: $font-sans-serif;
	font-size: $form-input-font-size;
	line-height: $form-input-line-height;
	text-decoration: none;
  }

  &:hover {
	.linkselect-link-icon {
	  @extend .icon-arrow-down:hover;
	}
  }

}

span.linkselect-disabled {
  filter: "alpha(opacity=75)";
  -moz-opacity: 0.75;
  opacity: 0.75;
}


.linkselect-container {
  position: absolute;
  /* this is required to correctly calculate the width of the container */
  left: 0;
  top: 0;
  display: none;
  /* 
   * move the box up 3 pixels so that the title bar aligns with original anchor text, this 
   * should be adjusted according to the padding/margin differences between the two links 
   */
  margin-top: 24px;
  max-width: 250px;
  z-index: $linkselect-z-index;

  @extend .ui-autocomplete;
  height: auto;
  max-height: inherit;


  .linkselect-title {
	display: none;
	/*
	color: #fff !important;
	padding-right: 20px !important;
	white-space: nowrap;
	font-size: 11px !important;
	font-weight: bold !important;
	line-height: 11px !important;
	cursor: default;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore;
	-moz-user-input: disabled;
	&.placeholder {
	  cursor: pointer;
	}
	span {
	  display: block;
	  padding: 3px 4px;
	}
	*/
  }
  .linkselect-scrollable {
	width: auto;
	background-color: white;
	margin: 0;
	padding: 0px;
	font-size: 11px;
	text-align: left;
	overflow: auto;
	max-height: 111px;
	clear: both;
  }
  ul {
	list-style-type: decimal !important;
	margin: 0px;
	padding: 0px;
	li {

	  list-style: none;
	  padding: 0;
	  margin: 0;
	  font-size: $form-input-font-size;
	  line-height: $form-input-line-height;
	  min-height: $form-input-line-height;
	  display: block;
	  padding: 5px;
	  border-top: 1px solid #FFF;
	  border-bottom: 1px solid #EEE;
	  color: #666;
	  cursor: pointer;

	  -moz-user-select: none;
	  -moz-user-focus: ignore;
	  -moz-user-input: disabled;

	  &.linkselect-selected {
		background: #EFEFEF;
		color: #444;
		border-top-color: #E0E0E0;
	  }
	  &:hover {
		background: #F0F0F0;
		color: #444;
		text-decoration: none;
	  }
	  &.disabled {
		background: #F5F5F5;
		color: #BBB;
		border-top-color: #FAFAFA;
		cursor: default;
	  }

	  &.hidden {
		display: none;
	  }


	  &.linkselect-current {
	  }
	  &.placeholder {
		display: none;
	  }
	}
  }
}

.row .column.select:last-child .linkselect-container {
  right: 0px;
  left: auto;
}
