@import "settings";
@import "icons";

/** Menu **/
#menu {
  nav {
    color: $white;
    width: $site-width;
    margin: 0 auto;
    position: relative;
    z-index: $menu-z-index;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  li {
    font-weight: normal;
  }
  nav > ul {
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;

    position: relative;
    z-index: $menu-z-index;
    margin: 0 auto;
    text-align: center;
    padding: 0;

    > li {
      display: block;
      float: left;
      border-collapse: collapse;
      border-spacing: 0px;
      padding: 0;
      margin: 0;

      > a {
        background: url(../images/sprite.png) no-repeat -40px -90px;
        display: block;
        font-family: $menu-font-family;
        font-size: $menu-font-size;
        font-weight: normal;
        color: $menu-font-color;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        text-decoration: none;
        &:hover {
          background-position: -40px -154px;
        }
      }
      &:first-child > a {
        background-position: 0 -90px;
        padding-left: 26px;
        &:hover {
          background-position: 0 -154px;
        }
      }
      &:last-child > a,
      &.last > a {
        background-position: 100% -90px;
        padding-right: 26px;
        &:hover {
          background-position: 100% -154px;
        }
      }
      &:hover > ul {
        display: block;
      }
    }
  }


  nav > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;

    font-size: 12px;

    > li {
      float: left;
      width: 175px;
      height: 460px;

      background: $menu-bg-color-active;
      border-right: 1px solid $color_horizon_approx;

      text-align: left;

      &:first-child {
        border-bottom-left-radius: $global-radius*2;
      }
      &:last-child {
        border: none;
        border-bottom-right-radius: $global-radius*2;
      }

      h2 {
        background: $menu-heading-color;
        font-family: $submenu-font-family;
        font-weight: $submenu-font-weight;
        font-size: $submenu-font-size;
        padding: 10px 12px;
        line-height: 20px;
        color: $white;
        span {
          float: left;
          margin-right: 4px;
        }
      }

      ul {
        margin: 12px 12px 12px 22px;
        padding: 0;
        list-style: none;
        text-indent: -10px;
        li {
          margin: 5px 0;
          line-height: 1.2em;
          &:before {
            color: $white;
            content: "\00BB \020";
          }
          a {
            color: $submenu-link-color;
            text-shadow: 0px 1px 1px $black;
            font-family: $submenu-font-family;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &.highlight {
          font-size: $submenu-highlight-font-size;
          margin-left: 12px;
          span {
            float: left;
            margin-right: 14px;
          }
          li {
            line-height: 20px;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  li.plan-and-book {
    ul {
      /*display: block;*/
    }
  }

  li.manage-my-booking {
    > ul {
      width: $site-width !important;
      margin-left: -92px;
      > li {
        width: ((($site-width - 5px)/6)) !important;
        &:first-child {
          border-top-left-radius: $global-radius*2;
          overflow: hidden;
        }
        &:last-child {
          border-top-right-radius: $global-radius*2;
          overflow: hidden;
        }
      }
    }
  }
  li.essential-info {
    > ul {
      left: auto;
      right: 0;
      > li {
        width: 224px;
      }
    }
  }

  .best-fare-guarantee {
    background: url(../images/sprite.png) no-repeat 0 -800px;

    display: block;
    width: 75px;
    height: 80px;

    position: absolute;
    z-index: $menu-z-index - 1;
    top: 0px;
    right: -15px;
  }

}
