/**
 * Add a clearfix
 *
 */
@mixin clear-fix(){
  &:before {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  }
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

/**
 * Set the background position of the icon, taking into account its offset in the sprite
 *
 */
@mixin icon-position($offset-w, $offset-h, $spacing, $cols, $rows) {
  background-position: -1 * ($offset-w - $spacing + ($spacing * $cols)) -1 * ($offset-h - $spacing + ($spacing * $rows)) !important;
}

@mixin box-resizing(){
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


@mixin row-column($col){
  width: (100%/$site-columns*$col);
}