@import "settings";

#disabler {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: $overlay-index;
  display: none;
}

.alertmodal, .modal {
  display: none;
  position: absolute;
  width: 359px;
  z-index: $modal-index;

  background: $white;

  border: 10px solid $white;
  border-radius: $global-radius*2;
  box-shadow: $box-shadow;
  overflow: hidden;

  h4 {
    color: $color_cello_approx;
    padding: $global-padding;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
  }
  .close {
    background: url("../images/modal/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    overflow: hidden;
    padding: 0 0 0 19px;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
  }
  .inner {
    color: $color_mine_shaft_approx;
    background: $color_modal_background;
    font-size: 12px;
    line-height: 16px;
    padding: $global-padding;
    border-radius: 0 0 $global-radius $global-radius;
    .actions {
      margin-top: $global-padding;
      text-align: right;
    }
    .button {
      margin: 0;
    }
  }
  .bottom {
    height: 21px;
    width: 359px;
  }
  .buttons {
    height: 10px;
    padding: 10px 0;
  }
}

#sessionTimerMsg {
  .inner {
    text-align: center;
  }
  .clock {
    background: url("../images/sessiontimeout_clock.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 200px;
    margin-top: -10px;
  }
}

#sessionExpiredMessage {
  .inner {
    text-align: center;
  }
  .clock {
    background: url("../images/sessiontimeout_clock.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 200px;
    margin-top: -10px;
  }
}

#processing {
  background-color: $color_hawkes_blue_approx;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(center top , #cde0f8, #f1f1f1)
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 10px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px $black_50;
  display: none;
  left: 50%;
  margin: 100px 0 0 -270px;
  position: absolute;
  width: 520px;
  z-index: 2;
  .spinner {
    display: block;
    margin: 20px auto 0;
    width: 32px;
  }
  h1 {
    color: $color_picton_blue_approx;
    font-family: $font-sans-serif;
    font-size: 14px/14px;
    padding: 20px 0;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $white;
  }
  aside {
    background-color: $color_hoki_approx;
    //vendor-prefix found
    //background-image: -moz-linear-gradient(center top , #5074a1, #6183b2)
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 10px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 10px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 3px $black_20 inset;
    color: $white;
    padding: 10px;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 2px $color_smalt_approx;
  }
  em {
    font-weight: bold;
  }
}

