














/** Menu **/
#midMenu {
  background: url(../images/sprite-home.png) no-repeat scroll 50% -294px rgba(0, 0, 0, 0);
  height: 231px;
  position: relative;


  nav {
    float: left;
    width: 100%;
    color: $white;
  }
  ul {
    margin: 0 auto;
    max-width: 761px;
    width: 100%;
    z-index: 1024;
    position: relative;
    li {


      ul {
        display: none;
        left: 0;
        max-width: 1090px;
        min-width: 1055px;
        position: absolute;
        margin: 31px 0 0;
        li {
          background: $color_bismark_approx;
          float: left;
          width: 175px;
          border-right: 1px solid $color_horizon_approx;
          height: 460px;
          position: static;
          &:hover {
            background: none repeat scroll 0 0 $color_bismark_approx;
          }
          &:first-child {
            //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border: none;
            //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
            border-bottom-right-radius: 10px;
          }
          ul {
            margin: 10px 0 0;
            padding: 0 0 30px;
            position: static;
            width: auto;
            min-width: 160px;
            height: 260px;
            min-height: 260px;
            li {
              min-height: auto;
              height: auto;
              background: none;
              clear: both;
              border: none;
              &:hover {
                background: none;
              }
              a {
                display: block;
                padding: 4px 10px 4px 20px;
                float: none;
              }
            }
          }
        }
      }
      &:hover ul {
        display: block;
      }
      &.first ul li ul li a {
        display: block;
        padding: 4px 10px 4px 20px;
        float: none;
      }
    }
  }
  li {
    background: url(../images/sprite-home.png) no-repeat scroll 50% -572px rgba(0, 0, 0, 0);
    float: left;
    height: 31px;
    &:hover {
      background: url(../images/sprite-home.png) repeat scroll 50% -641px rgba(0, 0, 0, 0);
    }
    a {
      color: $color_pattens_blue_approx;
      float: left;
      padding: 8px 10px;
      text-decoration: none;
    }
    > h2 {
      background: url(../images/sprite-home.png) no-repeat scroll $color_san_juan_approx;
      padding: 10px 16px 10px 44px;
    }
    &.first > a {
      padding: 8px 10px 8px 28px;
    }
    &.last > a {
      padding: 8px 28px 8px 10px;
    }
    &.promotions > h2 {
      background-position: 10px -313px;
    }
    &.book-flights > h2 {
      background-position: 10px -350px;
    }
    &.destinations > h2 {
      background-position: 10px -390px;
    }
    &.travel-advisory > h2 {
      background-position: 10px -427px;
    }
  }

  li.first {
    background-position: -660px -572px;
    &:hover {
      background-position: -660px -641px;
    }
  }
  li.last {
    background-position: -830px -572px;
    &:hover {
      background-position: -830px -641px;
    }
    //padding: 1px 26px 0 0;
  }

  a:hover {
    color: $white;
  }

  .highlight {
    height: 70px;
    overflow: hidden;
    min-height: 50px;
    padding: 0;
    li {
      background: url(../images/sprite-home.png) no-repeat scroll 0 -519px rgba(0, 0, 0, 0);
      padding: 0 0 0 14px;
      &:hover {
        background: url(../images/sprite-home.png) no-repeat scroll 0 -519px rgba(0, 0, 0, 0);
        padding: 0 0 0 14px;
      }
      &:first-child {
        background-position: 0 -478px;
      }
      &:last-child {
        background-position: 0 -560px;
      }
    }
  }
  li.manage-my-booking > ul {
    margin-left: -106px;
    width: 100%;
    border-radius:10px;
    & > li {
      width: 15.31%;
    }
  }
  li.essential-info {
    position: relative;
    > ul {
      position: absolute;
      left: auto !important;
      background: none;
      width: 232px;
      li, ul li {
        width: 232px;
      }
    }
  }

  .best-fare-guarantee {
    position: absolute;
    top: 14px;
    right: -10px;
    width: 90px;
    height: 90px;
    background: url(../images/sprite-home.png) no-repeat scroll -1508px -70px rgba(0, 0, 0, 0);
    z-index: 999;
  }

}


/** Links **/
a {
  color: $color_tundora_approx;
  outline: medium none;
  &:hover {
    cursor: pointer;
    outline: medium none;
    color: $white;
  }
  &:active {
    cursor: pointer;
    outline: medium none;
    color: $color_tundora_approx;
    outline: medium none;
  }
  &:link {
  }
  &:visited {
    color: $color_tundora_approx;
    outline: medium none;
  }
  &.vButton {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: 100% -371px;
    color: $white;
    height: 27px;
    padding-right: 12px;
    text-decoration: none;
    span {
      background-image: url(../images/sprite-home.png);
      background-position: -10px 0;
      background-position: -2600px -572px;
      float: left;
      height: 17px;
      padding: 6px 5px 4px 15px;
    }
    &:hover {
      background-position: 100% -400px;
      span {
        background-position: -2600px -603px;
      }
    }
    &:active {
      background-position: 100% -429px;
      span {
        background-position: -2600px -603px;
      }
    }
    &.join {
      background-position: -3067px -667px;
      height: 29px;
      margin: 36px auto 0;
      padding-right: 24px;
      width: 109px;
      display: block;
      float: none;
      text-transform: uppercase;
      font-size: 11px;
      span {
        background-position: -2600px -667px;
        height: 23px;
        line-height: 18px;
        padding-right: 13px;
      }
    }
  }
  &.button {
    background-image: url(../images/sprite-home.png);
    color: $white;
    height: 23px;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    &.greenUgly {
      background-image: url(../images/sprite-home.png);
      background-position: -10px 0;
      background-position: -3124px -572px;
      font-size: 11px;
      font-weight: normal;
      height: 27px;
      padding-right: 25px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 1px $color_killarney_approx;
      text-transform: uppercase;
      span {
        background-image: url(../images/sprite-home.png);
        background-position: -10px 0;
        background-position: -2600px -572px;
        height: 16px;
        padding-left: 12px;
        padding-right: 7px;
        padding-top: 7px;
      }
      &:hover {
        background-position: -3124px -603px;
        span {
          background-position: -2600px -603px;
        }
      }
      &:active {
        background-position: -3124px -603px;
        span {
          background-position: -2600px -603px;
        }
      }
    }
    &.brownUgly {
      background-image: url(../images/sprite-home.png);
      background-position: -10px 0;
      background-position: -999px -700px;
      font-size: 11px;
      font-weight: normal;
      height: 28px;
      padding-right: 13px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 1px $color_potters_clay_approx;
      text-transform: uppercase;
      span {
        background-image: url(../images/sprite-home.png);
        background-position: -10px 0;
        background-position: -999px -732px;
        height: 15px;
        padding-left: 16px;
        padding-top: 7px;
      }
      &:hover {
        background-position: -999px -732px;
        span {
          background-position: -999px -732px;
        }
      }
      &:active {
        background-position: 100% -989px;
        span {
          background-position: -999px -732px;
        }
      }
    }
    span {
      background-image: url(../images/sprite-home.png);
      float: left;
      height: 13px;
      padding: 4px 5px 6px 16px;
    }
    &.blue {
      background-position: -3104px -668px;
      padding-right: 27px;
      height: 28px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 -1px 0 $color_blumine_approx;
      &.download {
        background-position: -3120px -668px;
        &:hover {
          background-position: -3120px -668px;
        }
        &:active {
          background-position: -3120px -668px;
        }
      }
      &:hover {
        background-position: -3104px -668px;
        span {
          background-position: -2600px -668px;
        }
      }
      &:active {
        background-position: -3104px -668px;
        span {
          background-position: -2600px -668px;
        }
      }
      span {
        background-position: -2600px -668px;
        padding: 4px 15px 6px 18px;
      }
    }
    &.orange {
      background-position: -1524px -700px;
      color: $white;
      height: 27px;
      margin: 0;
      font-weight: 100;
      padding-right: 26px;
      &.download {
        background-position: -3128px -668px;
        height: 28px;
        padding-right: 27px;
        span {
          background-position: -2600px -668px;
        }
        &:hover {
          background-position: -3128px -668px;
        }
        &:active {
          background-position: 100% -286px;
        }
      }
      &:hover {
        background-position: -1524px -732px;
        span {
          background-position: -999px -732px;
        }
      }
      &:active {
        background-position: -1524px -732px;
        span {
          background-position: -999px -732px;
        }
      }
      span {
        background-position: -999px -700px;
        padding: 5px 5px 6px 20px;
      }
    }
    &.green {
      background-position: -3125px -572px;
      padding-right: 20px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 -1px 0 $color_forest_green_approx;
      text-transform: uppercase;
      &:hover {
        background-position: 100% -743px;
        span {
          background-position: -2600px -603px;
        }
      }
      &:active {
        background-position: -3098px -603px;
        span {
          background-position: -2600px -603px;
        }
      }
      span {
        background-position: -2600px -572px;
      }
    }
    &.silver {
      background-position: 100% -500px;
      color: $color_tundora_approx;
      font-weight: normal;
      height: 25px;
      padding-right: 25px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 0 $white;
      white-space: nowrap;
      &:hover {
        background-position: 100% -525px;
        span {
          background-position: 0 -525px;
        }
      }
      &:active {
        background-position: 100% -550px;
        span {
          background-position: 0 -550px;
        }
      }
      span {
        background-position: 0 -500px;
        height: 15px;
        padding: 5px 5px 5px 8px;
      }
    }
  }
  &.dropLoc {
    color: $white;
    cursor: pointer;
    font-size: 14px;
    height: 26px;
    padding-right: 0;
    position: relative;
    text-decoration: none;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 1px $color_astronaut_approx;
    white-space: nowrap;
    z-index: 2;
    background: none;
    &:active {
      background-position: 100% -741px;
      span {
        background-position: 0 -741px;
      }
    }
    span {
      background-position: 0 -741px;
      float: left;
      height: 16px;
      padding: 4px 0 6px;
      margin: 0 8px;
      width: 26px;
    }
    &:hover span {
      background-position: 0 -767px;
    }
  }
  &.dropLang {
    background-position: 100% -598px;
    color: $color_tundora_approx;
    cursor: pointer;
    height: 24px;
    padding-right: 25px;
    text-decoration: none;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $white;
    &:hover {
      background-position: 100% -622px;
      span {
        background-position: 0 -622px;
      }
    }
    &:active {
      background-position: 100% -646px;
      span {
        background-position: 0 -646px;
      }
    }
    span {
      background-position: 0 -598px;
      float: left;
      height: 13px;
      padding: 4px 5px 7px 8px;
    }
  }
  &.vIcon {
    &.next:hover span {
      background-position: -250px -192px;
    }
    &.back:hover span {
      background-position: -235px -192px;
    }
  }
  &.arrowBlue {
    color: $color_san_juan_approx;
    font-size: 11px;
    line-height: 11px;
    padding: 1px 19px 1px 0;
    text-transform: uppercase;
  }
  &.right.arrowBlue {
    background: url("/images/arrow-blue.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    float: right;
  }
}


@import "includes/voyager.scss";

.block {
  color: $white;
  font-size: 12px;
  height: 336px;
  position: relative;
  .ui-tabs-hide {
    display: none;
  }
  .iconInfo {
    background-image: url(../images/sprite-home.png);
    background-position: -902px -136px;
    display: block;
    float: right;
    height: 17px;
    margin: 5px 8px 0 0;
    width: 17px;
    span {
      display: none;
    }
    &:hover {
      background-position: -902px -170px;
      cursor: pointer;
    }
  }
  #NoFlight {
    display: none;
    height: 68px;
    display: block;
    margin: 0 0 8px;
  }
  a {
    &.morePaxLink {
      color: $color_steel_blue_approx;
      text-decoration: none;
      //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s ease-in 0s;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        color: $color_steel_blue_approx;
        text-decoration: underline;
      }
      &.highlight:hover {
        color: $white;
      }
    }
    &.linkselectLink {
      &:hover {
        outline: 0 none;
      }
      &:focus {
        outline: 0 none;
      }
    }
  }
  .tabGradient {
    background-image: url(../images/sprite-home.png);
    background: none;
    display: table;
    margin: 18px 0;
    padding: 0 0 8px;
    border-bottom: 1px solid $color_steel_blue_approx;
    width: 100%;
  }
  .row {
    margin: 0 auto 8px;
    width: 100%;
    &.topMost {
      margin-top: 6px;
      margin: 0 0 8px;
    }
    label {
    }
    &.amountPax p {
      color: $color_steel_blue_approx;
      font-size: 11px;
    }
  }
  .boxTitle {
    height: 19px;
    .checkStyle {
      float: left;
      float: none;
      padding-right: 5px;
    }
  }
  .inputDay {
    float: left;
    margin-right: 5px;
    width: 86px;
  }
  .inputMonthYear {
    float: left;
    width: 105px;
  }
  .promoCodeInput {
    margin: 0;
    float: right;
    width: 128px;
    float: right;
    input {
      width: 118px;
    }
  }
  .morePax {
    margin: 3px 0 9px;
    font-size: 11px;
  }
  .actions {
    background: none repeat scroll 0 0 $white;
    bottom: 0;
    height: 30px;
    padding: 4px 0 0;
    width: 100%;
  }
  .desCity {
    width: 100%;
  }
  .depCity {
    float: left;
    margin: 0;
    width: 100%;
  }
  .cabinClassSelect {
    float: right;
    width: 128px;
  }
  .adSpace {
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 9px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 9px;
    bottom: 0;
    position: absolute;
    width: 281px;
  }
  .cars {
    &.adSpace {
      background: url("../images/splashhome/Chartis-homepage.png") no-repeat scroll 0 0 $white;
      height: 62px;
    }
    .time {
      margin-left: 3px;
      margin-top: 3px;
      padding-top: 4px;
    }
  }
  .carCountry {
    width: 132px;
    &.combobox input {
      padding-right: 18px;
      width: 110px;
    }
  }
  .col {
    float: left;
    margin: 0;
    width: 50%;
    input {
      float: left;
      margin: 0;
      width: 92%;
    }
    label {
      display: block;
      padding: 0 0 8px;
    }
  }
  #status {
    .col input {
      width: 91%;
    }
    .carDriverAge input {
      width: 91%;
    }
  }
  #FlightNo {
    height: 68px;
    display: block;
    margin: 0 0 8px;
  }
  #cars {
    .left-col.col {
      width: 56%;
    }
    .right-col.col {
      width: 44%;
    }
    .col label {
      padding: 12px 0 8px;
    }
  }
  .tabs {
    clear: both;
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
    li {
      background-position: 0 -40px;
      float: left;
      height: 61px;
      text-align: center;
      text-decoration: none;
      width: 56px;
      background-color: $color_cello_approx;
      border-bottom: 1px solid $color_jordy_blue_approx;
      &.ui-tabs-selected {
        background-color: $color_steel_blue_approx;
        &.flights {
          background-position: -984px -154px;
        }
        &:hover {
          &.flights {
            background-position: -984px -154px;
          }
          &.voyager {
            background-position: -1116px -154px;
          }
          &.check-in {
            background-position: -1050px -154px;
          }
          &.car-rental {
            background-position: -1182px -154px;
          }
          &.flight-status {
            background-position: -1248px -154px;
          }
          &.hotels {
            background-position: -1313px -154px;
          }
        }
        &.voyager {
          background-position: -1116px -154px;
        }
        &.check-in {
          background-position: -1050px -154px;
        }
        &.car-rental {
          background-position: -1182px -154px;
        }
        &.flight-status {
          background-position: -1248px -154px;
        }
        &.hotels {
          background-position: -1313px -154px;
        }
      }
      &:hover {
        background-color: $color_steel_blue_approx;
        &.flights {
          background-position: -984px -154px;
        }
        &.voyager {
          background-position: -1116px -154px;
        }
        &.check-in {
          background-position: -1050px -154px;
        }
        &.car-rental {
          background-position: -1182px -154px;
        }
        &.flight-status {
          background-position: -1248px -154px;
        }
        &.hotels {
          background-position: -1313px -154px;
        }
      }
      &:focus {
        background-color: $color_steel_blue_approx;
      }
      &.flights {
        background-image: url(../images/sprite-home.png);
        background-position: -984px -89px;
      }
      &.voyager {
        background-image: url(../images/sprite-home.png);
        background-position: -1116px -89px;
      }
      &.check-in {
        background-image: url(../images/sprite-home.png);
        background-position: -1050px -89px;
      }
      &.car-rental {
        background-image: url(../images/sprite-home.png);
        background-position: -1182px -89px;
      }
      &.flight-status {
        background-image: url(../images/sprite-home.png);
        background-position: -1248px -89px;
      }
      &.hotels {
        background-image: url(../images/sprite-home.png);
        background-position: -1313px -89px;
      }
      a {
        color: $white;
        display: table-cell;
        font-size: 9px;
        font-weight: normal;
        height: 61px;
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 52px;
        cursor: pointer;
        padding: 0 10px 0 2px;
        &:hover {
          padding: 0 10px 0 2px;
          background: url(../images/sprite-home.png) no-repeat scroll -948px -180px rgba(0, 0, 0, 0);
        }
      }
      span {
        float: left;
        margin: 34px 0 0;
        padding: 0 1%;
        position: relative;
        text-align: center;
        width: 98%;
      }
    }
  }
  .tab-top {
    //Instead of the line below you could use @includeborder-top-left-radius($radius)
    border-top-left-radius: 5px;
  }
  .tab-bottom {
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 5px;
    border: none !important;
  }
  .calWrap {
    background-position: -604px -10px;
    border: 0 none;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    cursor: pointer;
    float: right;
    height: 26px;
    margin: 19px 0 0;
    width: 20px;
    &:hover {
      background-position: -604px -10px;
    }
    &:active {
      background-position: -604px -10px;
    }
  }
  .combobox {
    position: relative;
    input {
      width: 264px;
    }
    button {
      background-color: rgba(0, 0, 0, 0);
      background-position: -901px -4px;
      border: 0 none;
      height: 100%;
      outline: 0 none;
      position: absolute;
      right: 2px;
      top: 0;
      width: 19px;
    }
  }
  .flightSchedule {
    background-color: $color_alto_approx;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 5px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 5px;
    bottom: 0;
    height: 94px;
    position: absolute;
    text-align: left;
    width: 235px;
    left: 0;
    padding: 10px;
    p {
      height: 16px;
      overflow: hidden;
      width: 100%;
    }
  }
  .blueBox a {
    color: $color_tundora_approx;
  }
  .mobi strong {
    color: $white;
  }
  .ui-tabs-selected a {
    color: $white;
  }
  .calendar .title {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    @extend %extend_12;
    background-position: -20px -794px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 5px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 3px $color_cello_approx;
    display: block;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin: 50px auto;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 1px $color_cello_approx;
    width: 204px;
  }
  ul li.sep {
    background-image: url(../images/sprite-home.png);
  }
  .statusButtons a {
    display: inline-block;
    &.button.orange.download {
      margin-right: 5px;
    }
  }
  .hotels.adSpace {
    background: url("../images/splashhome/hotels_bottom_banner.png") no-repeat scroll 0 0 $white;
    height: 95px;
  }
  .carDriverAge input {
    float: left;
    margin: 0;
    width: 92%;
  }
  li.sep {
    background-position: 0 -471px;
    width: 1px;
    display: none !important;
  }
  #checkin .iconInfo {
    float: left;
    margin: 6px 0 0 2%;
    width: 8%;
  }
  .infoPopup .iconInfo {
    margin: 0;
  }
  input:focus {
    background-color: $white;
  }
}



/** section for booking and advertising **/
#blocks {
  margin: -172px auto 20px;
  position: relative;
  #bb,
  #mb {
    float: left;
    height: 457px;
    margin-right: 10px;
    width: 311px;
  }
  #mb {
    margin: 0;
  }
  #midSpace {
    float: left;
    height: 457px;
    width: 653px;
  }
  #adSpaceImage {
    background: none repeat scroll 0 0 $color_danube_approx;
    border: 2px solid $white;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 12px;
    height: 453px;
    margin-bottom: 10px;
    width: 649px;
    overflow: hidden;
  }
  section.ui-tabs-panel {
    width: 235px;
    padding: 10px;
    float: left;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 5px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 5px $color_blumine_approx;
    background-color: $white;
    color: $color_mine_shaft_approx;
    height: 437px;
    position: relative;
  }
  ul.tabs {
    width: 56px;
    float: left;
    height: auto;
    position: relative;
    z-index: 100;
  }
  input.ui-widget {
    width: 93%;
  }
  .carCountry input.ui-widget {
    background: url(../images/sprite-home.png) no-repeat scroll -797px -4px $white;
    width: 78%;
  }
}



/** Hide in load **/
#saved {
  display: none;
}
#id_etkt {
  display: none;
}
#display_language {
  display: none;
}
#user_location {
  display: none;
}
#long_location {
  display: none;
}
.infoPopup {
  display: none;
}
#id_ffsa {
  display: none;
}
#msgAlertDiv {
  display: none;
}



//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.essInfo {
  background: none repeat scroll 0 0 $color_gallery_approx;
  border: 1px solid $color_california_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 3px $color_cello_approx;
  float: left;
  font-weight: 700;
  list-style: none outside none;
  margin: 0;
  min-height: 50px;
  padding: 3px 0;
  width: 220px;
  li {
    //vendor-prefix found
    //background-image: -moz-linear-gradient(center top , #eeeeee, #e3e3e3)
    border-bottom: 1px solid $color_alto_approx;
    border-top: 1px solid $white;
    display: block;
    padding: 0 10px;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease-in 0s;
    &:nth-child(2) {
      border-top: 1px solid $color_gallery_approx;
    }
    a:hover {
      color: $color_tundora_approx;
    }
    &:hover:not(.head) {
      background: none repeat scroll 0 0 $white;
      border-bottom: 1px solid $white;
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 3px $color_mountain_mist_approx;
      position: relative;
      z-index: 2;
    }
  }
  .head {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: 0 -655px;
    border: 0 none;
    height: 7px;
    margin: -10px auto 3px;
    width: 11px;
  }
}

//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.specialsWrap {
  .heading {
    display: none;
  }
  a {
    float: left;
    height: 46px;
    text-decoration: none;
    width: 175px;
    position: relative;
    &:hover {
      .specialRoute {
        //vendor-prefix found
        //background: -moz-linear-gradient(100% 0 270deg, #b3d1f7, #d6e6fb) repeat scroll 0 0 rgba(0, 0, 0, 0)
      }
      .priceWrap {
        //vendor-prefix found
        //background: -moz-linear-gradient(100% 0 270deg, #9dc1eb, #b5d0ed) repeat scroll 0 0 rgba(0, 0, 0, 0)
        color: $white;
        //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: 0 1px 1px $color_chambray_approx;
      }
    }
    &:nth-child(2) {
      border-bottom: 1px solid $color_rock_blue_approx;
      border-right: 1px solid $color_rock_blue_approx;
    }
    &:nth-child(3) {
      border-bottom: 1px solid $color_rock_blue_approx;
      border-left: 1px solid $white;
    }
    &:nth-child(4) {
      border-right: 1px solid $color_rock_blue_approx;
      border-top: 1px solid $white;
      .priceWrap {
        //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
        border-bottom-left-radius: 8px;
      }
    }
    &:nth-child(5) {
      border-left: 1px solid $white;
      border-top: 1px solid $white;
      .specialRoute {
        //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
        border-bottom-right-radius: 8px;
      }
    }
  }
  .specialRoute {
    //vendor-prefix found
    //background: -moz-linear-gradient(100% 0 270deg, #c8def9, #bbd1ec) repeat scroll 0 0 rgba(0, 0, 0, 0)
    color: $color_tundora_approx;
    float: right;
    height: 36px;
    padding: 10px 0 0 5px;
    width: 100px;
    .to {
      color: $color_nepal_approx;
    }
  }
  .priceWrap {
    //vendor-prefix found
    //background: -moz-linear-gradient(100% 0 270deg, #bed7f5, #b3cce9) repeat scroll 0 0 rgba(0, 0, 0, 0)
    color: $color_hot_toddy_approx;
    float: left;
    font-size: 13px;
    font-weight: 700;
    height: 38px;
    padding: 8px 0 0;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $white;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease-in 0s;
    width: 70px;
  }
  .specialDate {
    bottom: 8px;
    color: $color_bali_hai_approx;
    font-size: 11px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 70px;
  }
}




//IS THIS NOT ID element???
.modal {
  display: none;
  display: none;
  position: absolute;
  width: 359px;
  z-index: 15000;
  .close {
    background: url("../images/voyager/modal/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    margin: 15px 0 0 325px;
    overflow: hidden;
    padding: 0 0 0 19px;
    position: absolute;
    width: 0;
  }
  h4 {
    background: url("../images/voyager/modal/bg-top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: $color_cello_approx;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    padding: 27px 0 24px 24px;
    text-transform: uppercase;
    width: 335px;
  }
  .inner {
    background: url("../images/voyager/modal/bg-inner.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    color: $color_mine_shaft_approx;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 23px;
  }
  .buttons {
    height: 10px;
    padding: 10px 0;
  }
  .bottom {
    background: url("../images/voyager/modal/bg-bottom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 359px;
  }
  .field {
    padding: 0 0 0 5px;
    clear: both;
    float: left;
    width: 100%;
    .txt {
      width: 300px;
    }
  }
  .label {
    clear: both;
    float: left;
    width: 100%;
    margin: 0 0 -4px 2px;
  }
}






//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.flexibility {
  height: 30px;
  width: 100%;
  .exact {
    float: left;
    height: 100%;
    width: 50%;
  }
  .flex {
    float: left;
    height: 100%;
    width: 50%;
  }
  input {
    vertical-align: middle;
    margin: 0 2px;
  }
  label:hover {
    color: $color_steel_blue_approx;
  }
}

/** Dropdown for the location **/
.dropLoc {
  background-image: url(../images/sprite-home.png);
  background-position: -10px 0;
  span {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
  }
  &.selected {
    background-position: 100% -188px;
    background-position: 100% -793px;
    span {
      background-position: 0 -188px;
      background-position: 0 -793px;
    }
    &:hover span {
      background-position: 0 -188px;
      background-position: 0 -793px;
    }
  }
}

@import "includes/vicon";


//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
#specials {
  background: none repeat scroll 0 0 $color_danube_approx;
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 12px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 4px $color_blumine_approx;
  float: left;
  position: relative;
  width: 352px;
  height: 122px;
  overflow: hidden;
  header {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: 0 -94px;
    //Instead of the line below you could use @includeborder-top-left-radius($radius)
    border-top-left-radius: 11px;
    //Instead of the line below you could use @includeborder-top-right-radius($radius)
    border-top-right-radius: 11px;
    height: 28px;
    a {
      background-image: url(../images/sprite-home.png);
      background-position: -10px 0;
      background-position: 100% -586px;
      color: $white;
      float: right;
      font-weight: 700;
      height: 21px;
      margin: 4px 3px 0 0;
      padding: 0 22px 0 0;
      text-decoration: none;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 -1px 0 $color_chambray_approx;
      width: auto;
      span {
        background-image: url(../images/sprite-home.png);
        background-position: -10px 0;
        background-position: 0 -586px;
        float: left;
        height: 21px;
        line-height: 20px;
        padding: 0 10px;
      }
      &:hover {
        background-position: 100% -607px;
        color: $white;
        span {
          background-position: 0 -607px;
        }
      }
      &:active {
        background-position: 100% -586px;
        span {
          background-position: 0 -586px;
        }
      }
    }
    h1 {
      color: $white;
      float: left;
      font-size: 12px;
      line-height: 28px;
      margin: 0 0 0 10px;
    }
  }
  .loadingIndicator {
    background: url("../images/splashhome/processing.gif") no-repeat scroll 50% 50% $white;
  }
  &.viewAll {
    //vendor-prefix found
    //background: -moz-linear-gradient(100% 0 270deg, #ffffff, #ebebeb) repeat scroll 0 0 rgba(0, 0, 0, 0)
    header {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      padding: 30px 0 0;
      text-align: center;
    }
    h1 {
      color: $color_waikawa_gray_approx;
      float: none;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0 0 7px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 0 $white;
    }
    span {
      color: $color_california_approx;
      font-weight: 700;
    }
    a {
      display: inline-block;
      float: none;
      span {
        color: $white;
      }
    }
  }
}

//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.map {
  background-image: url(../images/sprite-home.png);
  background-position: -10px 0;
}

//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
#checkInWrap {
  background: none repeat scroll 0 0 $white;
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 12px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 4px $color_blumine_approx;
  display: none;
  margin: 0 auto 20px;
  span {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: -300px 0;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin: -12px -12px 0 0;
    width: 25px;
    &:hover {
      background-position: -330px 0;
    }
  }
  iframe {
    height: 655px;
    margin: 12px 0;
    width: 946px;
  }
}

//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
#schedWrap {
  background: none repeat scroll 0 0 $white;
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 12px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 4px $color_blumine_approx;
  display: none;
  left: 50%;
  margin: 0 0 20px -498px;
  overflow: hidden;
  position: relative;
  width: 996px;
  span {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: -300px 0;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin: 0;
    width: 25px;
    &:hover {
      background-position: -330px 0;
    }
  }
  iframe {
    height: 690px;
    margin: 12px 0;
    width: 1056px;
  }
}


//THE LOCATION OF THIS IS CURRENTLY UNKNOWN!!!
.ieNotice {
  background: none repeat scroll 0 0 $white;
  color: $color_wedgewood_approx;
  display: none;
  font-size: 14px;
  padding-bottom: 9px;
  padding-top: 9px;
  text-align: center;
  width: 100%;
  span {
    &.browsers {
      background-image: url(../images/sprite-home.png);
      background-position: -10px 0;
      height: 15px;
      padding-left: 16px;
      padding-right: 13px;
      &.chrome {
        background-position: -400px -300px;
      }
      &.ie {
        background-position: -400px -316px;
      }
      &.firefox {
        background-position: -400px -332px;
      }
      &.safari {
        background-position: -400px -349px;
      }
    }
    &.gray {
      color: $color_mountain_mist_approx;
      font-size: 14px;
      font-weight: normal;
    }
  }
  a {
    color: $color_wedgewood_approx;
    text-decoration: none;
    &:hover {
      color: $color_anakiwa_approx;
      cursor: pointer;
    }
  }
}

.pin {
  background-image: url(../images/sprite-home.png);
  background-position: -10px 0;
  background-position: -192px -176px;
  float: right;
  height: 32px;
  margin-top: -10px;
  width: 23px;
}
#voyForgotPassword {
  background: none repeat scroll 0 0 $black_40;
  //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
  border-bottom-left-radius: 11px;
  //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
  border-bottom-right-radius: 11px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 20px $black_60 inset;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  article {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-color: $color_wedgewood_approx;
    background-position: -319px -157px;
    border: 2px solid $white;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 10px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 20px $black_60;
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: border-box;
    left: 50%;
    margin: 0 0 0 -120px;
    position: absolute;
    top: 60px;
    width: 240px;
  }
  .close {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    @extend %extend_11;
    &:hover {
      background-position: -330px 0;
    }
  }
  h1 {
    background: none repeat scroll 0 0 $white;
    //Instead of the line below you could use @includeborder-top-left-radius($radius)
    border-top-left-radius: 5px;
    //Instead of the line below you could use @includeborder-top-right-radius($radius)
    border-top-right-radius: 5px;
    padding: 8px 5px;
    text-transform: uppercase;
  }
  .left {
    padding: 10px 0 0 8px;
    width: 104px;
  }
  .right {
    padding: 10px 0 0 8px;
    width: 104px;
  }
  .button {
    background: none repeat scroll 0 0 $white;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 5px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 5px;
    float: left;
    margin: 10px 0 0;
    width: 100%;
    a {
      margin: 4px 5px 2px 0;
    }
  }
}


/** Booking Block **/

#snoopy {
  bottom: 5px;
  color: $color_chambray_approx;
  cursor: help;
  display: block;
  height: 12px;
  left: 5px;
  line-height: 12px;
  position: absolute;
}


#pageTop {
  height: 100px;
  .logoContainer {
    float: left;
    margin: 14px 0;
    z-index: 1;
  }
  .leaderboard {
    height: 90px;
    width: 728px;
    float: right;
    margin: 18px 0 10px;
    a {
      text-decoration: none;
      display: block;
      img {
        outline: none;
        border: none;
      }
    }
  }
}


#sitefx {
  left: 50%;
  margin: 0 0 0 -473px;
  position: absolute;
  top: 34px;
  z-index: -1;
  .glow {
    background: url("../images/splashhome/glow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 226px;
    left: -95px;
    position: absolute;
    top: -37px;
    width: 334px;
  }
  .map {
    background-position: 0 -209px;
    height: 150px;
    position: absolute;
    right: -50px;
    top: 0;
    width: 268px;
  }
}


#warnings {
  display: table;
  height: 104px;
  left: 50%;
  margin: 0 0 0 -280px;
  position: absolute;
  top: 34px;
  width: 560px;
  .wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}


.checkStyle {
  background-position: -60px -680px;
  display: inline-block;
  height: 13px;
  width: 13px;
  &.checked {
    background-position: -40px -680px;
  }
  input[type=checkbox] {
    background-color: $color_steel_blue_approx;
  }
}












@import "includes/ie6.scss"; //could possibly remove this
@import "includes/ie7.scss"; //could possibly remove this
@import "includes/ie8.scss";




.fr {
  .flightSchedule h1 {
    background-position: 50% -50px;
  }
  #bb li {
    width: 109px;
    a {
      width: 109px;
    }
    &.tab-left {
      width: 80px;
      a {
        width: 80px;
      }
    }
    &.tab-right {
      width: 90px;
      a {
        width: 90px;
      }
    }
    &.sep {
      width: 1px;
    }
  }
}
.it {
  .flightSchedule h1 {
    background-position: 50% -100px;
  }
  #bb li {
    &.tab-left {
      width: 80px;
      a {
        width: 80px;
      }
    }
    &.tab-right {
      width: 106px;
      a {
        width: 106px;
      }
    }
  }
  #mb li {
    width: 103px;
    a {
      width: 103px;
    }
    &.tab-left {
      width: 73px;
      a {
        width: 73px;
      }
    }
    &.sep {
      width: 1px;
    }
  }
}



#voyagerWrap {
  background: none repeat scroll 0 0 $white;
  //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
  border-bottom-left-radius: 9px;
  //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
  border-bottom-right-radius: 9px;
  iframe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
  }
}
#voyagerTab {
  body,
  form {
    background-repeat: no-repeat;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 15px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 15px;
    height: 307px;
    min-width: 281px;
    overflow: hidden;
    position: relative;
    width: 281px;
  }
}

#disabler {
  background: url("../images/voyager/modal/bg-disabler.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 0;
  position: absolute;
  width: 0;
  z-index: 14999;
}
.alertmodal {
  display: none;
  position: absolute;
  width: 359px;
  z-index: 60000;
  h4 {
    background: url("../images/modal/bg-top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: $color_cello_approx;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    padding: 27px 0 24px 24px;
    text-transform: uppercase;
    width: 335px;
  }
  .close {
    background: url("../images/modal/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    margin: 15px 0 0 325px;
    overflow: hidden;
    padding: 0 0 0 19px;
    position: absolute;
    width: 0;
  }
  .inner {
    background: url("../images/modal/bg-inner.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    color: $color_mine_shaft_approx;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 23px;
  }
  .bottom {
    background: url("../images/modal/bg-bottom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 359px;
  }
  .buttons {
    height: 10px;
    padding: 10px 0;
  }
}
#sessionTimerMsg {
  .inner {
    text-align: center;
  }
  .clock {
    background: url("../images/sessiontimeout_clock.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 200px;
    margin-top: -10px;
  }
}
#sessionExpiredMessage {
  .inner {
    text-align: center;
  }
  .clock {
    background: url("../images/sessiontimeout_clock.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 200px;
    margin-top: -10px;
  }
}
#processing {
  background-color: $color_hawkes_blue_approx;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(center top , #cde0f8, #f1f1f1)
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 10px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px $black_50;
  display: none;
  left: 50%;
  margin: 100px 0 0 -270px;
  position: absolute;
  width: 520px;
  z-index: 2;
  .spinner {
    display: block;
    margin: 20px auto 0;
    width: 32px;
  }
  h1 {
    color: $color_picton_blue_approx;
    font-family: $font-sans-serif;
    font-size: 14px/14px;
    padding: 20px 0;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $white;
  }
  aside {
    background-color: $color_hoki_approx;
    //vendor-prefix found
    //background-image: -moz-linear-gradient(center top , #5074a1, #6183b2)
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 10px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 10px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 3px $black_20 inset;
    color: $white;
    padding: 10px;
    text-align: center;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 2px $color_smalt_approx;
  }
  em {
    font-weight: bold;
  }
}



@import "includes/flexslider";


.container #content {
  background: url(../images/clouds.jpg) center 36px no-repeat;
}





.flightSchedule h1 {
  @extend %extend_5;
}
#adSpaceImage a {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 10px;
}
#banners .chip {
  background: url("../images/splashhome/loading.gif") no-repeat scroll 50% 50% $color_danube_approx;
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 12px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 4px $color_blumine_approx;
  float: left;
  height: 102px;
  margin-right: 22px;
  position: relative;
  width: 216px;
  &.last {
    margin-right: 0;
  }
}
isindex:-moz-placeholder {
  color: $color_shady_lady_approx;
}
#adultPop_link.linkselectLink {
  background-position: -848px -5px;
  margin: 0 0 9px;
}
#childPop_link.linkselectLink {
  background-position: -848px -5px;
  margin: 0 0 9px;
}
#infantPop_link.linkselectLink {
  background-position: -848px -5px;
  margin: 0 0 9px;
}
#flightClass_link.linkselectLink {
  background-position: -796px -4px;
}
#voyagerInfo a {
  @extend %extend_8;
  text-transform: uppercase;
  font-weight: 200;
}
.en .flightSchedule h1 {
  background-position: 50% 0;
}
.zh .flightSchedule h1 {
  background-position: 50% -25px;
}
.de .flightSchedule h1 {
  background-position: 50% -75px;
}
.pt .flightSchedule h1 {
  background-position: 50% -125px;
}
.es .flightSchedule h1 {
  background-position: 50% -150px;
}
.zh_cn .flightSchedule h1 {
  background-position: 50% -175px;
}
.actions a.floatLeft {
  color: $color_steel_blue_approx;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  clear: both;
  font-weight: bold;
  margin: 8px 0 20px;
}
#leaveDate label {
  padding-left: 2px;
}
.tabGradient .hours {
  color: $color_tussock_approx;
  font-weight: bold;
}
#NoFlight .row div {
  float: right;
  width: 150px;
}
#tripType.row {
  label {
    float: left;
    width: 33% !important;
  }
  input {
    margin: 0 6px 0 0;
    vertical-align: middle;
  }
}
.cabinClass label {
  float: left;
  margin: 6px 0 0;
}
.promoCode label {
  float: left;
  margin: 6px 0 0;
}
