//colors

//correct colours
$color_blue_background: #4e7cad;
$color_bismark_approx: #425f8a;
$color_chambray_approx: #3a5f85;
$color_azure_approx: #335e97;
$color_nile_blue_approx: #143058;

$color_polo_blue_approx: #85a8d2;
$color_san_juan_approx: #334d72;
$color_sail_approx: #bbd6fd;
  $color_perano_approx: $color_sail_approx;//#9cc8f9;
$color_cello_approx: #20395b;
$color_steel_blue_approx: #4e80bf;


$color_heading: #4e7dad;
$color_heading_alt: #333333;
$color_heading_bg: #d5ccae;
$color_heading_with_bg: #2c5b8a;


$color_feature_text_shadow: #03488f;

$color_body_text: #333333;
$color_link: $color_heading;
$color_link_active: #568ace;
$color_link_on_blue: #e4c088;
$color_link_on_blue_active: #d1b88f;




$color_equator_approx: #e6ba63;
$color_tussock_approx: #cb934e;
$color_tundora_approx: #444444;


$color_gallery_approx: #eeeeee;
$color_light_grey: #e5e5e5;
$color_hr_grey: #c5c5c5;
$color_celeste_approx: #cecece;
$color_alto_approx: #dddddd;
$color_mercury_approx: #e7e7e7;
$color_shady_lady_approx: #a9a9a9;
$color_mountain_mist_approx: #999999;
$color_tapa_approx: #777777;
$color_chicago_approx: #575757;

$color_modal_background: #D9E2EB;



//other colors
$color_periwinkle_gray_approx: #c7d2e1;
$color_pattens_blue_approx: #e4efff;
$color_zumthor_approx: #edf8ff;
$color_hawkes_blue_approx: #d0e8ff;
$color_alice_blue_approx: #f2f7fe;
$color_bali_hai_approx: #8597a9;
$color_nepal_approx: #8ea6be;

$color_spindle_approx: #b7d4f2;
$color_french_pass_approx: #c2e6ff;
$color_rock_blue_approx: #a4b4ca;
$color_anakiwa_approx: #a4d2ff;

$color_portage_approx: #76abe2;
$color_hippie_blue_approx: #5c8cbb;
$color_jordy_blue_approx: #94c1ff;

$color_picton_blue_approx: #3aaaeb;
$color_cornflower_blue_approx: #639be1;
$color_danube_approx: #699cce;
$color_glacier_approx: #7aa2ca;
$color_horizon_approx: #5b85b5;


$color_wedgewood_approx: #547da5;

$color_san_marino_approx: #4676a7;
$color_calypso_approx: #3a6999;

$color_kashmir_blue_approx: #4c6e9d;
$color_waikawa_gray_approx: #5776a3;
$color_hoki_approx: #6481a1;



$color_pickled_bluewood_approx: #32445a;
$color_astronaut_approx: #274978;
$color_fiord_approx: #395571;



$color_smalt_approx: #003399;
$color_regal_blue_approx: #123a71;

$color_forest_green_approx: #228d12;
$color_killarney_approx: #346a32;
$color_bilbao_approx: #226e1f;

$color_saffron_mango_approx: #ffc052;
$color_potters_clay_approx: #875d2e;
$color_california_approx: #ff9900;

$color_buttercup_approx: #f1a80d;
$color_goldenrod_approx: #ffd269;
$color_hot_toddy_approx: #aa8001;
$color_yellow_orange_approx: #fdbc3d;

$color_spicy_mustard_approx: #7a5b18;


$color_scarlet_approx: #ff3300;



$color_mine_shaft_approx: #333333;
$color_woodsmoke_approx: #111111;

$black: #000000;
$black_20: rgba(0, 0, 0, 0.2);
$black_30: rgba(0, 0, 0, 0.3);
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0, 0, 0, 0.5);
$black_60: rgba(0, 0, 0, 0.6);

$white: #ffffff;
$white_50: rgba(255, 255, 255, 0.5);
$white_70: rgba(255, 255, 255, 0.7);
$white_90: rgba(255, 255, 255, 0.9);


$grey: $color_chicago_approx;



//site settings
$site-width: 974px;
$site-sprite: url(../images/sprite.png);
$site-columns: 12;

$global-radius: 5px;
$global-padding: 10px; //used for all boxes which need that extra padding
$global-margin: 20px;

$column-inner-gutter: 20px;
$column-outer-gutter: 24px;

$menu-z-index: 1100;
$header-z-index: 1200;
$info-z-index: 1300;
$calendar-z-index: ($menu-z-index - 1);
$bb-overlay-z-index: ($calendar-z-index - 2);
$linkselect-z-index: 100;
$modal-index: 60000;
$overlay-index: 15000;

$box-shadow: 0 0 5px $color_san_juan_approx;
$text-shadow: 1px 1px 0 $black_50;

//region nav
$region-width: 800px;
$region-columns: 5;


//fonts
$font-sans-serif: Helvetica, Arial, sans-serif;
$font-sans-serif-arial: Arial, Helvetica, sans-serif;

$font_0: Helvetica;
$font_1: Source Sans Pro;
$font_2: Arial;
$font_3: sans-serif;

$body-font-family: $font-sans-serif;

$heading-font-family: $body-font-family;
$heading-font-weight: light;
$heading-margin-bottom: 0.5em;
$heading-line-height: 1em;

$paragraph-font-family: $body-font-family;
$paragraph-margin-bottom: 1rem;
$paragraph-line-height: 1.5em;
$paragraph-font-size: 12px;
$paragraph-font-weight: normal;

$lead-font-size: 15px;
$list-margin: 0 0 $column-outer-gutter/2 $column-outer-gutter/2;
$list-item-margin: 0 0 0.5em 0;



//content
$content-outer-padding: $global-padding;
$content-outer-margin: $global-margin;
$content-left-width: 310px;
$content-right-width: $site-width - $content-left-width - $content-outer-padding;
$content-left-with-sidebar-width: 312px;
$content-right-with-sidebar-width: $site-width - $content-left-with-sidebar-width - $content-outer-padding;

//breadcrumbs
$breadcrumbs-font-size: 11px;
$breadcrumbs-font-color: $color_azure_approx;


//feature images
$feature-img-border-color: #bebebe;
$feature-text-shadow: -1px 1px 0 $color_feature_text_shadow;
$feature-heading-font-size: 24px;



//icons
$icon-offset-width: 320px; //needs to be positive. Mixin will recalculate this.
$icon-offset-height: 280px; //needs to be positive. Mixin will recalculate this.
$icon-spacing: 20px;

//Effects
$ease-in-out: opacity 0.25s ease-in;

//topbar
$topbar-height: 36px;
$topbar-sitelinks-text-color: $color_nile_blue_approx;
$topbar-sitelinks-text-color-active: $color_azure_approx;
$topbar-sitelinks-text-color-hover: $color_azure_approx;
$context-links-border: 1px solid $color_polo_blue_approx;

$region-border: $context-links-border;

//menu
$menu-font-family: $font-sans-serif;
$menu-font-size: 13px;
$menu-font-weight: bold;
$menu-font-color: $white;
$menu-bg-color-active: $color_bismark_approx;

$menu-heading-color: $color_san_juan_approx;
$menu-heading-font-family: $font-sans-serif-arial;

$submenu-font-family: $font-sans-serif-arial;
$submenu-font-size: 12px;
$submenu-font-weight: bold;
$submenu-font-color: $white;
$submenu-link-color: $color_sail_approx;

$submenu-highlight-font-size: 13px;


//booking blocks
$bb-height: 437px;
$bb-tabs-offset-top: 40px;
$bb-tabs-width: 56px;
$bb-tabs-height: 60px;
$bb-tabs-width-horizontal: 33.3%;
$bb-tabs-height-horizontal: 45px;
$bb-tabs-link-bg: $color_cello_approx;
$bb-tabs-link-bg-active: $color_steel_blue_approx;
$bb-tabs-arrow-border-width: 10px;
$bb-border-radius: $global-radius;
$bb-padding: 10px;

//slider
$slider-border-radius: $global-radius;
$slider-border-width: 3px;
$slider-height: $bb-height + ($bb-padding*2) - ($slider-border-width * 2);


//form
$form-input-padding: 6px;
$form-input-margin: 6px;
$form-input-font-size: 12px;
$form-input-line-height: 16px;

//buttons
$button-height: 30px;
$button-padding: 16px;
$button-margin-right: 26px;
$button-margin-bottom: $paragraph-margin-bottom;
