@import "settings";

#slider {
  height: $slider-height;
  overflow: hidden;
  border: $slider-border-width $white solid;

  background: $white;
  border-radius: $slider-border-radius;
  box-shadow: $box-shadow;

  .flexslider {

    margin: 0;

    .slides img {
      border-radius: $slider-border-radius;
      overflow: hidden;
    }

    .flex-control-nav {
      bottom: 20px;
    }

  }

}

.flexslider {
  padding: 0;
  background: none repeat scroll 0 0 $white;
  margin: 0 0 $column-outer-gutter*1.5 0;
  position: relative;

  a {
    &:active {
      outline: medium none;
    }
    &:focus {
      outline: medium none;
    }
  }
  &:hover {
    .flex-next {
      opacity: 0.8;
      right: 35px;
      &:hover {
        opacity: 1;
      }
    }
    .flex-prev {
      left: 35px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .slides img {
    display: block;
    width: 100%;
    height: auto;
  }


  .slides {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    &:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
    }
  }
  .flex-control-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    bottom: -30px;
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
    li {
      display: inline-block;
      margin: 0 3px 6px;
    }
  }
  .flex-direction-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: none;
    a {
      //TODO Check this!!!
      background: url(../images/bg_direction_nav.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      cursor: pointer;
      display: block;
      height: 30px;
      margin: -20px 0 0;
      opacity: 0;
      position: absolute;
      text-indent: -9999px;
      top: 50%;
      width: 30px;
      z-index: 102;
    }
    .flex-next {
      background-position: 100% 0;
      right: -36px;
    }
    .flex-prev {
      left: -36px;
    }
    .disabled {
      cursor: default;
      opacity: 0.3 !important;
    }
  }
  .flex-viewport {
    max-height: 2000px;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 1s ease 0s;
  }
  .flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static;
    li {
      float: left;
      margin: 0;
      width: 25%;
    }
    img {
      cursor: pointer;
      display: block;
      opacity: 0.7;
      width: 100%;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      cursor: default;
      opacity: 1;
    }
  }

}

@media screen and (max-width: 860px) {
  .flex-direction-nav {
    .flex-prev {
      left: 35px;
      opacity: 1;
    }
    .flex-next {
      opacity: 1;
      right: 35px;
    }
  }
}

.flex-container a {
  &:active {
    outline: medium none;
  }
  &:focus {
    outline: medium none;
  }
}
.flex-pauseplay span {
  text-transform: capitalize;
}
html[xmlns] .slides {
  display: block;
}
.no-js .slides > li:first-child {
  display: block;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-control-paging li a {
  background: url(../images/sprite.png) no-repeat;
  @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 12, 1);
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  text-indent: -9999px;
  &:hover, &.flex-active {
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 12, 2);
  }
}
html .slides {
  height: 1%;
}