@import "settings";


h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: $heading-margin-bottom;

  a {
    font-size: inherit;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}
h1 {
  font-weight: 100;
  margin-bottom: $column-inner-gutter;
}
h4 {
  font-weight: bold;
}

h1, h2 {
  color: $color_heading;
}
h3, h4 {
  color: $color_heading_alt;
}

h1 {font-size: 36px;}
h2 {font-size: 18px;}
h3 {font-size: 18px;}
h4 {font-size: 14px;}
h5 {font-size: 18px;}

h5 {
  color: $color_heading_with_bg;
  background: $color_heading_bg;
  padding: 6px;//TODO update to shared variable
}

h2 {
  margin-top: $column-inner-gutter;
}


p, li, td {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  color: $color_body_text;
}
li {
  font-weight: bold;
}

ol, ul {
  margin-left: 2em;
  margin-bottom: $paragraph-margin-bottom;
}
ol {
  list-style-type: decimal;
}

p {
  margin-bottom: $paragraph-margin-bottom;
  &.half-margin {
    margin-bottom: $paragraph-margin-bottom/2;
  }
}
p.lead {
  font-weight: bold;
  font-size: $lead-font-size;
}

pre, code, kbd, samp {
  font-family: $font-sans-serif;
}


small {
  font-size: 0.9em;
}
.large {
  font-size: 1.2em;
}

hr {
  border: 0;
  border-bottom: 1px solid $color_bismark_approx;
  margin: $column-inner-gutter/2 0;
  &.dashed {
    border-bottom-style: dashed;
    border-bottom-color: $color_hr_grey;
  }
}