@import "settings";
@import "extend";

.ui-helper-clearfix {
  display: block;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.ui-helper-hidden {
  display: none;
}
.ui-button-icon {
  background-image: $site-sprite;
}


.datepicker {
  .icon-calendar {
    cursor: pointer;
  }
}


#ui-datepicker-div {
  display: none;
}

.calendar {
  display: none;
  //position: absolute;
  z-index: ($calendar-z-index);

  position: absolute;
  top: 0px;
  left: 50%;
  width: 17em;
  margin: 0 0 0 -8.5em;

}

#bb .calendar .title,
.ui-datepicker .ui-datepicker-header {
  display: block;

  background: $bb-tabs-link-bg-active $site-sprite 0 -1560px;
  border-top: 1px solid $color_spindle_approx;

  color: $white;
  font-weight: 700;
  text-shadow: 0 1px 1px $color_cello_approx;
  text-align: center;
  height: 24px;
  line-height: 24px;
}

#bb .calendar .title {
  border-radius: $global-radius;
  box-shadow: $box-shadow;
}


.ui-datepicker {
  background: $color_gallery_approx;
  border-radius: $global-radius;
  box-shadow: 0 1px 3px $color_cello_approx;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
  position: relative;

  .ui-datepicker-header {
    background-position: 0 -1571px;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    background-image: $site-sprite;
    position: absolute;
    top: 6px;
    cursor: pointer;
    height: 17px;
    width: 13px;
    span {
      display: none;
      text-indent: -999em;
    }
  }

  .ui-datepicker-next {
    right: 6px;
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 10, 1);
    &.ui-datepicker-next-hover {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 10, 2);
    }
  }

  .ui-datepicker-prev {
    left: 6px;
    @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 9, 1);
    &.ui-datepicker-prev-hover {
      @include icon-position($icon-offset-width, $icon-offset-height, $icon-spacing, 9, 2);
    }
  }

  td {
    span, a {
      color: $color_chambray_approx;
      display: block;
      padding: 0.2em;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 1px $color_celeste_approx;
      font-size: 11px;
    }
  }

  .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
    button.ui-datepicker-current {
      float: left;
    }
  }

  .ui-datepicker-title {
    color: $white;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.8em;
    margin: 1px 2.3em 0;
    text-align: center;
    text-shadow: 0 1px 1px $color_cello_approx;
    select {
      font-size: 1em;
      margin: 1px 0;
    }
  }


  select {
    &.ui-datepicker-month-year {
      width: 100%;
    }
    &.ui-datepicker-month {
      width: 49%;
    }
    &.ui-datepicker-year {
      width: 49%;
    }
  }


  table {
    border-collapse: collapse;
    color: $color_chambray_approx;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
  }


  th {
    border: 0 none;
    font-weight: 700;
    padding: 0.7em 0.3em;
    text-align: center;
    text-transform: uppercase;
  }


  td {
    //vendor-prefix found
    background-image: -moz-linear-gradient(center top , #f7f7f7, #f1f1f1);
    border: 0 none;
    border-collapse: collapse;
    box-shadow: 1px 1px 0 $white;
    padding: 1px;
    text-align: center;
    span {
      background: none repeat scroll 0 0 $color_hippie_blue_approx;
      color: $white;
      text-shadow: 0 1px 1px $color_cello_approx;
    }
    a {
      &:hover {
        background: none repeat scroll 0 0 $color_hippie_blue_approx;
        color: $white;
        text-shadow: 0 1px 1px $color_cello_approx;
      }
    }
  }

  .ui-datepicker-week-end {
    background-image: -moz-linear-gradient(center top , #eeeeee, #e7e7e7);
    background: lighten($color_celeste_approx, 8);
    border-right: none;
  }

  &.ui-datepicker-multi {
    width: auto;
  }

  .ui-datepicker-current-day a {
    background: $color_hippie_blue_approx;
    color: $white;
    text-shadow: none;
  }
  .ui-datepicker-calendar a.ui-state-hover {
    background-color: $color_chambray_approx;
    color: $white;
  }
  .ui-datepicker-other-month a {
    color: $color_mountain_mist_approx;
  }
  .ui-datepicker-unselectable span {
    background: $color_celeste_approx;
    color: $color_tapa_approx;
    text-shadow: none;
  }


}





.ui-datepicker-multi {
  .ui-datepicker-group {
    float: left;
    table {
      margin: 0 auto 0.4em;
      width: 95%;
    }
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
  .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
}
.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-prev {
    left: auto;
    right: 2px;
    &:hover {
      left: auto;
      right: 1px;
    }
  }
  .ui-datepicker-next {
    left: 2px;
    right: auto;
    &:hover {
      left: 1px;
      right: auto;
    }
  }
  .ui-datepicker-buttonpane button {
    float: left;
    &.ui-datepicker-current {
      float: right;
    }
  }
  .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
  }
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
  }
}






.ui-dialog {
  background-color: $white;
  //vendor-prefix found
  //background-image: -moz-linear-gradient(center top , #ffffff, #cccccc)
  border: 1px solid $color_california_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 9px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 20px $black_60;
  display: block;
  padding: 0;
  position: absolute;
  width: 260px;
  .ui-dialog-titlebar {
    padding: 0;
    position: relative;
    z-index: 2;
  }
  .ui-dialog-title {
    float: left;
    font-size: 10px;
    margin: 0.1em 16px 0.1em 0;
  }
  .ui-dialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 19px;
    span {
      display: block;
      margin: 1px;
    }
    &:hover {
      padding: 0;
    }
    &:focus {
      padding: 0;
    }
  }
  .ui-dialog-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    overflow: auto;
    padding: 8px 10px 10px;
    position: relative;
  }
  .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 0.3em 1em 0.5em 0.4em;
    text-align: left;
    .ui-dialog-buttonset {
      float: right;
    }
    button {
      cursor: pointer;
      margin: 0.5em 0.4em 0.5em 0;
    }
  }
  .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
  }
}
.ui-widget-overlay {
  background: none repeat scroll 0 0 $black_50;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ui-tabs {
  padding: 0;
  margin: 0;
  position: relative;
  .ui-tabs-nav li {
    display: table;
    list-style: none;
  }
}
.ui-tabs-hide {
  display: none !important;
}
.ui-helper-hidden-accessible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.ui-helper-reset {
  border: 0 none;
  font-size: 100%;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-decoration: none;
}
.ui-helper-zfix {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ui-datepicker-calendar {
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}
.ui-datepicker-cover {
  display: block;
  height: 200px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 200px;
  z-index: -1;
}


.ui-autocomplete {
  z-index: 2000;
  background: $white;

  border-radius: 0 0 $global-radius $global-radius;
  border: none;
  box-shadow: 0 0 5px $color_smalt_approx;

  list-style: none outside none;
  position: absolute;

  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  margin: 24px 0 0 0 !important;



  @include box-resizing;
  /*
  li {
    clear: left;
    float: left;
    width: 100%;
    a {
      color: $color_tundora_approx;
      cursor: pointer;
      display: block;
      padding: 2px;
      text-decoration: none;
      &:hover,
      &.ui-state-hover {
        background-color: $color_jordy_blue_approx;
        color: $white;
        font-weight: normal;
      }
      span {
        display: none;
        strong {
          display: inline;
          padding: 0 0 0 5px;
        }
      }
      strong span {
        display: inline;
      }
    }
  }
  */
}
.ui-button {
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
}
.combobox {
  input {
    padding-right: 24px;
  }
  .ui-button {
    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 4px;
    right: 4px;
  }
}
.ui-button-icon-only {
  width: 2.2em;
  .ui-button-text {
    padding: 0.4em;
    text-indent: -1em;
  }
}
.ui-button-icons-only {
  width: 3.4em;
  .ui-button-text {
    padding: 0.4em;
    text-indent: -1em;
  }
}
.ui-buttonset {
  margin-right: 7px;
  .ui-button {
    margin-left: 0;
    margin-right: -0.3em;
  }
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-tabs-collapsible .ui-tabs-nav .ui-tabs-selected a {
  cursor: pointer;
}
.ui-datepicker-other-month .ui-datepicker-unselectable .ui-state-disabled {
  color: $color_celeste_approx;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-autocomplete-input:focus {
  background-color: $white;
}
.ui-button-text-icon-primary .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
  padding: 0.4em 2.1em 0.4em 1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em;
}