@import "settings";

.vIcon {
  span {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: -139px -193px;
    float: left;
    height: 14px;
    width: 15px;
  }
  &.next span {
    background-position: -139px -193px;
  }
  &.back span {
    background-position: -220px -193px;
  }
  &.orange span {
    background-position: -154px -193px;
  }
  &.blue span {
    background-position: -50px -193px;
  }
  &.silver span {
    background-position: -68px -193px;
  }
  &.gold span {
    background-position: -85px -193px;
  }
  &.platinum span {
    background-position: -103px -193px;
  }
  &.lifetime.platinum span {
    background-position: -121px -193px;
  }
}