@import "settings";


#voyager {
  .out {
    display: block;
    display: block;
  }
  .in {
    display: none;
  }
  form {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-color: $color_wedgewood_approx;
    background-position: -319px -127px;
  }
  .vLogo {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    background-position: 100% -30px;
    display: block;
    height: 47px;
    margin: 0 auto;
    width: 178px;
  }
  .ui-dialog-titlebar-close {
    background-image: url(../images/sprite-home.png);
    background-position: -10px 0;
    @extend %extend_11;
    &:hover {
      background-position: -330px 0;
    }
  }
  input {
    border-color: $color_glacier_approx;
    float: left;
    margin: 5px 0;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease-in 0s;
    width: 122px;
    &.invalid {
      border-color: $color_scarlet_approx;
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 3px $color_scarlet_approx;
    }
    &:focus {
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 10px $white;
    }
  }
  .top {
    height: 160px;
    padding: 10px 0 0;
  }
  .welcome {
    font-size: 14px;
    padding: 0 0 0 12px;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 2px $color_chambray_approx;
  }
  .right {
    float: left;
    padding: 0 0 0 12px;
    width: 120px;
    ul {
      color: $color_chambray_approx;
      float: left;
      list-style: none outside none;
      margin: 0;
      padding: 10px 0 0 20px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 2px $color_french_pass_approx;
    }
    li {
      line-height: 20px;
      span {
        margin: 2px 5px 0 0;
      }
    }
  }
  .left {
    float: left;
    padding: 0 0 0 12px;
    width: 120px;
    span,
    a {
      color: $color_chambray_approx;
      display: block;
      line-height: 20px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 2px $color_french_pass_approx;
    }
    a {
      &:hover {
        color: $color_nile_blue_approx;
        //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: 0 1px 2px $color_zumthor_approx;
      }
    }
  }
  label {
    color: $white;
  }
  &.loggedin {
    .right {
      width: 135px;
      ul {
        padding: 10px 0 0 5px;
      }
    }
    .left {
      padding-top: 10px;
    }
  }
  .meta {
    background: none repeat scroll 0 0 $color_wedgewood_approx;
    display: table-cell;
    height: 105px;
    text-align: center;
    vertical-align: middle;
    width: 281px;
    .col {
      float: left;
      margin: 0;
      padding: 0 0 0 5px;
      text-align: left;
      width: 135px;
    }
    h1 {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 2px $color_chambray_approx;
    }
    p {
      color: $color_sail_approx;
      display: block;
      font-size: 12px;
      max-height: 60px;
      overflow: hidden;
      padding: 10px;
    }
  }
  .actions {
    background: none repeat scroll 0 0 $white;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 9px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 9px;
    bottom: 0;
    height: 28px;
    padding: 5px 5px 2px;
    position: absolute;
    width: 271px;
  }
  #voyagerNumber {
    width: 100px;
  }
  #email {
    width: 100px;
  }
  .ui-widget-overlay {
    background: none repeat scroll 0 0 $black_50;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 10px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 10px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 20px $black_60 inset;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 281px !important;
  }
  .ui-dialog-content {
    min-height: 16px !important;
  }
  .col a {
    color: $color_anakiwa_approx;
    display: block;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      color: $white;
    }
    span {
      margin: 2px 3px 0 0;
    }
  }
  a:not(.vButton) {
    display: block;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    span {
      margin: 2px 3px 0 0;
      text-decoration: none;
    }
  }
}