@import "settings";

#warnings {
  display: table;
  display: none;
  height: 104px;
  //left: 50%;
  /*margin: 0 0 0 -280px;*/
  position: absolute;
  top: 34px;
  width: 560px;
  .wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.ntfIcon {
  background-image: url(../images/sprite.png);
  background-position: -10px 0;
  background-position: 0 -560px;
  height: 23px;
  left: -13px;
  position: absolute;
  top: 1px;
  width: 22px;
  z-index: 2;
}
.ntfWrap {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 2px $color_steel_blue_approx;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  margin: 2px auto;
  position: relative;
  &:hover {
    .ntfMore {
      background-image: none;
    }
    .ntfArea {
      background-image: none;
    }
  }
}
.ntfMore span {
  background-image: url(../images/sprite.png);
  background-position: -10px 0;
  background-position: -4px -640px;
  float: right;
  height: 8px;
  margin: 8px 5px 0 10px;
  width: 5px;
}
.ntfArea span {
  background-image: url(../images/sprite.png);
  background-position: -10px 0;
  background-position: 100% 0;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
